<style>
</style>

<div class="onboarding">
<div class="content">
<div ng-include src="'/views/onboard/welcome-box.html'"></div>
<onboard-nav current-step='currentStep'></onboard-nav>
<div class="app-wizard-step1">
<div class="app-wizard-form">
<div class="dropdown-container link-account-container">
  <div class="row">
    <div class="col-xs-10 align-center text-center">
      <p class="search-text">Search for an institution and enter your online banking credentials. We'll handle the hard part.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <h4>Name of institution</h4>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-fw" ng-class="{'fa-bank': !loadingInstitutions, 'fa-refresh fa-spin': loadingInstitutions}"></i></span>
          <input class="form-control" type="text" ng-model="selected" typeahead="institution.name for institution in searchInstitutions($viewValue)" typeahead-loading="loadingInstitutions" typeahead-on-select="fetchCredentials($item, $model, $label)" typeahead-wait-ms="750" ng-change="credentials = []" autocomplete="off">
        </div>
        <p class="help-block">It may take a few minutes to retrieve your information. We appreciate your patience.</p>
      </div>

      <div class="credentials-container" ng-show="credentials.length && !mfaCredentials.length">
        <h4>Enter credentials for {{institution.name}}</h4>
        <form name="credForm" ng-submit="submit(credForm.$valid)" novalidate>
          <div class="form-group" ng-repeat="cred in credentials | orderBy: 'display_order'" ng-class="{'has-error': submitted && credForm.{{cred.field_name}}.$invalid}">
            <label class="control-label">{{cred.label}}</label>
            <input class="form-control" type="{{cred.field_type_name}}" name="{{cred.field_name}}" ng-required="{{!cred.optional}}" ng-model="credentialValues.credentials[cred.guid]" ng-disabled="processing">
            <span ng-show="submitted && credForm.{{cred.field_name}}.$error.required" class="help-block">{{cred.label}} is required.</span>
          </div>
          <button type="submit" class="iq-submit-btn btn-primary btn" ng-hide="processing">Submit</button>
          <button type="submit" class="iq-submit-btn btn-primary btn" disabled ng-show="processing"><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
          <a href ng-click="goBack()" class="hidden-xs iq-submit-btn btn">Cancel</a>
        </form>
      </div>

      <div class="credentials-container" ng-show="mfaCredentials.length">
        <h4>Enter MFA credentials</h4>
        <form name="credMfaForm" ng-submit="submitMfa(credMfaForm.$valid)" novalidate>
          <div class="form-group" ng-repeat="cred in mfaCredentials | orderBy: 'display_order'" ng-class="{'has-error': submitted && credMfaForm.{{cred.field_name}}.$invalid}">
            <label class="control-label">{{cred.label}}</label>
            <input class="form-control" type="{{cred.field_type_name}}" name="{{cred.field_name}}" ng-required="{{!cred.optional}}" ng-model="mfaCredentialValues[cred.guid]" ng-disabled="processingMfa">
            <span ng-show="submitted && credMfaForm.{{cred.field_name}}.$error.required" class="help-block">{{cred.label}} is required.</span>
          </div>
          <button type="submit" class="iq-submit-btn btn-primary btn" ng-hide="processingMfa">Submit</button>
          <button type="submit" class="iq-submit-btn btn-primary btn" disabled ng-show="processingMfa"><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
          <a href ng-click="goBack()" class="hidden-xs iq-submit-btn btn">Cancel</a>
        </form>
      </div>

      <div class="hidden-xs" ng-hide="credentials.length || mfaCredentials.length">
        <a href ng-click="goBack()" class="iq-submit-btn cancel-btn btn">Cancel</a>
      </div>

      <p ng-show="showManual" class="manual-link">Having trouble? You can also
        <a href="/#/accounts/new" ng-if="!onboarding" id="manual-account-link">manually enter an account.</a>
        <a href="/#/onboard/accounts/new" ng-if="onboarding" id="manual-account-link">manually enter an account.</a>
      </p>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
