.action-tracker {
  background-color: #fff;
  .circle {
    fill: white;
    stroke-width: 3px;
    stroke: #c5c6c8;
    &.ontrack {
      stroke: #8ec54a;
    }
    &.warning {
      stroke: #ffc744;
    }
    &.danger {
      stroke: #e16250;
    }
  }

  .line {
    fill: none;
    stroke: #c5c6c8;
    stroke-width: 2px;
    &.ontrack {
      stroke: #8ec54a;
    }
    &.warning {
      stroke: #ffc744;
    }
    &.danger {
      stroke: #e16250;
    }
  }
  .xline, .yline {
    stroke: #eceeef;
    stroke-width: 1px;
  }
}
