/*------------------variable--------------------*/
$tabs-color: #3b5152;
@text-color: #444444;
$bg-yellow: #eeebda;
$table-header-color: #4a8f92;
$primary-btn-color: #8ec54a;
$green-color: #8ec54a;
$red-color: #e16250;
$blue-color: #4a8f92;
$dark-green-color: #009444;
$orange-color: #e79546;
$yellow-color: #d8a029;
$second-btn-color: #4a8f92;
$cancel-btn-color: #c3c1ae;
$title-color: #efeada;
$title-green-medium: #8dc34a;
$title-dark-yellow: #d8a029;
$section-header-color: #f8f6ef;
$url-images-icon: "/images/icon/";
$url-svg-icon: "/images/svg/";
$table-row-hover: #e9f3db;
$table-row-active: #efebda;
$gray-color: #aaa99a;
$modal-body-text-color: #3b5152;
$border-color: #c3c1ae;
$text-color: #414042;
/*------------------mixin--------------------*/

@mixin clearboth() {
  &:after{
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0px;
    height: 0px;
  }
}

ul{
  li{
    list-style: none;
  }
}

.nav-content{
  .navbar-nav{
    li{
      position: relative;
      a{
        i{
          color: #fff;
          font-size: 20px;
          vertical-align: middle;
        }
        span{
          margin-left: 5px;
          &.badge{
            background: #386d6f;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
      &:after{
        width: 1px;
        display: block;
        content: "";
        position: absolute;
        height: 20px;
        top: 16px;
        right: 0px;
        background: #8c8b8b;
      }
      &:last-of-type{
        &:after{
          display: none;
        }
      }
    }
  }
}

.goal-summary-head{
  background: #f8f6ef;
  margin-top: -20px;
  padding: 10px;
  i{
    vertical-align: top;
    margin-right: 10px;
  }
  h3{
    line-height: 80px;
    margin-right: 10px;
  }
  .btn{
    margin-top: -10px;
  }
  .btn-blue{
    background: #4a8f92;
    border: 1px solid #4a8f92;
    font-size: 14px;
    padding: 5px 10px;
    &:hover{
      background: #386d6f;
      border: 1px solid #386d6f;
    }
  }
  .btn-delete{
    color: #8c8b8b;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    i{
      display: inline-block;
      margin-right: 0px;
    }
  }
  i,h3,button,a{
    display: inline-block;
  }
  ul{
    @include clearboth;
    li{
      float: left;
      padding: 5px 10px 1px;
      margin-top: 9px;
      label{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
      }
      p{
        font-size: 24px;
        color: #4a8f92;
        margin-bottom: 0px;
      }
      &:last-of-type{
        border-left: 1px solid #c3c1ae;
      }
    }
  }
}

.sum-main-content{
  margin-top: 30px;
  .table-static{
    td,th{
      font-size: 14px;
    }
    table{
      thead{
        tr{
          th{
            padding-top: 10px;
            padding-bottom: 10px;
            &:last-of-type{
              text-align: right;
              padding-right: 40px;
              font-size: 18px;
            }
          }
        }
      }
      tbody{
        tr{
          position: relative;
          td{
            padding-top: 0px;
            padding-bottom: 0px;
            height: 45px;
            position: relative;
            &:last-of-type{
              text-align: right;
              padding-right: 40px;
              font-size: 18px;
              &:before{
                content: "\f105";
                display: block;
                font-size: 20px;
                color: black;
                position: absolute;
                top: 10px;
                right: 10px;
                font-family: FontAwesome;
                opacity: 0.3;
              }
            }
          }
          &.total-row{
            td{
              font-size: 18px;
              font-weight: normal;
              &:last-of-type{
                font-weight: bold;
              }
            }
          }
          &:first-of-type,&:last-of-type{
            td{
              &:last-of-type{
                &:before{
                  display: none;
                }
              }
            }
            &:hover{
              background: transparent;
              cursor: inherit;
            }
          }
          &:nth-child(3){
            &:hover, &.active{
              background: #dbe9e9;
            }
          }
          &:hover, &.active{
            background: #efebda;
            td{
              position: relative;
              &:last-of-type{
                &:before{
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
  .finance-recommendations-content{
    background: #eef4f4;
    padding: 10px;
    h3{
      font-size: 24px;
      border-bottom: 2px solid #c5c6c8;
      line-height: 36px;
    }
    ul{
      margin-bottom: 0px;
      li{
        border-bottom: 1px solid #c5c6c8;
        line-height: 32px;
        &:last-of-type{
          border-bottom: 0px;
        }
        label{
          display: inline-block;
          width: 49%;
          font-size: 14px;
          margin-bottom: 0px;
        }
        span{
          display: inline-block;
          width: 50%;
          font-size: 18px;
          text-align: right;
        }
      }
    }
  }
  .chart-content{
    position: absolute;
    top: -6px;
    left: -16px;
    .chart-main{
      width: 220px;
      height: 220px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: transparent;
      img{
        width: 100%;
      }
    }
    .chart-main-content{
      position: absolute;
      top: 25px;
      left: 25px;
      width: 170px;
      height: 170px;
      background: white;
      border-radius: 100%;
      padding-top: 15px;
      text-align: center;
      p{
        margin-bottom: 0px;
      }
      &:after{
        display: block;
        content: "";
        height: 1px;
        background: $border-color;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0px;
      }
      .downpay-status{
        color: $green-color;
        text-align: center;
        strong{
          font-size: 20px;
          display: block;
        }
        span{
          font-size: 12px;
          display: block;
          font-weight: bold;
        }
      }
      .chart-status{
        background: $green-color;
        display: inline-block;
        border-radius: 20px;
        color: white;
        z-index: 399;
        position: relative;
        padding: 5px 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        &.behind-one-month{
          background: #ffc744;
        }
        &.behind-two-month{
          background: $red-color;
        }
      }
      .save-status{
        color: $blue-color;
        strong{
          font-size: 24px;
          display: block;
        }
        span{
          display: block;
          margin-top: -3px;
          font-weight: bold;
        }
        &.behind-one-month,&.behind-two-month{
          color: $red-color;
        }
      }
    }
  }
  .downpayment-wrapper{
    padding-left: 100px;
    .downpayment-content{
      background: #f8f6ef;
      padding: 5px;
      margin-top: 5px;
      h3{
        padding-left: 103px;
        border-bottom: 2px solid #e5e0c7;
        font-size: 18px;
        color: #3b5152;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      ul{
        margin-bottom: 0px;
        li{
          padding-left: 105px;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          &:last-of-type{
            background: #efebda;
            label{
              font-weight: bold;
            }
          }
          label{
            font-weight: normal;
            float: left;
            width: 60%;
          }
          span, strong{
            display: inline-block;
            width: 40%;
            text-align: right;
            padding-right: 5px;
          }
          &.save{
            color: $green-color;
          }
          &.needed{
             border-bottom: 1px solid $border-color;
             strong{
              color: $blue-color;
             }
          }
        }
      }
    }
  }
}
.chart-downpayment{
  margin-top: 10px;
  position: relative;
}
.title-next{
  border-bottom: 1px solid $border-color;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.next-action-content{
  position: relative;
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;
  &:last-of-type{
    margin-bottom: 0px;
    border-bottom: 0px;
  }
  i{
    color: $red-color;
    margin-right: 4px;
  }
  span{
    display: block;
    padding-left: 20px;
  }
  p{
    padding-right: 118px;
  }
  .btn{
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 30px;
  }
}

.completed-action-content{
  padding-left: 20px;
  p{
    margin-bottom: 10px;
  }
}

.title-style{
  color: #9d998f;
  padding: 15px;
  font-size: 24px;
}
.content-style{
  margin-bottom: 20px;
}
[class^="alert-"],
[class*="alert-"]{
  background: #fafafb;
  border: 1px solid #c5c6c8;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  padding-right: 80px;
  padding-left: 60px;
  font-size: 16px;
  line-height: 18px;
  label{
    font-weight: normal;
    margin-bottom: 0px;
    line-height: 38px;
    display: block !important;
  }
  span{
    color: #333;
    margin-bottom: 10px;
    display: block;
    line-height: 22px;
  }
  .bg-icon{
    display: inline-block;
    padding: 10px 13px;
    margin-right: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    i{
      color: white;
      font-size: 18px;
    }
  }
  a{
    color: #abab9e;
    i{
      font-size: 18px;
    }
  }
  .down-icon{
    position: absolute;
    top: 10px;
    right: 50px;
  }
  .close-icon{
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.alert-success{
  .bg-icon{
    background: #1b944a;
  }
  label{
    color: #1b944a;
  }
}
.alert-info{
  .bg-icon{
    background: #72aba9;
  }
  label{
    color: #72aba9;
  }
}
.alert-attention{
  .bg-icon{
    background: #d69f36;
  }
  label{
    color: #d69f36;
  }
}
.alert-error{
  .bg-icon{
    background: #e06253;
  }
  label{
    color: #e06253;
  }
}

.tab-header{
  float: right;
  ul{
    margin-bottom: 0px;
    padding-top: 6px;
    li{
      display: inline-block;
      a{
        color: #3b5152;
        padding: 9px 20px 10px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #efebd9;
      }
      &:hover{
        a{
          background: transparent;
          border: 1px solid #3b5152;
        }
      }
      &.active{
        a{
          background: #3b5152;
          color: white;
          border: 1px solid #3b5152;
        }
      }
    }
  }
}

.action-list{
  .wrapper-detail{
    margin-bottom: 0px;
  }
}
.action-list-content{
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
  &:last-of-type{
    border-bottom: 0px;
    margin-bottom: 0px;
  }
  .action-list-head{
    position: relative;
    padding: 10px 320px 10px 54px;
    .icon-profile-status{
      background: transparent;
      &:before{
        display: block;
        font-size: 20px;
        color: black;
        font-style: normal;
        font-family: FontAwesome;
        line-height: 18px;
      }
    }
    &.warning-status{
      .icon-profile-status{
        &:before{
          content: "\f06a";
          color: $red-color;
        }
      }
    }
    &.warning-status-yellow{
      .icon-profile-status{
        &:before{
          content: "\f06a";
          color: #ffc744;
        }
      }
    }
    &.pending-status{
      .icon-profile-status{
        background: url("/images/icon/icon-profile-status.png") no-repeat;
        background-position: 0px -24px;
        &:before{
          content: "";
        }
      }
    }
    &.complete-status{
      .icon-profile-status{
        &:before{
          content: "\f058";
          color: $green-color;
        }
      }
      .btn{
        background: transparent;
        color: $green-color;
      }
    }
    i{
      font-size: 20px;
      &.red{
        color: $red-color;
      }
      &.yellow{
        color: #ffc744;
      }
    }
    i,p{
      display: inline-block;
      vertical-align: middle;
    }
    p{
      padding-left: 30px;
      margin-bottom: 0px;
    }
    .action-buttons {
      position: absolute;
      right: 54px;
      margin-top: -10px;
      .btn {width: 140px;}
      .explain{
        font-weight: bold;
        color: #4a8f92;
        font-size: 16px;
        margin-top: -2px;
        i{
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
  .action-list-table{
    margin-top: 20px;
    padding-left: 105px;
    padding-right: 290px;
    table{
      thead{
        tr{
          th{
            color: black;
          }
        }
      }
      tbody{
        tr{
          td{
            padding-top: 10px;
            padding-bottom: 10px;
            strong{
              font-size: 18px;
            }
            span{
              font-size: 16px;
              color: #4a8f92;
            }
            label.radio-btn{
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}

.icon-explain{
  display: inline-block;
  width: 18px;
  height: 24px;
  &:before{
    background: url($url-images-icon + "question_mark.png") no-repeat 0 0;
  }
}

.popup-main{
  width: 600px;
}

.modal{
  overflow: hidden;
  .modal-header{
    background: #ece8de;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    i{
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -5px;
    }
    h4{
      font-size: 20px;
      &.explain-tt{
        color: #4a8f92;
      }
    }
  }
}
.action-list-popup{
  p{
    margin-bottom: 0px;
    font-size: 16px;
    i,strong{
      display: inline-block;
    }
    i{
      margin-right: 7px;
    }
  }
  ul{
    li{
      float: none;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $border-color;
      &:last-of-type{
        border-bottom: 0px;
        padding-bottom: 0px;
      }
    }
  }
  .ratio-st{
    margin-right: 30px;
    margin-left: 6px;
    strong{
      margin-left: 15px;
    }
  }
  label.radio-btn{
    margin-top: 0px;
  }
  em{
    color: #8c8b8b;
  }
  .form-popup{
    padding-left: 48px;
    .form-popup-ct{
      position: relative;
      margin-top: 10px;
      .form-group{
        padding-left: 30px;
        width: 90%;
        margin-bottom: 0px;
      }
      .ratio-st{
        position: absolute;
        top: -2px;
        left: -14px;
      }
      label{
        margin-top: 0px;
      }
    }
  }
  .modal-body{
    padding: 15px 20px 15px 20px;
  }
  .modal-footer{
    text-align: center;
    padding-bottom: 30px;
    padding
    button{
      display: inline-block;
    }
  }
}
.blue-bg-content{
  background: #eef4f4;
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  float: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tab-explain{
  .tab-content{
    ul{
      border-right: 1px solid $border-color;
      li{
        float: none;
        display: block;
        border-bottom: 1px solid $border-color;
        padding: 0px;
        a{
          font-size: 14px;
          padding: 10px 20px;
          display: block;
          color: #444444;
        }
        &.active{
          a{
            font-weight: bold;
            background: #dbe9e9;
          }
        }
      }
    }
  }
  .tab-detail{
    font-size: 14px;
    p{
      font-size: 14px;
    }
  }
}
.modal-lg{
  width: 900px;
}


ul.overview-content{
  li{
    .icon-goals-cgr{
      background: url($url-svg-icon + "icon-al-rolling-goal.svg") no-repeat center;
      background-size: 60%;
      min-height: 115px;
      padding-top: 6px;
    }
    .icon-debt-cgr{
      background: url($url-svg-icon + "icon-al-rolling-debt.svg") no-repeat center;
      background-size: 60%;
      min-height: 115px;
      padding-top: 7px;
    }
    .icon-protect-cgr{
      background: url($url-svg-icon + "icon-al-rolling-policy.svg") no-repeat center;
      background-size: 70%;
      min-height: 115px;
      padding-top: 0px;
    }
  }
}

.congratulation-section{
  text-align: center;
  .icon-medal{
    background: url($url-svg-icon + "icon-al-congratulation.svg") no-repeat center;
    background-size: 100%;
    width: 220px;
    height: 130px;
    margin: 0 auto;
  }
  .rolling-ct{
    background: url($url-svg-icon + "icon-al-rolling.svg") no-repeat center;
    background-size: 100%;
    width: 450px;
    height: 60px;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding-top: 18px;
    font-size: 24px;
  }
  p{
    font-size: 18px;
    padding: 20px 0px 0px;
  }
}
