<div>
  <div class="row form-group" ng-class="{'has-error': submitted && (errors.name || objForm.name.$invalid)}">
    <div class="col-sm-4 text-right">
      <label class="control-label">Name of Goal</label>
    </div>
    <div class="col-sm-6">
      <input type="text" name="name" id="name" class="form-control" ng-model="obj.name" required ng-minlength="2">
      <span ng-repeat="error in errors.name" class="help-block">{{ error }}</span>
      <span ng-messages="submitted && objForm.name.$error" ng-messages-include="error-messages"></span>
    </div>
  </div>

  <div class="row form-group" ng-class="{'has-error': submitted && (errors.transition_on || objForm.transitionMonth.$invalid || objForm.transitionYear.$invalid)}">
    <div class="col-sm-4 text-right">
      <label class="control-label">Departure Date</label>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6 padding-lt-none padding-none-xs">
        <select ng-model="obj.transition_month" name="transitionMonth" id="months-transitionOn" class="form-control" data-placeholder="{{ thisMonth }}" tabindex="2" required>
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <span ng-repeat="error in errors.transition_on" class="help-block">{{ error }}</span>
      </div>
      <div class="col-sm-6 padding-none">
        <select ng-model="obj.transition_year" name="transitionYear" id="years-transitionOn" class="form-control" data-placeholder="{{ thisYear }}" tabindex="2" required ng-options="year for year in years">
        </select>
      </div>
      <span ng-include="'/views/timeline/modals/_adjustment_warning.html'"></span>
    </div>
  </div>

  <div class="row form-group" ng-class="{'has-error': submitted && (errors.amount || objForm.amount.$invalid)}">
    <div class="col-sm-4 text-right">
      <label class="control-label">Amount</label>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" value="{{ obj.amount }}" name="amount" id="amount" class="form-control" ng-model="obj.amount" min="1" required placeholder="0.00" maxlength="10" currency-input>
      </div>
      <span ng-repeat="error in errors.amount" class="help-block">{{ error }}</span>
      <span ng-messages="submitted && objForm.amount.$error" ng-messages-include="error-messages"></span>
    </div>
  </div>
</div>
