
<div class="row form-group">
  <div class="col-sm-4 text-right">
    <label class="control-label" for="company">Insurance Company</label>
  </div>
  <div class="col-sm-6">
    <input type="text" name="company" class="form-control" ng-model="disabilityPolicy.company" required ng-pattern="/^.{2,}$/">
      <p ng-show="disabilityPolicy.errors.name" class="help-block" ng-repeat="err in disabilityPolicy.errors.name">{{err}}</p>
      <p ng-show="submitted && disabilityPolicyForm.company.$error.required" class="help-block">Company is required.</p>
      <p ng-show="submitted && disabilityPolicyForm.company.$error.pattern" class="help-block">Company is invalid.</p>
  </div>
</div>

<div class="row form-group" ng-class="{'has-error': submitted && disabilityPolicyForm.person.$invalid}">
  <div class="col-sm-4 text-right">
    <label class="control-label" for="person">Owner</label>
  </div>
  <div class="col-sm-6">
    <select class="form-control" id="person" name="person" required ng-model="disabilityPolicy.person.guid" ng-options="person.guid as (person.first_name + ' ' + person.last_name) for person in people"></select>
    <p ng-show="submitted && disabilityPolicyForm.owner.$error.required" class="help-block">Person is required.</p>
  </div>
</div>

<div class="row form-group" ng-class="{'has-error': submitted && disabilityPolicyForm.amount.$invalid}">
  <div class="col-sm-4 text-right">
    <label class="control-label" for="amount">Monthly Payment</label>
  </div>
  <div class="col-sm-4 text-right">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="tel" class="form-control" name="payment" id="payment" required ng-model="disabilityPolicy.payment" currency-input>
    </div>
    <p ng-show="submitted && disabilityPolicyForm.amount.$error.required" class="help-block">Amount is required.</p>
    <p ng-show="submitted && disabilityPolicyForm.amount.$error.pattern" class="help-block">Amount is invalid.</p>
  </div>
</div>

<div class="row form-group" ng-class="{'has-error': submitted && disabilityPolicyForm.amount.$invalid}">
  <div class="col-sm-4 text-right">
    <label class="control-label" for="amount">Monthly Benefit Amount</label>
  </div>
  <div class="col-sm-4 text-right">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="tel" class="form-control" name="amount" id="amount" required ng-model="disabilityPolicy.amount" currency-input>
    </div>
    <p ng-show="submitted && disabilityPolicyForm.amount.$error.required" class="help-block">Amount is required.</p>
    <p ng-show="submitted && disabilityPolicyForm.amount.$error.pattern" class="help-block">Amount is invalid.</p>
  </div>
</div>
