<div class="main-title">
  <div class="container">
    <h3 class="pull-left">
      <span ng-hide="disabilityPolicy.guid">
        Add New Protection
      </span>
      <span ng-show="disabilityPolicy.guid">
        Edit Protection
      </span>
    </h3>
    <h3 class="pull-right">
      <a href="/#/progress">&times;</a>
    </h3>
  </div>
</div>
<div class="container main-wrapper">
  <div class="section-header protections">
    <i class="icon icon-pt-disability icon-36"></i> Disability Policy
  </div>
  <div class="content-wrapper">
    <div class="form-wrapper">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
          <form name="disabilityPolicyForm" role="form" ng-submit="submit(disabilityPolicyForm.$valid)" novalidate>
            <div class="form-group row" ng-class="{'has-error': submitted && disabilityPolicyForm.company.$invalid}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Insurance Company</label>
                <input type="text" name="company" class="form-control" ng-model="disabilityPolicy.company" required ng-pattern="/^.{2,}$/">
                <p ng-show="disabilityPolicy.errors.name" class="help-block" ng-repeat="err in disabilityPolicy.errors.name">{{err}}</p>
                <p ng-show="submitted && disabilityPolicyForm.company.$error.required" class="help-block">Company is required.</p>
                <p ng-show="submitted && disabilityPolicyForm.company.$error.pattern" class="help-block">Company is invalid.</p>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': submitted && disabilityPolicyForm.person.$invalid}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Owner</label>
                <select class="form-control" id="person" name="person" required ng-model="disabilityPolicy.person.guid" ng-options="person.guid as (person.first_name + ' ' + person.last_name) for person in people"></select>
                <p ng-show="submitted && disabilityPolicyForm.owner.$error.required" class="help-block">Person is required.</p>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': submitted && (disabilityPolicyForm.start_on.$invalid || disabilityPolicyForm.originationMonth.$invalid || disabilityPolicyForm.originationDay.$invalid || disabilityPolicyForm.originationYear.$invalid)}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Origination Date</label>
                <div class="row" ng-if="!isPhone">
                  <div class="col-xs-6">
                    <select name="originationMonth" class="form-control" ng-model="disabilityPolicy.month" required data-placeholder="Month" ng-options="months.indexOf(month) as month for month in months"></select>
                    <span class="help-block" ng-show="submitted && disabilityPolicyForm.originationMonth.$error.required">Month is required.</span>
                  </div>
                  <div class="col-xs-6">
                    <select name="originationYear" class="form-control" ng-model="disabilityPolicy.year" required data-placeholder="Year" ng-options="year for year in years"></select>
                    <span class="help-block" ng-show="submitted && disabilityPolicyForm.originationYear.$error.required">Year is required.</span>
                  </div>
                </div>

                <input ng-if="isPhone" type="date" class="form-control" name="origination" id="origination" required ng-model="disabilityPolicy.origination">
                <span ng-show="submitted && disabilityPolicyForm.start_on.$error.required" class="help-block">Origination date is required.</span>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': submitted && disabilityPolicyForm.amount.$invalid}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label" for="amount">Monthly Payment</label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" name="payment" id="payment" required ng-model="disabilityPolicy.payment" currency-input>
                </div>
                <p ng-show="submitted && disabilityPolicyForm.amount.$error.required" class="help-block">Amount is required.</p>
                <p ng-show="submitted && disabilityPolicyForm.amount.$error.pattern" class="help-block">Amount is invalid.</p>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': submitted && disabilityPolicyForm.amount.$invalid}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label" for="amount">Monthly Benefit Amount</label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" name="amount" id="amount" required ng-model="disabilityPolicy.amount" currency-input>
                </div>
                <p ng-show="submitted && disabilityPolicyForm.amount.$error.required" class="help-block">Amount is required.</p>
                <p ng-show="submitted && disabilityPolicyForm.amount.$error.pattern" class="help-block">Amount is invalid.</p>
              </div>
            </div>
          </form>
          <div class="row row-gutter-20">
            <button class="btn-delete col-margin-20 pull-left" ng-show="editMode" ng-disabled="pending" ng-click="openDeleteModal(disabilityPolicy)"><span class="fa fa-trash"></span></button>
            <button class="iq-submit-btn btn hidden-xs pull-left col-margin-20" ng-disabled="pending" ng-click="cancel()">Cancel</button>
            <button ng-hide="pending" class="iq-submit-btn btn-success btn pull-left col-margin-20" ng-disabled="disabilityPolicyForm.$invalid" ng-click="submit(disabilityPolicyForm.$valid)">{{editMode? 'Save Changes' : 'Add Policy'}}</button>
            <button ng-show="pending" class="iq-submit-btn btn-success btn pull-left col-margin-20" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
          </div>
      </div>
    </div>
  </div>
</div>
