<div class="main-title">
  <div class="container">
    <h3 class="pull-left">
      <span ng-hide="lifePolicy.guid">
        Add New Protection
      </span>
      <span ng-show="lifePolicy.guid">
        Edit Protection
      </span>
    </h3>
    <h3 class="pull-right">
      <a ng-href="/progress">&times;</a>
    </h3>
  </div>
</div>
<div class="container main-wrapper">
  <div class="section-header protections">
    <i class="icon icon-pt-life icon-36"></i> Life Insurance Policy
  </div>
  <div class="content-wrapper">
    <div class="form-wrapper">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
          <form name="lifePolicyForm" role="form" ng-submit="submit(lifePolicyForm.$valid)" novalidate>
            <div class="form-group row" ng-class="{'has-error': submitted && lifePolicyForm.type.$invalid}">

              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Policy Type</label>
                <select name="type" class="form-control" ng-model="lifePolicy.kind" required>
                  <option value=""></option>
                  <option value="term_5">5 Year Term</option>
                  <option value="term_10">10 Year Term</option>
                  <option value="term_15">15 Year Term</option>
                  <option value="term_20">20 Year Term</option>
                  <option value="term_25">25 Year Term</option>
                  <option value="term_30">30 Year Term</option>
                  <option value="whole_life">Whole Life Policy</option>
                  <option value="ul">Universal Life</option>
                  <option value="vul">Variable Universal Life</option>
                </select>
                <p ng-show="lifePolicy.errors.kind" class="help-block" ng-repeat="err in lifePolicy.errors.kind">{{err}}</p>
                <p ng-show="submitted && lifePolicyForm.type.$error.required" class="help-block">Type is required.</p>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': submitted && lifePolicyForm.company.$invalid}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Insurance Company</label>
                <input type="text" name="company" id="company" class="form-control" ng-model="lifePolicy.company" required ng-pattern="/^.{2,}$/">
                <p ng-show="lifePolicy.errors.name" class="help-block" ng-repeat="err in lifePolicy.errors.name">{{err}}</p>
                <p ng-show="submitted && lifePolicyForm.company.$error.required" class="help-block">Company is required.</p>
                <p ng-show="submitted && lifePolicyForm.company.$error.pattern" class="help-block">Company is invalid.</p>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': submitted && lifePolicyForm.person.$invalid}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Owner</label>
                <select class="form-control" id="person" name="person" required ng-model="lifePolicy.person.guid" ng-options="person.guid as (person.first_name + ' ' + person.last_name) for person in people"></select>
                <p ng-show="submitted && lifePolicyForm.person.$error.required" class="help-block">Person is required.</p>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': submitted && (lifePolicyForm.start_on.$invalid || lifePolicyForm.originationMonth.$invalid || lifePolicyForm.originationDay.$invalid || lifePolicyForm.originationYear.$invalid)}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Origination Date</label>

                <div class="row" ng-if="!isPhone">
                  <div class="col-xs-6">
                    <select name="originationMonth" class="form-control" ng-model="lifePolicy.month" required data-placeholder="Month" ng-options="months.indexOf(month) as month for month in months"></select>
                    <span class="help-block" ng-show="submitted && lifePolicyForm.originationMonth.$error.required">Month is required.</span>
                  </div>
                  <div class="col-xs-6">
                    <select name="originationYear" class="form-control" ng-model="lifePolicy.year" required data-placeholder="Year" ng-options="year for year in years"></select>
                    <span class="help-block" ng-show="submitted && lifePolicyForm.originationYear.$error.required">Year is required.</span>
                  </div>
                </div>

                <input ng-if="isPhone" type="date" class="form-control" name="origination" id="origination" required ng-model="lifePolicy.origination">
                <span ng-show="submitted && lifePolicyForm.start_on.$error.required" class="help-block">Origination date is required.</span>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': submitted && lifePolicyForm.payment.$invalid}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Monthly Payment</label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" name="payment" id="payment" required ng-model="lifePolicy.payment" currency-input>
                </div>
                <p ng-show="submitted && lifePolicyForm.payment.$error.required" class="help-block">Monthly Payment is required.</p>
                <p ng-show="submitted && lifePolicyForm.payment.$error.pattern" class="help-block">Monthly Payment is invalid.</p>
              </div>
            </div>
            <div class="form-group row" ng-class="{'has-error': submitted && lifePolicyForm.amount.$invalid}">
              <div class="col-lg-6 col-sm-8">
                <label class="control-label">Benefit Amount</label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" name="amount" id="amount" required ng-model="lifePolicy.amount" currency-input>
                </div>
                <p ng-show="submitted && lifePolicyForm.amount.$error.required" class="help-block">Benefit Amount is required.</p>
                <p ng-show="submitted && lifePolicyForm.amount.$error.pattern" class="help-block">Benefit Amount is invalid.</p>
              </div>
            </div>
            <div class="form-group row" ng-class="{'has-error': submitted && lifePolicyForm.beneficiary.$invalid}">
              <div class="col-lg-6 col-sm-8 ques-ratio">
                <label class="control-label">Is Spouse Beneficiary?</label>
                <input type="radio" id="yes{{$index}}" ng-value="true" name="beneficiary" ng-required="!lifePolicy.beneficiary" ng-model="lifePolicy.beneficiary">
                <label for="yes{{$index}}" class="radio-btn green">Yes</label>
                <input type="radio" id="no{{$index}}" ng-value="false" name="beneficiary" ng-required="!lifePolicy.beneficiary" ng-model="lifePolicy.beneficiary">
                <label for="no{{$index}}" class="radio-btn grey">No</label>
                <p ng-show="submitted && lifePolicyForm.beneficiary.$error.required" class="help-block">Spouse Beneficiary is required.</p>
              </div>
            </div>
          </form>
          <div class="row row-gutter-20">
            <button class="btn-delete col-margin-20 pull-left" ng-show="editMode" ng-disabled="pending" ng-click="openDeleteModal(lifePolicy)"><span class="fa fa-trash"></span></button>
            <button class="iq-submit-btn btn hidden-xs pull-left col-margin-20" ng-disabled="pending" ng-click="cancel()">Cancel</button>
            <button ng-hide="pending" class="iq-submit-btn btn-success btn pull-left col-margin-20" ng-disabled="lifePolicyForm.$invalid" ng-click="submit(lifePolicyForm.$valid)">{{editMode? 'Save Changes' : 'Add Policy'}}</button>
            <button ng-show="pending" class="iq-submit-btn btn-success btn pull-left col-margin-20" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
