<div class="main-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>
           My Progress
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="main-content-style">
    <div class="container main-wrapper">
      <div class="row">
        <div class="left-side-bar col-lg-2 col-md-3 col-sm-12 col-xs-12">
          <progress-sidebar current-page='/achievements'></progress-sidebar>
        </div>
        <div class="right-content col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <div class="wrapper-detail">
            <div class="congratulation-section">
              <i class="icon icon-medal"></i>
              <span class="rolling-ct">
                Congratulations!
              </span>
              <p>
                Here are your remarkable achievements!
              </p>
            </div>
          </div>
          <div class="content-wrapper" ng-if="goalsSection">
            <div class="section-header goals">
                <i class="icon icon-gl-custom-goal"></i>{{ goalsSection.name }}
            </div>
            <div class="wrapper-detail">
              <ul class="overview-content">
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-repeat="goal in goalsSection.items" ng-click="openCompletedActions(goal)">
                  <div class="icon-goals-cgr">
                    <span>
                      <i class="icon {{ goal.icon }} icon-80"></i>
                    </span>
                  </div>
                  <p>
                    <strong>{{ goal.name }}</strong><br>
                    <span>{{ goal.amount | dollars }} | {{ goal.date | monthYear }}</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="content-wrapper" ng-if="debtsSection">
            <div class="section-header debts">
                <i class="icon icon-db-debt"></i> {{ debtsSection.name }}
            </div>
            <div class="wrapper-detail">
              <ul class="overview-content">
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-repeat="debt in debtsSection.items" ng-click="openCompletedActions(debt)">
                  <div class="icon-debt-cgr">
                    <span>
                      <i class="icon {{ debt.icon }}  icon-80"></i>
                    </span>
                  </div>
                  <p>
                    <strong>{{ debt.name }}</strong><br>
                    <span>{{ debt.amount | dollars }} | {{ debt.date | monthYear }}</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="content-wrapper" ng-if="protectionsSection">
            <div class="section-header protections">
                <i class="icon icon-pt-protection"></i>{{ protectionsSection.name }}
            </div>
            <div class="wrapper-detail">
              <ul class="overview-content">
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-repeat="protection in protectionsSection.items" ng-click="openCompletedActions(protection)">
                  <div class="icon-protect-cgr">
                    <span>
                      <i class="icon {{ protection.icon }} icon-80"></i>
                    </span>
                  </div>
                  <p>
                    <strong> {{ protection.name }}</strong><br>
                    <span>{{ protection.amount | dollars }} | {{ protection.date | monthYear }}</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/ng-template" id="completedActionsModal">
      <div class="modal-content action-list-popup">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ item.completedActionsModalTile }}</h4>
        </div>
        <div class="modal-body">
          <div class="head-archived-popup">
            <div class="{{ item.cgrIcon }} icon-cgr">
              <span>
                <i class="icon {{ item.icon }} icon-80"></i>
              </span>
            </div>
            <h4>{{ item.name }}</h4>
            <p>Goal Completion Date: <strong> {{ item.date | monthYear }}</strong>  |  Goal Amount: <strong>{{ item.amount | dollars }}</strong></p>
          </div>
          <div class="completed-action-ct">
            <div class="section-header">
                Completed Actions
            </div>
            <div class="completed-tbl-ct">
              <ul>
                <li>
                  <i class="icon-profile-status icon-pf-complete"></i>
                  <label>
                    May 2016:
                  </label>
                  <span>Goal successfully achieved!</span>
                </li>
                <li>
                  <i class="icon-profile-status icon-pf-complete"></i>
                  <label>
                    February 2016:
                  </label>
                  <span>Transfer $2,500 from Lisa Savings to John Savings for John Smith.</span>
                </li><li>
                  <i class="icon-profile-status icon-pf-complete"></i>
                  <label>
                    January 2016:
                  </label>
                  <span>Transfer $2,500 from Lisa Savings to John Savings for John Smith.</span>
                </li><li>
                  <i class="icon-profile-status icon-pf-complete"></i>
                  <label>
                    January 2016:
                  </label>
                  <span>Goal added.</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div><!-- /.modal-content -->
</script>
