<div class="main-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>
           My Progress
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="main-content-style">
    <div class="container main-wrapper">
      <div class="row">
        <div class="left-side-bar col-lg-2 col-md-3 col-sm-12 col-xs-12">
          <ul ng-class="{'dropdown-active': dropdownActive}">
              <li ng-click="toogleDropdown()">
                <a href="javascript:void(0)" class="active">
                  <i class="icon {{ selectedSectionAttributes['icon'] }}"></i>
                  <span> {{ selectedSectionAttributes['text'] }}</span>
                </a>
                <span class="icon-arrow-down"></span>
              </li>
              <li ng-click="removeFilter()">
                <a href="javascript:void(0)" ng-class="{'active': noFilter}">
                  <i class="icon {{ sectionsAttributes['overview']['icon'] }} "></i>
                  <span> {{ sectionsAttributes['overview']['text'] }}</span>
                </a>
              </li>
              <li ng-click="filterBy('goal')">
                <a href="javascript:void(0)" ng-class="{'active': isGoalSectionActive()}"><i class="icon {{ sectionsAttributes['goal']['icon'] }}"></i>
                  <span>{{ sectionsAttributes['goal']['text'] }}</span>
                </a>
              </li>
              <li ng-click="filterBy('debt')">
                <a href="javascript:void(0)" ng-class="{'active': isDebtSectionActive()}"><i class="icon {{ sectionsAttributes['debt']['icon'] }}"></i>
                  <span>{{ sectionsAttributes['debt']['text'] }}</span>
                </a>
              </li>
              <li ng-click="filterBy('protection')">
                <a href="javascript:void(0)" ng-class="{'active': isProtectionActive()}"><i class="icon {{ sectionsAttributes['protection']['icon'] }}"></i>
                  <span>{{ sectionsAttributes['protection']['text'] }}</span>
                </a>
              </li>
              <li ng-click="gotoAchievementsPage()">
                <a href="javascript:void(0)"><i class="icon {{ sectionsAttributes['achievements']['icon'] }}"></i>
                  <span>{{ sectionsAttributes['achievements']['text'] }}</span>
                </a>
              </li>
          </ul>
        </div>
        <div class="right-content col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <div class="content-wrapper" ng-show="noFilter || categoryFilter['goal']">
            <div class="section-header goals">
                <i class="icon icon-gl-custom-goal"></i>My Goals
            </div>
            <div class="wrapper-detail">
              <ul class="overview-content">
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-repeat="goal in goals" ng-click="gotoSummary(goal)" >
                  <div class="icon-process icon-goals">
                    <div class="c100 p{{goal.progress}} small">
                      <span>
                        <i class="icon {{ goal.type | goalIconClass }} icon-80"></i>
                      </span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                  <p>
                    <strong>{{ goal.name }}</strong><br>
                    <span>{{ goal.amount | dollars }} of {{ goal.total | dollars }}</span>
                  </p>
                </li>
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-click=addGoal()>
                  <a href="javascript:void(0)">
                    <div class="icon-process icon-goals">
                      <i class="icon icon-gl-add-a-goal icon-80"></i>
                    </div>
                    <p class="add-goals">
                      <strong>Add a Goal</strong>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content-wrapper" ng-show="noFilter || categoryFilter['debt']">
            <div class="section-header debts">
                <i class="icon icon-db-debt"></i>My Debts
            </div>
            <div class="wrapper-detail">
              <ul class="overview-content">
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-repeat="debt in debts"  ng-click="gotoSummary(debt)">
                  <div class="icon-process icon-debt">
                    <div class="c100 p{{debt.progress}} small">
                      <span>
                        <i class="icon {{ debt.kind | debtIconClass }}  icon-80"></i>
                      </span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                  <p>
                    <strong>{{ debt.name }}</strong><br>
                    <span>{{ debt.amount | dollars }} of {{ debt.total | dollars }}</span>
                  </p>
                </li>
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-click="addDebt()">
                  <a href="javascript:void(0)">
                    <div class="icon-process">
                      <i class="icon icon-db-add-debt icon-80"></i>
                    </div>
                    <p class="add-debt">
                      <strong>Add a Debt</strong>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content-wrapper" ng-show=" noFilter || categoryFilter['protection']">
            <div class="section-header protections">
                <i class="icon icon-pt-protection"></i>My Protections
            </div>
            <div class="wrapper-detail">
              <ul class="overview-content">
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-repeat="protection in protections" ng-click="gotoProtectionSummary(protection)">
                  <div class="icon-process icon-protect">
                    <div class="c100 p{{protection.progress}} small">
                      <span>
                        <i class="icon {{ protection.type | protectionIconClass }} icon-80"></i>
                      </span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                  <p>
                    <strong> {{ protection.name }}</strong><br>
                    <span>{{ protection.amount | dollars }} of {{ protection.total | dollars }}</span>
                  </p>
                </li>
                <li class="col-lg-15 col-md-3 col-sm-4 col-xs-6" ng-click=addProtection()>
                  <a href="javascript:void(0)">
                    <div class="icon-process">
                      <i class="icon icon-pt-add-a-policy icon-80"></i>
                    </div>
                    <p class="add-policy">
                      <strong>Add a Protection</strong>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
