<div class="row">
  <div class="col-xs-6">
    <div class="person">
      <div class="header">
        <span class="name">John</span>
        <span class="amount"><strong>{{12342 | dollars}}</strong></span>
      </div>
      <div class="account-detail">
        <div class="donut-chart">
          <donut-chart id="chart" data="incomeData"></donut-chart>
        </div>
        <div class="table-static">
          <table class="account-table">
            <tbody>
              <tr>
                <td colspan="2" class="group-name">Qualified Assets</td>
                <td colspan="2" class="text-right balance-title"><strong>Current Balance</strong></td>
              </tr>

              <tr>
                <td class="account-indicator">
                  <i class="green"></i>
                </td>
                <td class="account-name">IRA</td>
                <td class="text-right">{{45}}%</td>
                <td class="text-right">{{123 | dollars}}</td>
              </tr>
              <tr>
                <td class="account-indicator">
                  <i class="yellow"></i>
                </td>
                <td class="account-name">IRA</td>
                <td class="text-right">{{45}}%</td>
                <td class="text-right">{{123 | dollars}}</td>
              </tr>
              <tr>
                <td colspan="3" class="group-name">Non-qualified Assets</td>
                <td></td>
              </tr>
             <tr>
                <td class="account-indicator">
                  <i class="purple"></i>
                </td>
                <td class="account-name">IRA</td>
                <td class="text-right">{{45}}%</td>
                <td class="text-right">{{123 | dollars}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td class="account-name"><strong>Total Balance</strong></td>
                <td></td>
                <td class="text-right"><strong>{{12342 | dollars}}</strong></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="table-static other-income">
        <div class="header">
          John's Other Income At Retirement
        </div>
        <table>
          <thead>
            <tr>
              <th>Income</th>
              <th>Age</th>
              <th>Monthly Income</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AAA</td>
              <td>1234%</td>
              <td>$1234</td>
            </tr>
            <tr>
              <td>AAA</td>
              <td>1234%</td>
              <td>$1234</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
