<div class="row">
  <div class="col-xs-6" ng-repeat="person in totalCurrentBalances">
    <div class="person" ng-if="person.show">
      <div class="header">
        <span class="name">{{ person.name }}'s Accounts</span>
        <span class="amount"><strong>{{ person.totalAmount | dollars }}</strong></span>
      </div>
      <div class="account-detail" ng-if="person.accounts.length > 0">
        <div class="donut-chart">
          <donut-chart data="person.accounts" padding="20"></donut-chart>
        </div>
        <div class="table-static">
          <table class="account-table">
            <tbody>
              <tr>
                <td colspan="2" class="group-name">Qualified Assets</td>
                <td colspan="2" class="text-right balance-title"><strong>Current Balance</strong></td>
              </tr>

              <tr ng-repeat="account in person.qualifiedAccounts">
                <td class="account-indicator">
                  <i style="background-color: {{account.color}}"></i>
                </td>
                <td class="account-name">{{ account.name }}</td>
                <td class="text-right">{{ account.percentage }}%</td>
                <td class="text-right">{{ account.amount | dollars }}</td>
              </tr>
              <tr>
                <td colspan="3" class="group-name">Non-qualified Assets</td>
                <td></td>
              </tr>
              <tr ng-repeat="account in person.nonQualifiedAccounts">
                <td class="account-indicator">
                  <i style="background-color: {{account.color}}"></i>
                </td>
                <td class="account-name">{{ account.name }}</td>
                <td class="text-right">{{ account.percentage }}%</td>
                <td class="text-right">{{ account.amount | dollars }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td class="account-name"><strong>Total Balance</strong></td>
                <td></td>
                <td class="text-right"><strong>{{person.totalAmount | dollars}}</strong></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="table-static other-income" ng-show="person.otherIncomes.length > 0">
        <div class="header">
          {{ person.name }}'s Other Income At Retirement
        </div>
        <table>
          <thead>
            <tr>
              <th>Income</th>
              <th>Age</th>
              <th>Monthly Income</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="income in person.otherIncomes">
              <td><strong>{{ income.name }}</strong></td>
              <td>{{ income.age}}%</td>
              <td>{{ income.amount | dollars }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
