<div class="chart-downpayment">
    <div class="chart-content">
        <goal-progress-circle complete="percentComplete" incomplete="percentIncomplete" permonth="payment" status="status" topmessage="topmessage"></goal-progress-circle>
    </div>

    <div class="downpayment-wrapper">
        <div class="downpayment-content">
            <h3>Payoff Balance</h3>
            <ul>
                <li class="save"><label>Paid</label> <span>{{ schedule.payments_made_total | dollars }}</span></li>
                <li class="needed"><label>Needed</label> <strong>{{ schedule.saving_needed | dollars }}</strong></li>
                <li><label>Total</label> <strong>{{ schedule.total | dollars }}</strong></li>
            </ul>
        </div>
    </div>
</div>
