<div class="chart-downpayment">
  <div class="chart-content">
    <goal-progress-circle complete="24" incomplete="0" permonth="2143" status="ontrackStatus"></goal-progress-circle>
  </div>
  <div class="downpayment-wrapper">
    <div class="downpayment-content">
      <h3>Downpayment</h3>
      <ul>
        <li class="save"><label>Saved</label> <span>$3,300</span></li>
        <li><label>From Capital</label> <span>$2,000</span></li>
        <li><label>From Cashflow</label> <span>$1,300</span></li>
        <li class="needed"><label>Needed</label> <strong>$12,700</strong></li>
        <li><label>Total</label> <strong>$15,000</strong></li>
      </ul>
    </div>
  </div>
</div>
