<div class="finance-recommendations">
  <div class="finance-recommendations-wrapper">
    <div class="finance-recommendations-content">
      <h3>Finance Recommendations</h3>
      <ul>
        <li><label>Start Date</label> <span>Sep 2016</span></li>
        <li><label>Loan Amount</label> <span>$8,300</span></li>
        <li><label>Interest rate</label> <span>5%</span></li>
        <li><label>Term in Years</label> <span>30</span></li>
        <li><label>Monthly Payment</label> <span>$240</span></li>
      </ul>
    </div>
  </div>
</div>
