<div class="main-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>
           My Progress
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="main-content-style retirement-summary">
    <div class="container main-wrapper">
      <div class="row">
        <div class="left-side-bar col-lg-2 col-md-3 col-sm-12 col-xs-12">
          <progress-sidebar current-page=''></progress-sidebar>
        </div>
        <div class="right-content col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <div class="content-wrapper">
            <div class="section-header goals">
                <i class="icon icon-gl-custom-goal"></i>Goal Summary
            </div>
            <div class="goal-summary-head">
              <div class="pull-left">
                <i class="icon icon-gl-retirement icon-80"></i>
                <h3>
                  {{ goal.name }}
                </h3>
                <button class="btn btn-blue" ng-if="goal" ng-click="goToEdit(goal)">
                  Edit Goal
                </button>
              </div>
              <div class="pull-right">
                <ul>
                  <li>
                    <label for="">Retirement Date</label>
                    <p ng-if="goal.transition_on">{{ goal.transition_on | monthYear}}</p>
                  </li>
                  <li>
                    <label for="">Total Goal Amount</label>
                    <p>{{ goal.amount | dollars }}</p>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row sum-main-content">
              <div class="col-md-6 col-xs-12">
                <div class="section-header">Goal Details</div>
                <div class="table-static" style="width: 100%;">
                    <table>
                        <tbody>
                          <tr>
                            <td><strong>Total Current Balance</strong></td>
                            <td>{{ schedule.balance | dollars }}</td>
                          </tr>
                          <tr>
                            <td><strong>Recomemended Contributions</strong></td>
                            <td>{{ (schedule.total_contributions-schedule.balance) | dollars }}</td>
                          </tr>
                          <tr>
                            <td><strong>401K Employer Match </strong></td>
                            <td>{{ goal.employer_match | dollars }}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="chart-downpayment">
                  <div class="chart-content">
                    <goal-progress-circle complete="percentComplete" incomplete="percentIncomplete" permonth="payment" status="status"></goal-progress-circle>
                  </div>
                  <div class="downpayment-wrapper">
                    <div class="downpayment-content">
                      <h3>{{thisYear}} Contributions</h3>
                      <ul>
                        <li class="save"><label>Saved</label> <span>{{ schedule.saved_this_year | dollars }}</span></li>
                        <li class="needed"><label>Needed</label> <strong>{{ schedule.saving_needed_this_year | dollars }}</strong></li>
                        <li><label>Total</label> <strong>{{ schedule.total_contributions_this_year | dollars }}</strong></li>
                      </ul>
                    </div>
                  </div>
                </div>
                  <div class="finance-recommendations" ng-show="financeRecommendationsActive()">
                    <div class="finance-recommendations-wrapper">
                      <div class="finance-recommendations-content">
                        <h3>Finance Recommendations</h3>
                        <ul>
                          <li><label>Start Date</label> <span ng-if="goal.transition_on">{{ goal.transition_on | monthYear }}</span></li>
                          <li><label>Loan Amount</label> <span>{{ goal.projected_finance_amount | dollars }}</span></li>
                          <li><label>Interest rate</label> <span>{{ goal.rate*100 }}%</span></li>
                          <li><label>Term in Years</label> <span>{{ goal.terms / 12}} </span></li>
                          <li><label>Monthly Payment</label> <span>{{ goal.projected_payment | dollars }}</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="content-wrapper">
            <div class="section-header">Action Tracker
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="chart-content">
                  <contribution-action-tracker schedule="schedule.data" bubble-text="schedule.bubble" baseline="schedule.baseline" status="schedule.status" projected-area-label="projectedAreaLabel" contribution-area-label="contributionAreaLabel">
                  </contribution-action-tracker>
                </div>
                <div class="formula">
                  <div class="formula-inner">
                    <div class="block block-1">
                      <div class="block">
                        <div class="title">Total Current Balance</div>
                        <div>{{ schedule.balance | dollars }}</div>
                      </div>
                      <div class="block operator">
                        +
                      </div>
                      <div class="block">
                        <div class="title">Recommended Contributions</div>
                        <div>{{ (schedule.total_contributions-schedule.balance) | dollars }}</div>
                      </div>
                    </div>
                    <div class="block">
                      <div class="block operator">
                        +
                      </div>
                    </div>
                    <div class="block block-2">
                      <div class="block">
                        <div class="title">Projected Growth</div>
                        <div>{{ schedule.projected_growth | dollars }}</div>
                      </div>
                    </div>
                    <div class="hidden-lg">
                      <div class="clearfix"></div>
                    </div>
                    <div class="block">
                      <div class="block operator">
                        =
                      </div>
                    </div>
                    <div class="block block-3">
                      <div class="block">
                        <div class="title">Total Future Value</div>
                        <div>{{ schedule.estimated_future_value | dollars }}</div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h3 class="title-next">Next Action</h3>
                <div class="next-action-content">
                  <p ng-if="status == 'warning' || status == 'danger'">
                    <i class="fa fa-exclamation-circle " ng-if="status == 'danger'"></i>
                    <i class="fa fa-exclamation-circle yellow-icon" ng-if="status == 'warning'"></i>
                    <strong>
                      You are currently
                        {{status == 'warning' ? "one month" : "two months"}}
                      behind.
                    </strong>
                    <br>
                  </p>
                  <summaries-next-actions actions="actions"></summaries-next-actions>
                </div>

              </div>
            </div>
          </div>
          <!-- <div class="content-wrapper">
            <div class="section-header">Total Current Balance (All Present Account Balances)
            </div>
            <div ng-include="'/views/summaries/_current-balance.html'" class="current-balance"></div>
          </div> -->

          <div class="content-wrapper">
            <div class="section-header">Completed Actions
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div ng-include="'/views/summaries/_completed_actions.html'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
