<div ng-include src="'/views/dropdown/_profile-header.html'" class="main-title"></div>
<div class="container main-wrapper">
  <div class="row">
    <div class="left-side-bar col-lg-2 visible-lg">
      <profile-sidebar current-page='/experience'></profile-sidebar>
    </div>
    <div class="right-content col-lg-10">
      <div class="section-header myfeatures">
        Experience
      </div>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <form name="frmExperience" class="form-horizontal" role="form" ng-submit="processForm(frmExperience)" novalidate>
              <div class="app-wizard-step1">
                <p class="step1-info"></p>
                <div class="app-wizard-form experience">
                  <div class="row investment investment-header">
                    <div class="col-xs-2 col-sm-4"><span class="visible-xs">Years:</span></div>
                    <div class="col-xs-2 col-sm-2 text-center"><span class="hidden-xs">None</span><span class="visible-xs">0</span></div>
                    <div class="col-xs-3 col-sm-2 text-center"><span class="hidden-xs">1-5 Years</span><span class="visible-xs">1-5</span></div>
                    <div class="col-xs-3 col-sm-2 text-center"><span class="hidden-xs">6-10 Years</span><span class="visible-xs">6-10</span></div>
                    <div class="col-xs-2 col-sm-2 text-center"><span class="hidden-xs">10+ Years</span><span class="visible-xs">10+</span></div>
                  </div>
                  <div class="row investment investment-item" >
                    <experience-picker exp-name="Stocks" exp-name-sm="Stocks" ng-model="experience.stocks"></experience-picker>
                  </div>
                  <div class="row investment investment-item" >
                    <experience-picker exp-name="Bonds" exp-name-sm="Bonds" ng-model="experience.bonds"></experience-picker>
                  </div>
                  <div class="row investment investment-item" >
                    <experience-picker exp-name="Mutual Funds" exp-name-sm="Mutual" ng-model="experience.mutual_funds"></experience-picker>
                  </div>
                  <div class="row investment investment-item" >
                    <experience-picker exp-name="Index Funds" exp-name-sm="Index" ng-model="experience.index_funds"></experience-picker>
                  </div>
                  <div class="row investment investment-item" >
                    <experience-picker exp-name="ETFs" exp-name-sm="ETFs" ng-model="experience.etfs"></experience-picker>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <button type="submit" ng-show="!pending" class="iq-submit-btn btn-primary btn">Save Changes</button>
                      <button type="submit" ng-show="pending" class="iq-submit-btn btn-primary btn" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
