<div class="row form-group" ng-class="{'has-error': submitted && (errors.name || objForm.name.$invalid)}">
  <div class="col-lg-6 col-md-8 col-sm-8">
    <label class="control-label">Name of Goal</label>
    <input type="text" name="name" id="name" class="form-control" ng-model="obj.name" required ng-minlength="2" ng-class="{error: objForm.name.$error.minlength}">
    <span ng-repeat="error in errors.name" class="help-block">{{ error }}</span>
    <span ng-messages="submitted && objForm.name.$error" ng-messages-include="error-messages"></span>
  </div>
</div>

<div class="row form-group" ng-class="{'has-error': submitted && (errors.transition_on || objForm.transitionMonth.$invalid || objForm.transitionYear.$invalid)}">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
    <label class="control-label">Date of Sale</label>
    <select ng-model="obj.transition_month" name="transitionMonth" id="months-transitionOn" class="form-control" name="months-transitionOn" data-placeholder="{{ thisMonth }}" tabindex="2" required ng-change="filterRelated()">
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <span ng-repeat="error in errors.transition_on" class="help-block">{{ error }}</span>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
    <label class="control-label">&nbsp;</label>
    <select ng-model="obj.transition_year" name="transitionYear" id="years-transitionOn" class="form-control" name="years-transitionOn" data-placeholder="{{ thisYear }}" tabindex="2" required ng-options="year for year in years" ng-change="filterRelated()">
    </select>
  </div>
</div>

<div class="row form-group" ng-class="{'has-error': submitted && (errors.home_sale_price || objForm.home_sale_price.$invalid)}">
  <div class="col-lg-6 col-md-8 col-sm-8">
    <label class="control-label">Sale Price of Home</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" name="home_sale_price" id="home_sale_price" class="form-control" ng-model="obj.home_sale_price" min="1" required placeholder="0" ng-change="updateProceedsAmt()" maxlength="10" currency-input>
    </div>
    <span ng-repeat="error in errors.home_sale_price" class="help-block">{{ error }}</span>
    <span ng-messages="submitted && objForm.home_sale_price.$error" ng-messages-include="error-messages"></span>
  </div>
  <div class="col-sm-12">
    <span class="hint">
      <span class="star">*</span>
      Don't know the current value of your home? Visit <a href="http://www.zillow.com/how-much-is-my-home-worth/" target="_blank">Zillow.com</a> to get an estimate.
    </span>
  </div>
</div>

<div class="row form-group" ng-class="{'has-error': submitted && (errors.loan_balance || objForm.loan_balance.$invalid)}">
   <div class="col-lg-6 col-md-8 col-sm-8">
    <label class="control-label">Current Loan Balance</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" name="loan_balance" id="loan_balance" class="form-control" ng-model="obj.loan_balance" min="0" placeholder="0" ng-change="updateProceedsAmt()" maxlength="10" currency-input required>
    </div>
    <span ng-repeat="error in errors.loan_balance" class="help-block">{{ error }}</span>
    <span ng-messages="submitted && objForm.loan_balance.$error" ng-messages-include="error-messages"></span>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-6 col-md-8 col-sm-8" ng-class="{'has-error': submitted && (errors.downpayment || objForm.downpayment.$invalid)}">
    <label class="control-label">Proceeds from Sale:</label>
    <br/>
    <span class="amt-total">
      {{ obj.amount | dollars }}
    </span>
  </div>
</div>

<div class="row form-group" ng-class="{'has-error': submitted && (errors.next_step || objForm.next_step.$invalid)}">
  <div class="col-lg-6 col-md-8 col-sm-8">
    <label class="control-label">Plan to Purchase/Rent?</label>
    <select ng-model="obj.next_step" id="next_step" name="next_step" class="form-control" required>
      <option value="buy">Buy</option>
      <option value="rent">Rent</option>
    </select>
    <span ng-repeat="error in errors.next_step" class="help-block">{{ error }}</span>
    <span ng-messages="submitted && objForm.next_step.$error" ng-messages-include="error-messages"></span>
  </div>
  <div class="col-sm-12">
    <span class="hint">
      <span class="star">*</span>
      A new goal will be generated for you according to your selection. Do not exceed the sale price of this home.
    </span>
  </div>
</div>
