<div class="container">
  <h2>Investment Types</h2>

  <div class="row">
    <div class="col-sm-12">
      <table class="iq-table table-striped table selectable">
        <thead class="dark">
          <th>Kind</th>
          <th>Asset Class</th>
          <th>Ticker</th>
          <th>Name</th>
          <th>Recommended</th>
        </thead>
        <tbody>
          <tr ng-repeat="investment in investments" ng-click="goToEdit(investment.id)">
            <td>{{investment.kind}}</td>
            <td>{{investment.asset_class}}</td>
            <td>{{investment.ticker}}</td>
            <td>{{investment.name}}</td>
            <td>{{investment.recommended}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="container">
  <a href="/#/admin/organizations/{{organizationGuid}}/investments/new" class="iq-submit-btn btn-primary btn" role="button">New Asset Type</a>
</div>
