<div class="container">
  <h2>Organizations</h2>

  <div class="row">
    <div class="col-sm-12">
      <table class="iq-table table-striped table selectable">
        <thead class="dark">
          <th>Name</th>
        </thead>
        <tbody>
          <tr ng-repeat="organization in organizations" ng-click="goToOrganizationEdit(organization.guid)">
            <td>{{organization.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <a href="/#/admin/organizations/new" class="iq-submit-btn btn-primary btn" role="button">Add New Organization</a>
    </div>
  </div>

</div>
