<div class="main-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>
          Action List
        </h3>
        <a href="javascript:void(0)" ng-click="goBack()" class="title-icon-close pull-right">
          <i class="icon icon-close"></i>
        </a>
        <div class="tab-header">
          <ul>
            <li ng-class="{active: noFilter}">
              <a ng-click="changeCategoryFilter('')"><span>All Actions</span></a>
            </li>
            <li ng-class="{active: categoryFilter.category == 'goal'}">
              <a ng-click="changeCategoryFilter('goal')"><span>Goals</span></a>
            </li>
            <li ng-class="{active: categoryFilter.category == 'debt'}">
              <a ng-click="changeCategoryFilter('debt')"><span>Debts</span></a>
            </li>
            <li ng-class="{active: categoryFilter.category == 'protection'}">
              <a ng-click="changeCategoryFilter('protection')"><span>Protections</span></a>
            </li>
            <li ng-class="{active: categoryFilter.is_completed == true}">
              <a ng-click="changeCategoryFilter('completed')"><span>Completed Actions ({{completedCount}})</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-style">
  <div class="container main-wrapper actions-content">
    <div class="row">
      <div class="action-list col-lg-12">
        <div class="wrapper-detail" ng-repeat="goal in filteredActionables = (actionables | filter:categoryFilter | filter:alertFilter)">
          <div class="section-header">
            <i class="icon {{goal | timelineGoalIcon}}"></i>
            {{goal.name}}
          </div>
          <actions-list actions="goal.actions""></actions-list>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="no-actions text-center" ng-show="!loading && !filteredActionables.length">No actions match these conditions.</div>
      </div>
    </div>
  </div>
</div>
