<div class="main-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>
          Action List
        </h3>
        <a href="#" class="title-icon-close pull-right">
          <i class="icon icon-close"></i>
        </a>
        <div class="tab-header">
          <ul>
            <li ng-class="{active: noFilter}">
              <a ng-click="changeCategoryFilter('')"><span>All Actions</span></a>
            </li>
            <li ng-class="{active: categoryFilter.category == 'goal'}">
              <a ng-click="changeCategoryFilter('goal')"><span>Goals</span></a>
            </li>
            <li ng-class="{active: categoryFilter.category == 'debt'}">
              <a ng-click="changeCategoryFilter('debt')"><span>Debts</span></a>
            </li>
            <li ng-class="{active: categoryFilter.category == 'protection'}">
              <a ng-click="changeCategoryFilter('protection')"><span>Protections</span></a>
            </li>
            <li ng-class="{active: categoryFilter.is_completed == true}">
              <a ng-click="changeCategoryFilter('completed')"><span>Completed Actions ({{completedCount}})</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-style">
  <div class="container main-wrapper actions-content">
    <div class="row">
      <div class="action-list col-lg-12">
        <div class="wrapper-detail" ng-repeat="goal in filteredActionables = (actionables | filter:categoryFilter | filter:alertFilter)">
          <div class="section-header">
            <i class="icon {{goal | timelineGoalIcon}}"></i>
            {{goal.name}}
          </div>
          <div ng-repeat="action in goal.actions" class="action-list-content" id="action-{{action.guid}}"
            ng-click="goToSingleAction(action)">
            <div class="action-list-head {{getActionStatus(action)}}">
              <i class="icon-profile-status"></i>
              <span class="visible-md-inline-block visible-lg-inline-block description" termify>{{action.description}}</span>
              <span class="hidden-md hidden-lg description" termify>{{action.short_desc}}</span>

              <a href="javascript:void(0)" class="explain" ng-click="showRationale(action)">
                <i class="icon-explain"></i>
                Explain
              </a>

              <a ng-href="{{openUrl(action)}}" target="{{target(action.actionable_href)}}" class="btn btn-primary hidden-xs"
                ng-if="!action.is_complete"
                ng-click="completeAction(action)"
                ng-disabled="!action.is_completable">Take Action</a>

              <a href="#" ng-if="action.is_complete" class="btn btn-primary btn-complete">Completed</a>
            </div>
            <div class="action-list-table" ng-if="action.positions.length && !action.is_complete">
              <div class="table-static" style="width: 100%;" ng-repeat="option in action.positions">
                <table>
                  <thead>
                    <tr>
                      <th>Recommended</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in option | partition:2">
                    <td>
                      <strong>{{row[0].percent}}%</strong>
                      <span>{{row[0].name}}</span>
                    </td>
                    <td>
                      <strong>{{row[1].percent}}%</strong>
                      <span>{{row[1].name}}</span>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="no-actions text-center" ng-show="!loading && !filteredActionables.length">No actions match these conditions.</div>
      </div>
    </div>
  </div>
</div>
