<div class="main-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>
           My Money
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="main-content-style">
    <div class="container main-wrapper">
      <div class="row">
        <div class="left-side-bar col-lg-2 col-md-3 col-sm-12 col-xs-12">
          <ul>
            <li ng-click="toogleDropdown()">
              <a href="javascript:void(0)" class="active">
                <i class="icon {{ selectedCategory.icon }}"></i>
                <span> {{ selectedCategory.text }}</span>
              </a>
              <span class="icon-arrow-down"></span>
            </li>
            <li ng-click="navigateToCategory(category.key)"
                ng-repeat="category in categories_array() | orderBy: 'position'">
              <a href="javascript:void(0)" ng-class="{'active': isActive(category.key)}">
                <i class="icon {{ category.icon }} "></i>
                <span> {{ category.text }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="right-content col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <div class="content-wrapper"
                ng-show="noFilter"
                ng-include="'/views/my-money/_overview.html'">
          </div>
          <div class="content-wrapper"
                ng-show="categoryFilter.accounts"
                ng-include="'/views/my-money/_accounts.html'">
          </div>
          <div class="content-wrapper"
                ng-show="categoryFilter.expenses"
                ng-hide="isCurrentView('update_expenses')"
                ng-include="'/views/my-money/_expenses.html'">
          </div>
          <div class="content-wrapper"
                ng-show="categoryFilter.income"
                ng-include="'/views/my-money/_income.html'">
          </div>
          <div class="content-wrapper"
                ng-show="categoryFilter['net-worth']"
                ng-include="'/views/my-money/_net-worth.html'">
          </div>
          <div  class="content-wrapper"
                ng-include="'/views/my-money/expenses/_expenses_sheet.html'"
                ng-show="isCurrentView('update_expenses')"
                ng-controller="MyMoneyUpdateExpensesSheetCtrl"></div>
        </div>
      </div>
    </div>
</div>
