<div class="container">
  <h3 ng-show="investment.id">Edit Investments</h3>
  <h3 ng-hide="investment.id">Add New Investments</h3>

  <form name="investmentForm" role="form" ng-submit="submit(investmentForm.$valid)" novalidate>

    <div class="form-group" ng-class="{'has-error': submitted && investmentForm.kind.$invalid}">
      <label class="control-label" for="kind">Kind</label>
      <select class="form-control" name="kind" required ng-model="investment.kind" ng-options="kind for kind in kinds"></select>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && investmentForm.asset_class.$invalid}">
      <label class="control-label" for="asset_class">Class</label>
      <select class="form-control" name="asset_class" required ng-model="investment.asset_class" ng-options="asset_class for asset_class in asset_classes"></select>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && investmentForm.name.$invalid}">
      <label class="control-label" for="name">Name</label>
      <input type="text" class="form-control" name="name" required ng-model="investment.name">
      <span ng-show="submitted && investmentForm.name.$error.required" class="help-block">Name is required.</span>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && investmentForm.ticker.$invalid}">
      <label class="control-label" for="ticker">Ticker</label>
      <input type="text" class="form-control" name="ticker" required ng-model="investment.ticker">
      <span ng-show="submitted && investmentForm.ticker.$error.required" class="help-block">Ticker is required.</span>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && investmentForm.cusip.$invalid}">
      <label class="control-label" for="cusip">Cusip</label>
      <input type="text" class="form-control" name="cusip" required ng-model="investment.cusip">
      <span ng-show="submitted && investmentForm.cusip.$error.required" class="help-block">Cusip is required.</span>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && investmentForm.url.$invalid}">
      <label class="control-label" for="url">URL</label>
      <input type="text" class="form-control" name="url" required ng-model="investment.url">
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && investmentForm.recommended.$invalid}">
      <label class="control-label" for="recommended">Recommended</label>
      <input type="radio" id="yes{{$index}}" ng-value="true" ng-model="investment.recommended" checked>
      <label for="yes{{$index}}" class="radio-btn green">Yes</label>
      <input type="radio" id="no{{$index}}" ng-value="false" ng-model="investment.recommended">
      <label for="no{{$index}}" class="radio-btn grey">No</label>
      <p ng-show="investment.errors.recommended" class="help-block" ng-repeat="err in investment.errors.recommended">{{err}}</p>
    </div>

    <button type="submit" class="iq-submit-btn btn-primary btn" ng-disabled="submitted && investmentForm.$invalid" ng-hide="processing">Save</button>
    <button type="submit" class="iq-submit-btn btn-primary btn" ng-show="processing" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
    <a class="iq-submit-btn btn" href="/#/admin/organizations/{{organizationGuid}}/investments">Back</a>
  </form>
</div>
