<div class="container">
  <h3 ng-show="product.id">Edit Product</h3>
  <h3 ng-hide="product.id">Add New Product</h3>

  <form name="productForm" role="form" ng-submit="submit(productForm.$valid)" novalidate>

    <div class="form-group" ng-class="{'has-error': submitted && productForm.product_class.$invalid}">
      <label class="control-label" for="product_class">Class</label>
      <select class="form-control" ng-model="product.product_class">
        <option value="Finance::Account">Account</option>
        <option value="Policies::DisabilityPolicy">Disability</option>
        <option value="Policies::LifePolicy">Life</option>
      </select>
    </div>

    <div ng-if="product.product_class == 'Finance::Account'" class="form-group" ng-class="{'has-error': submitted && productForm.kind.$invalid}">
      <label class="control-label" for="kind">Kind</label>
      <select class="form-control" ng-model="product.kind">
        <option value="savings">Savings</option>
        <option value="checking">Checking</option>
        <option value="market">Money Market</option>
        <option value="brokerage">Brokerage</option>
        <option value="education">529</option>
        <option value="ira_roth">Roth IRA</option>
      </select>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && productForm.vendor.$invalid}">
      <label class="control-label" for="vendor">Vendor</label>
      <input type="text" class="form-control" name="vendor" required ng-model="product.vendor">
      <span ng-show="submitted && productForm.vendor.$error.required" class="help-block">Vendor is required.</span>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && productForm.name.$invalid}">
      <label class="control-label" for="name">Name</label>
      <input type="text" class="form-control" name="name" required ng-model="product.name">
      <span ng-show="submitted && productForm.name.$error.required" class="help-block">Name is required.</span>
    </div>

    <button type="submit" class="iq-submit-btn btn-primary btn" ng-disabled="submitted && productForm.$invalid" ng-hide="processing">Save</button>
    <button type="submit" class="iq-submit-btn btn-primary btn" ng-show="processing" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
    <a class="iq-submit-btn btn" href="/#/admin/organizations/{{organizationGuid}}">Back</a>
  </form>
</div>
