<div class="iq-popup red-theme">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Debt</h4>
  </div>
  <div class="modal-body">
    <div ng-show="deleting" class="row text-center">
      <i class="fa fa-exclamation-triangle"></i> Deleting {{obj.name}}...
    </div>
    <form class="debt-modal-form form" name="objForm" role="form">
      <section ng-include="'/views/timeline/modals/debt-debt.html'"></section>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-show="!pending" type="button" class="iq-submit-btn btn-success btn" ng-click="save(objForm.$valid)">Save</button>
    <button ng-show="pending" type="button" class="iq-submit-btn btn-success btn" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
    <button type="button" class="iq-submit-btn btn" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button ng-show="!deleting && action == 'Edit'" type="button" class="iq-submit-btn btn-danger btn" ng-click="delete(obj)">Delete</button>
    <button ng-show="deleting && action == 'Edit'" type="button" class="iq-submit-btn btn-danger btn" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
  </div>
</div>
