<style>
body { background-color: #f1f1e8; }
</style>
<div class="row goal-items-container hidden-xs">
  <div ng-include src="'/views/timeline/_add-items.html'"></div>
  <div ng-include src="'/views/timeline/_protections.html'"></div>
</div>
<div class="timeline hidden-xs">
  <div class="timeline-focus">
    <div class="goals-wrapper">
      <div ng-repeat="goal in goals"
        slide-goal
        ng-click="tooltip.show = tooltipShow(tooltip.show, goal.guid)"
        class="goal-wrapper transition {{goal.type | hyphenate}} category-{{ goal.category }}"
        ng-style="positionX( goal.focus.x - 55 )" ng-hide="goal.focus.x < startX || goal.focus.x > endX">

        <div class="goal-indicator" ng-show="goal.category != 'debt' && !goal.deleted">
          <a class="goal-icon icon-goal-lg-{{ icon(goal.type) }}"></a>
          <div class="icon-iconstand">
            <span class="date">{{goal.date | monthYear}}</span>
          </div>
        </div>
        <div class="tooltip-container {{goal.type | hyphenate}}" ng-show="tooltip.show" id="{{goal.guid}}">
          <div class="triangle"></div>
          <div class="tooltip {{goal.type | hyphenate}}">
            <div class="tooltip-header row">
              <div class="col-xs-7 header-text">{{goal.name}}</div>
              <div class="col-xs-5 text-right">
                <i class="fa fa-bar-chart-o" ng-click="goToSummary(goal)"></i>
                <i class="fa fa-pencil" ng-click="open(goal.type, 'Edit', goal.category, goal)" analytics-on="click" analytics-event="Edit" analytics-category="Goals" analytics-label="{{goal.type | titleize}}"></i>
                <i class="fa fa-times" ng-click="goal.tooltip.show =! goal.tooltip.show"></i>
              </div>
            </div>
            <div class="monthly-payment">
              <span>Monthly Payment:</span>
              <span>{{goal.payment | currency}}</span>
            </div>
            <div class="tooltip-actions">
              <span>{{goal.actions[0].description.replace(' with the following allocation:', '.')}}</span>
            </div>
            <div class="transition-date">
              <span ng-if="goal.category == 'goal'">Completion Date:</span>
              <span ng-if="goal.category == 'debt'">Payoff Date:</span>
              <span>{{goal.date | monthYear}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="focus-ticks" style="clear:both">
     <svg height="100" style="width:100%"></svg>
    </div>
  </div>

  <div class="timeline-context">
    <div
      class="brush-both"
      slide-brush-both
      ng-style="positionX( context.brush.startX, context.brush.endX - context.brush.startX )">
    </div>
    <div
      class="brush-start"
      slide-brush
      ng-style="positionX( context.brush.startX )"
      analytics-on="click" analytics-event="Resize" analytics-category="Timeline"
      grab-slide-brush>
      <div class="slider-icons">
        <i class="fa fa-chevron-left slider-icon"></i>
        <i class="fa fa-chevron-right slider-icon"></i>
      </div>
    </div>
    <div
      class="brush-end"
      slide-brush
      ng-style="positionX( context.brush.endX - 41 )"
      analytics-on="click" analytics-event="Resize" analytics-category="Timeline"
      grab-slide-brush>
      <div class="slider-icons">
        <i class="fa fa-chevron-left slider-icon"></i>
        <i class="fa fa-chevron-right slider-icon"></i>
      </div>
    </div>
    <svg class="context-axis" style="width: 100%">
      <g ng-repeat="goal in goals">
        <circle
          class="goal transition {{ goal.type | hyphenate }} category-{{ goal.category }}"
          cx="0"
          cy="20"
          r="5"
          ng-style="positionX( goal.context.x )">
        </circle>
      </g>
    </svg>
  </div>
</div>

<div class="visible-xs" ng-include="'/views/timeline/mobile-dashboard.html'"></div>

<div ng-include src="'/views/timeline/_footer.html'"></div>

<script type="text/ng-template" id="guidedModalContent">
  <wizard on-finish="finishedWizard()" template="/views/timeline/tour-wizard.html"> 
      <wz-step wz-title="step-1">
        <div ng-include src="'/views/timeline/guided-steps/step-1.html'" />
      </wz-step>
      <wz-step wz-title="step-2">
        <div ng-include src="'/views/timeline/guided-steps/step-2.html'" />
      </wz-step>
      <wz-step wz-title="step-3">
        <div ng-include src="'/views/timeline/guided-steps/step-3.html'" />
      </wz-step>
      <wz-step wz-title="step-4">
        <div ng-include src="'/views/timeline/guided-steps/step-4.html'" />
      </wz-step>
      <wz-step wz-title="step-5">
        <div ng-include src="'/views/timeline/guided-steps/step-5.html'" />
      </wz-step>
  </wizard>
</script>