<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="dashboard-nav">
        <ul>
          <li class="goals" ng-click="gotoAddPage('goal')">
            <a href="javascript:void(0)">
              Goal
            </a>
          </li>
          <li class="debt" ng-click="gotoAddPage('debts')">
            <a href="javascript:void(0)">
              Debt
            </a>
          </li>
          <li class="policy" ng-click="gotoAddPage('protection')">
            <a href="javascript:void(0)">
              Protection
            </a>
          </li>
          <li class="archievement">
            <a href="javascript:void(0)">
              <i class="icon icon-al-my-archivement"></i>
              My Archievements
            </a>
          </li>
        </ul>
      </div>
      <a href="javascript:void(0)" class="btn btn-primary pull-right" ng-click="clickActionButton()">
        Completed My Profile <span class="badge">{{incompleteActionsCount}}</span>
      </a>
    </div>
  </div>
</div>
