<div class="add-items-container" ng-controller="AddItemsCtrl">
  <div id="expander-goals" class="expander-goals" ng-click="expanderOpen = !expanderOpen">
    <span tooltip-placement="bottom" tooltip="Add a Goal" tooltip-append-to-body="true">
      <span class="goals-header">Goals</span>
      <span class="fa-stack expandicons">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="goals fa fa-stack-1x" ng-class="{'fa-plus': !expanderOpen, 'fa-minus': expanderOpen}"></i>
      </span>
    </span>
  </div>

  <div class="goals-slideout" ng-show="expanderOpen">
    <ul>
      <li ng-repeat="type in types">
        <div class="{{icon(type)}}" ng-click="open(type, 'New', 'goal')" tooltip-placement="bottom" tooltip="{{tooltip(type) | titleize}}" tooltip-append-to-body="true" analytics-on="click" analytics-event="Add" analytics-category="Goals" analytics-label="{{type | titleize}}"></div>
      </li>
      <li>
        <div ng-controller="ExtrasCtrl" class="icon-goal-sm-downsize pull-left" ng-click="openDownsize()" tooltip-placement="bottom" tooltip="Downsize" tooltip-append-to-body="true"></div>
      </li>
    </ul>
  </div>

  <div class="expander-debts" ng-click="open('debt', 'New', 'debt')" analytics-on="click" analytics-event="Add" analytics-category="Debts">
    <span tooltip-placement="bottom" tooltip="Add a Debt" tooltip-append-to-body="true">
      <span class="debts-header">Debts</span>
      <span class="fa-stack expandicons">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="debts fa fa-plus fa-stack-1x"></i>
      </span>
    </span>
  </div>
</div>
