<div class="main-title">
  <div class="container">
    <h3 class="pull-left">
      <span>
        Add New Goal
      </span>
    </h3>
    <h3 class="pull-right">
      <a href="/#/progress">&times;</a>
    </h3>
  </div>
</div>

<div class="main-content-style">
  <div class="container main-wrapper add-new-section">
    <ul class="row">
      <li class="col-lg-17 col-md-2 col-sm-3 col-xs-6" ng-repeat="type in types">
        <div class="add-section-button" ng-click="addNewGoal(type)">
          <i class="icon {{ type | goalIconClass }} icon-80"></i>
          <span>{{type | titleize }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
