  <div class="summary-chart">
    <a class="btn btn-primary" href="#/my-money/expensesheet">
      Update Expenses Sheet
    </a>
    <summary-donut-chart></summary-donut-chart>
  </div>

  <div class = "tab-content expenses-tab">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-class="{active: isCurrentView('monthly_expenses')}">
        <a href="javascript:void(0)" aria-controls="home" role="tab" data-toggle="tab"
            ng-click = "updateExpensesView('monthly_expenses')">
          Total Monthly Expenses
        </a>
      </li>
      <li role="presentation" ng-class="{active: isCurrentView('monthly_debt_payments')}">
        <a href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab"
            ng-click = "updateExpensesView('monthly_debt_payments')">
          Monthly Debt Payments
        </a>
      </li>
      <li role="presentation" ng-class="{active: isCurrentView('monthly_policy_premiums')}">
        <a href="javascript:void(0)" aria-controls="messages" role="tab" data-toggle="tab"
            ng-click = "updateExpensesView('monthly_policy_premiums')">
          Monthly Policy Premiums
        </a>
      </li>
    </ul>
  </div>
