  <div class="summary-chart">
    <a class="btn btn-primary" href="#/my-money/expensesheet">
      Update Expenses Sheet
    </a>
    <div class="chart-sum-content">
      <img src="images/chart_summary.jpg" alt="">
    </div>
    <div class="chart-des-left">
      <div class="des-chart-content total-chart">
        <i class="icon icon-pattern"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>
      <div class="des-chart-content">
        <i class="icon icon-pt-protection"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>
      <div class="des-chart-content">
        <i class="icon icon-db-debt"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>
      <div class="des-chart-content">
        <i class="icon icon-mm-expenses"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>
    </div>
    <div class="chart-des-right">
      <div class="des-chart-content">
        <i class="icon icon-mm-expenses"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>
    </div>
  </div>

  <div class = "tab-content expenses-tab">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#monthlyexpense" aria-controls="home" role="tab" data-toggle="tab">Monthly Expenses</a></li>
      <li role="presentation"><a href="#monthlydebt" aria-controls="profile" role="tab" data-toggle="tab">Total Debt Payments</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Total Policy Premiums</a></li>
    </ul>

    <!-- <button type = "submit" class = "tabs-pills btn pull-left"
            ng-class = '{"active": isCurrentView("monthly_expenses")}'
            ng-click = "updateExpensesView('monthly_expenses')">
      Monthly Expenses
    </button>
    <button class = "tabs-pills btn pull-left"
            ng-class = '{"active": isCurrentView("monthly_debt_and_policy_premiums")}'
            ng-click="updateExpensesView('monthly_debt_and_policy_premiums')">
      Monthly Debt Payments and Policy Premiums
    </button> -->
  </div>
