<div class="row">
  <div class="monthly-expenses">
    <div class="col-md-12 col-xs-12 chart-des">
      <ul>
        <li class="chart-dark-yellow"><span class="chart-color"></span>
          <p>Total Current Expenses
            <span>$5,230</span>
          </p>
        </li>
        <li class="chart-green"><span class="chart-color"></span>
          <p>Total 3 Month Average
            <span>$5,090</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-xs-12 chart-content">
      <monthly-expenses-chart current-expenses-color="#e5944e"
                              three-months-average-color="#4cb47c"
                              class="monthly-expenses-chart has-info-icon">
        <div id="group-details-popup">
          <div class="info-icon-container">
            <div class="popover top fade in" style="display: none;">
              <div class="arrow"></div>
              <div class="popover-inner">
                <div class="popover-content debt">
                  <i class="fa fa-times btn-close-popover" aria-hidden="true"></i>
                  <label class="title">Groceries</label>
                  <ul>
                    <li class="chart-dark-yellow">
                      <span class="chart-color"></span> Current Expenses:  <strong>$480</strong>
                    </li>
                    <li class="chart-green">
                      <span class="chart-color"></span> 3 Month Average:  $410
                    </li>
                  </ul>
                  <label for="">Debts include:</label>
                  <ul>
                    <li>
                      <strong>Auto Loan</strong> - $350
                    </li>
                    <li>
                      <strong>Student Loan</strong> - $220
                    </li>
                    <li>
                      <strong>Credit Card</strong> - $135
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <svg width="100%" ratio="2"></svg>
      </monthly-expenses-chart>
    </div>
  </div>
</div>
