<div class="row">
  <div class="monthly-expenses">
    <div class="col-md-12 col-xs-12 chart-des">
      <ul>
        <li class="chart-dark-yellow"><span class="chart-color"></span>
          <p>Total Current Expenses
            <span>$5,230</span>
          </p>
        </li>
        <li class="chart-green"><span class="chart-color"></span>
          <p>Total 3 Month Average
            <span>$5,090</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-xs-12 chart-content">
      <monthly-expenses-chart current-expenses-color="#e5944e"
                              three-months-average-color="#4cb47c"
                              class="monthly-expenses-chart has-info-icon">
      </monthly-expenses-chart>
    </div>
  </div>
</div>
