<div class="row" >
  <div class="monthly-expenses total-debt">
    <div class="col-md-7 col-xs-12 chart-content">
      <div class="info-icon-container" style="left: 231px;top: -2px;">
        <span class="info-icon fa fa-info" aria-hidden="true" ng-click="dislaySubcategories(expense.kind)"></span>
        <div class="popover top fade in">
          <div class="arrow"></div>
          <div class="popover-inner">
            <div class="popover-content debt">
              <p>Current Total Monthly Debt Payments<br>
                <span>$705</span>
              </p>
              <label for="">Debts include:</label>
              <ul>
                <li>
                  Auto Loan <span>- $350</span>
                </li>
                <li>
                  Student Loan <span>- $220</span>
                </li>
                <li>
                  Credit Card <span>- $135</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <img src="images/monthly-graph.jpg" alt="">
    </div>
    <div class="col-md-5 col-xs-12 chart-des">
      <div class="des-chart-content total-chart">
        <i class="icon icon-db-auto-loan"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>
      <div class="des-chart-content">
        <i class="icon icon-db-auto-loan"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>
      <div class="des-chart-content">
        <i class="icon icon-db-auto-loan"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>
      <div class="des-chart-content">
        <i class="icon icon-db-auto-loan"></i>
        <p>
          <span>Total Monthly Committed Expenses</span>
          <strong>%5,480 (88%)</strong>
        </p>
      </div>


    </div>
  </div>
</div>
