<div ng-include src="'/views/my-features/_feature-header.html'" class="main-title"></div>
<div class="container main-wrapper">
    <div class="row">
        <div class="left-side-bar col-lg-2 visible-lg">
            <feature-sidebar current-page='/my-features/canibuy'></feature-sidebar>
        </div>
        <div class="right-content col-lg-10">
            <div class="section-header goals">
                <i class="icon icon-mm-net-worth"></i>Can I Buy?
            </div>
            <div class="content-wrapper">






            </div>
        </div>
    </div>
</div>




