<div class="sc-overview" ng-class="{orange: goalType=='debt', green: goalType=='goal', blue: goalType=='protection'}"
     xmlns="http://www.w3.org/1999/html">
  <div class="container sc-container">
    <div class="heading-block text-center" ng-class="{orange: goalType=='debt', green: goalType=='goal', 'blue shield-bg': goalType=='protection'}">
      <div class="icon">
        <img class="shadow" src="/images/summaries/heading-shadow.png" ng-if="goalType!='protection'">
        <img class="icon-img goal" ng-src="/images/ignore/{{icon(goalKind)}}On.svg" ng-if="goalType=='goal'">
        <img class="icon-img debt" src="/images/ignore/debt-huge.png" ng-if="goalType=='debt'">
        <img class="icon-img protection" ng-src="/images/ignore/goal-huge-{{goalKind | hyphenate}}-{{goal.kind}}.png" ng-if="goalKind=='reserve' && goal.kind == '1CR'">
        <img class="icon-img protection" ng-src="/images/ignore/goal-huge-{{goalKind | hyphenate}}-{{goal.kind}}.png" ng-if="goalKind=='reserve' && goal.kind == '3CR'">
        <img class="icon-img protection" ng-src="/images/ignore/goal-huge-{{goalKind | hyphenate}}-{{goal.kind}}.png" ng-if="goalKind=='reserve' && goal.kind == '6CR'">
      </div>
      <span class="amt-target">
        <img src="/images/summaries/shadow-top.png" class="img-responsive shadow-top" ng-if="goalType=='protection'">
        <img src="/images/summaries/shadow-bottom.png" class="img-responsive shadow-bottom" ng-if="goalType=='protection'">
        {{goal.name}}: {{titleAmount(goal) | dollars}}
      </span>
      <div class="calculation-info" ng-if="goalKind=='retirement'">*Estimated Future Value at Retirement</div>

    </div>
        <button type="button" class="iq-submit-btn btn-success btn" ng-click="goToEdit(goal)">
          Edit
        </button>

    <div class="row hidden-xs" ng-if="goalKind=='reserve' || goalKind=='college'">
      <h1 class="main-heading fund {{goalKind}}">{{thisYear}} Progress</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 date-block clearfix" ng-class="{orange: goalType=='debt', green: goalType!='debt'}">
        <div class="skew-neg clearfix">
          <div class="skew-pos text-left">
            <span>{{dateTitle}}</span>
            <span>{{goal.transition_on | monthYear}}</span>
          </div>
        </div>
        <div class="tabular-data clearfix">
          <div class="clearfix table-part" ng-repeat="part in tableParts" ng-class="{'donut-part': part['attribute']==donutPart}">
            <div class="col-sm-7 text-left">{{part['title']}}</div>
            <div class="col-sm-5 text-right">{{goal[part['attribute']] | dyno:part['filter']}}</div>
          </div>
        </div>
        <div class="skew-neg clearfix pull-right">
          <div class="skew-pos text-right">
            <span>{{amountTitle}}</span>
            <span>{{ leftAmount(goal) | dollars}}</span>
          </div>
        </div>
        <p class="calculation-info" ng-if="goalKind=='reserve'">*Amount is based on your monthly expenses.</p>
      </div>

      <div ng-if="goalKind != 'retirement'" class="col-sm-8">
        <div class="donut-chart-container clearfix">
          <div class="chart-left col-sm-7">
            <div class="saved text-right col-xs-12">{{saved | dollars}} {{(goalType == 'debt' && 'Paid') || 'Saved'}}</div>
            <div class="needed text-right col-xs-12">{{needed | dollars}} Needed</div>
          </div>
          <div class="chart-right col-sm-5">
            <track-donut complete="percentComplete" incomplete="percentIncomplete" per-month="payment" status="status" goal-type="goalType" goal-kind="goalKind"></track-donut>
          </div>
        </div>
      </div>

      <div ng-if="goalKind == 'retirement'" class="col-sm-4">
        <div class="donut-chart-container clearfix policy">
            <track-donut complete="percentComplete" incomplete="percentIncomplete" per-month="payment" status="status" goal-type="goalType" goal-kind="goalKind"></track-donut>
        </div>
      </div>

      <div ng-if="goalKind == 'retirement'" class="col-sm-4 goal-holder-details">

        <div>
          <div class="policy-holder">Rental Property</div>
          <div class="sc-separator"><span></span></div>
          <div class="no-policies" ng-show="!hasRental"><span>None.</span></div>

          <div ng-repeat="app in goal.rentals">
            <div>
              <span class="policy-term">{{app.name}}</span>
              -
              <span class="goal-amt">{{app.amount | dollars}}</span>
            </div>
          </div>
        </div>

        <div style="padding-top:20px;">
          <div class="policy-holder" >Pension</div>
          <div class="sc-separator" ><span></span></div>
          <div class="no-policies" ng-show="!hasPension"><span>None.</span></div>
          <div ng-show="hasPension">
            <div ng-show="goal.pensions.primary.used.age">
              <span class="policy-term">{{people.primary}}</span>
              -
              <span class="goal-amt">
                {{goal.pensions.primary.used.amount | dollars}}
                taken at age
                {{goal.pensions.primary.used.age}}
              </span>
            </div>

            <div ng-show="goal.pensions.spouse.used.age">
              <span class="policy-term">{{people.spouse}}</span>
              -
              <span class="goal-amt">
                {{goal.pensions.spouse.used.amount | dollars}}
                taken at age
                {{goal.pensions.spouse.used.age}}
              </span>
            </div>
          </div>
        </div>

        <div style="padding-top:20px;">
          <div class="policy-holder" >Social Security</div>
          <div class="sc-separator" ><span></span></div>
          <div class="no-policies" ng-show="!hasSocial"><span>None.</span></div>

          <div ng-show="goal.social.primary.used.age" >
            <span class="policy-term">{{people.primary}}</span>
            -
            <span class="goal-amt">
              {{goal.social.primary.used.amount | dollars}}
              taken at age
              {{goal.social.primary.used.age}}
            </span>
          </div>

          <div ng-show="goal.social.spouse.used.age" >
            <span class="policy-term">{{people.spouse}}</span>
            -
            <span class="goal-amt">
              {{goal.social.spouse.used.amount | dollars}}
              taken at age
              {{goal.social.spouse.used.age}}
            </span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
