  <div class="sc-retire-acc">
    <div class="sc-container container">
      <div class="arrow-down"></div>
      <h1>Retirement Accounts</h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="retire-fund rtl" ng-repeat="account in primaryAccounts" style="color:{{color($index)}};">
            <div class="percent">{{account.name}} <span>{{account.percent}}%</span></div>
            <div class="sc-separator"><span style="background:{{color($index)}};"></span></div>
            <div class="amt">{{account.balance | dollars}}</div>
            <div class="retire-fund-details"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="retire-chart-container">
            <retire-chart data="pieData"></retire-chart>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="retire-fund ltr" ng-repeat="account in spouseAccounts" style="color:{{color(primaryAccounts.length + $index)}};">
            <div class="percent"><span>{{account.percent}}%</span> {{account.name}}</div>
            <div class="sc-separator"><span style="background:{{color(primaryAccounts.length + $index)}};"></span></div>
            <div class="amt">{{account.balance | dollars}}</div>
            <div class="retire-fund-details"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 date-block clearfix col-sm-push-1 grey">
          <div class="skew-neg clearfix">
            <div class="skew-pos text-left first"> <span>{{goal.name}} Account Info</span> </div>
          </div>
          <div class="tabular-data clearfix">
            <div class="clearfix">
              <div class="col-sm-8 text-left">Retirement Age</div>
              <div class="col-sm-4 text-right">{{person.retirement_age}}</div>
            </div>
            <div class="clearfix">
              <div class="col-sm-8 text-left">Retirement Year</div>
              <div class="col-sm-4 text-right">{{end_year}}</div>
            </div>
            <div class="clearfix">
              <div class="col-sm-8 text-left">Monthly Saving</div>
              <div class="col-sm-4 text-right">{{payment | dollars}}</div>
            </div>
          </div>
          <div class="skew-neg clearfix pull-right">
            <div class="skew-pos text-right"> <span>Total Funds</span> <span>{{schedule.balance | dollars}}</span> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
