<div ng-include="'/views/summaries/_overview.html'"></div>
<div ng-include="'/views/summaries/_next_action.html'"></div>
<!-- <div ng-include="'/views/summaries/_retirement_accounts.html'" ng-if="isRetirement && goal.total > 0"></div> -->
 <div ng-include="'/views/summaries/_action_tracker.html'" ng-if="schedule.data.length > 0"></div>
<div ng-include="'/views/summaries/_finance.html'" ng-if="hasFinance"></div>
<div ng-include="'/views/summaries/_reserves.html'" ng-if="isReserves"></div>
<div ng-include="'/views/summaries/_college_details.html'" ng-if="isCollege"></div>
<div ng-include="'/views/summaries/_completed_actions.html'"></div>
