<div ng-include src="'/views/my-money/_money-header.html'" class="main-title"></div>
<style>
    .account-summary-background {
        background: rgba(239, 234, 218, 0.44);
    }

    .white-circle-plus {
        width: 18px;
        height: 18px;
        background: url("/images/svg/icon-al-add-white.svg");
        content: " ";
        display: inline-block;
        text-align:center;
        vertical-align: text-top
            
    }

</style>
<div class="container main-wrapper">
    <div class="row">
        <div class="left-side-bar col-lg-2 visible-lg">
            <money-sidebar current-page='/my-money/accounts-summary'></money-sidebar>
        </div>
        <div class="right-content col-lg-10">
            <div class="section-header goals">
                <i class="icon icon-mm-accounts"></i>Accounts
            </div>
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="tab-header pull-left" >
                            <ul>
                                <li ng-class="{active: noFilter}">
                                    <a ng-click="changeCategoryFilter('')" style="border: 1px solid white;cursor: pointer"><span>All Accounts</span></a>
                                </li>
                                <li ng-class="{active: categoryFilter.category == 'Linked'}" >
                                    <a ng-click="changeCategoryFilter('Linked')" style="border: 1px solid white;cursor: pointer"><span>Linked Account</span></a>
                                </li>
                                <li ng-class="{active: categoryFilter.category == 'Manual'}">
                                    <a ng-click="changeCategoryFilter('Manual')" style="border: 1px solid white;cursor: pointer"><span>Manual Accounts</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dropdown open">
                            <md-menu md-position-mode="target-right target" md-offset="0 55">

                                <a ng-href="{{disabled()}}" class="iq-submit-btn btn-primary btn btn-add pull-right dropdown-toggle" role="button" ng-click="openMenu($mdOpenMenu, $event)">
                                    <!--<span class="fa-stack" style="color:white">
                                        <i class="fa fa-plus fa-stack-1x"></i>
                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    </span>-->
                                    <i class="white-circle-plus"></i> Add Account <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>

                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="goToAccountNew()">
                                            Cash Account
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="goToAccountNew()">
                                            Investment
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="goToDebtNew()">
                                            Debt
                                        </md-button>
                                    </md-menu-item>   
                                    <md-menu-item>
                                        <md-button ng-click="goToPolicyNew()">
                                            Policy
                                        </md-button>
                                    </md-menu-item>   
                                </md-menu-content>
                            </md-menu>







                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="table-static ">

                            <table class="account-summary-background">
                                <caption>

                                    <div class="main-title" style="margin-bottom: -8px">
                                        <h4>
                                            <i class="icon icon-mm-accounts"></i>
                                            Cash Accounts
                                        </h4>
                                    </div>
                                </caption>
                                <tbody>
                                    <tr ng-repeat="item in cashaccounts" ng-click="goToAccountEdit(item.AccountId)">
                                        <td><i class="fa fa-link" ng-show="item.isLinked"></i></td>
                                        <td class="col-lg-10">
                                            <div style="height: 50px;">
                                                <p ng-bind-html="item.AccountName"> </p>
                                                <b> <span ng-bind-html="item.AccountSubText"></span></b>
                                            </div>
                                        </td>
                                        <td class="text-right"><i class="fa fa-chevron-right"></i></td>
                                    </tr>
                                    <tr><td class="col-lg-12" colspan="3"><a class="pull-right">View More...</a></td></tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="table-static">

                            <table class="account-summary-background">
                                <caption>
                                    <div class="main-title" style="margin-bottom: -8px">
                                        <h4>
                                            <i class="icon icon-db-debt"></i>
                                            Debts
                                        </h4>
                                    </div>

                                </caption>

                                <tbody>
                                    <tr ng-repeat="item in debts" ng-click="goToDebtEdit(item.AccountType, item.AccountId)">
                                        <td class="col-lg-10">
                                            <div style="height: 50px;">
                                                <p ng-bind-html="item.AccountName"> </p>
                                                <b> <span ng-bind-html="item.AccountSubText"></span></b>
                                            </div>
                                        </td>
                                        <td class="text-right"><i class="fa fa-chevron-right"></i></td>
                                    </tr>
                                    <tr><td class="col-lg-12" colspan="2"><a class="pull-right">View More...</a></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">

                <div class="col-sm-6">

                    <div class="table-static">
                        <table class="account-summary-background">
                            <caption>
                                <div class="main-title" style="margin-bottom: -8px">
                                    <h4>
                                        <i class="icon icon-mm-investment"></i>
                                        Investments
                                    </h4>
                                </div>

                            </caption>

                            <tbody>
                                <tr ng-repeat="item in investments" ng-click="goToAccountEdit(item.AccountId)">
                                    <td class="col-lg-10">
                                        <div style="height: 50px;">
                                            <p ng-bind-html="item.AccountName"> </p>
                                            <b> <span ng-bind-html="item.AccountSubText"></span></b>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td class="col-lg-12" colspan="2"><a class="pull-right">View More...</a></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
           
                    <div class="table-static">
                        <table class="account-summary-background">
                            <caption>
                                <div class="main-title" style="margin-bottom: -8px">
                                    <h4>
                                        <i class="icon icon-pt-protection"></i>
                                        Policies
                                    </h4>
                                </div>
                            </caption>
                            <thead class="dark">

                            <tbody>
                                <tr ng-repeat="item in policies" ng-click="goToPolicyEdit(item.guid,item.AccountType)">
                                    <td class="col-lg-10" style="">
                                        <div style="height: 50px;">
                                            <p ng-bind-html="item.AccountName"> </p>
                                            <b> <span ng-bind-html="item.AccountSubText"></span></b>
                                        </div>
                                    </td>
                                    <td class="text-right"><i class="fa fa-chevron-right"></i></td>
                                </tr>
                                <tr><td class="col-lg-12" colspan="2"><a class="pull-right">View More...</a></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>





        </div>
    </div>
</div>
</div>




