<div ng-include src="'/views/my-money/_money-header.html'" class="main-title"></div>
<style>
    .account-summary-background {
        background: rgba(239, 234, 218, 0.44);
    }
</style>
<div class="container main-wrapper">
    <div class="row">
        <div class="left-side-bar col-lg-2 visible-lg">
            <money-sidebar current-page='/my-money/accounts-summary'></money-sidebar>
        </div>
        <div class="right-content col-lg-10">
            <div class="section-header goals">
                <i class="icon icon-mm-accounts"></i>Accounts
            </div>
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3">
                        <a ng-href="{{disabled()}}" class="iq-submit-btn btn-primary btn btn-add pull-right" role="button">
                            <span class="fa-stack" style="color:white">
                                <i class="fa fa-plus fa-stack-1x"></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                            </span>
                             Add Account
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="table-static ">

                            <table class="account-summary-background">
                                <caption>

                                    <div class="main-title" style="margin-bottom: -8px">
                                        <h4>
                                            <i class="icon icon-mm-accounts"></i>
                                            Cash Accounts
                                        </h4>
                                    </div>
                                </caption>
                                <tbody>
                                    <tr ng-repeat="item in cashaccounts" ng-click="goToAccountEdit(item.AccountId)">
                                        <td><i class="fa fa-link" ng-show="item.isLinked"></i></td>
                                        <td class="col-lg-10">
                                            <p>
                                                {{item.AccountName}}
                                            </p>
                                            <b>{{item.AccountSubText}}</b>
                                        </td>
                                        <td class="text-right"><i class="fa fa-chevron-right"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="table-static">

                            <table class="account-summary-background">
                                <caption>
                                    <div class="main-title" style="margin-bottom: -8px">
                                        <h4>
                                            <i class="icon icon-db-debt"></i>
                                            Debts
                                        </h4>
                                    </div>

                                </caption>

                                <tbody>
                                    <tr ng-repeat="item in debts" ng-click="goToDebtEdit(item.AccountType, item.AccountId)">
                                        <td class="col-lg-10">
                                            <p>
                                                {{item.AccountName}}
                                            </p>
                                            <b>{{item.AccountSubText}}</b>
                                        </td>
                                        <td class="text-right"><i class="fa fa-chevron-right"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">

                <div class="col-sm-6">

                    <div class="table-static">
                        <table class="account-summary-background">
                            <caption>
                                <div class="main-title" style="margin-bottom: -8px">
                                    <h4>
                                        <i class="icon icon-al-my-money"></i>
                                        Investments
                                    </h4>
                                </div>

                            </caption>

                            <tbody>
                                <tr ng-repeat="item in investments" ng-click="goToAccountEdit(item.AccountId)">
                                    <td class="col-lg-10">
                                        <p>
                                            {{item.AccountName}}
                                        </p>
                                        <b>{{item.AccountSubText}}</b>
                                    </td>
                                    <td class="text-right"><i class="fa fa-chevron-right"></i></td>
                                    <!--<td>{{item.AccountName}} <span class="label label-success" ng-show="item.isLinked">Linked</span></td>
                                    <td>{{item.AccountSubText}}</td>
                                    <td>{{item.AccountStatusDisplay}}</td>-->
                                    

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="table-static">
                        <table class="account-summary-background">
                            <caption>
                                <div class="main-title" style="margin-bottom: -8px">
                                    <h4>
                                        <i class="icon icon-pt-protection"></i>
                                        Policies
                                    </h4>
                                </div>
                            </caption>
                            <thead class="dark">

                            <tbody>
                                <tr ng-repeat="item in policies" ng-click="goToAccountEdit(account.guid)">
                                    <td class="col-lg-10">
                                        <p>
                                            {{item.AccountName}}
                                        </p>
                                        <b>{{item.AccountSubText}}</b>
                                    </td>
                                    <td class="text-right"><i class="fa fa-chevron-right"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>





        </div>
    </div>
</div>
</div>




