<div ng-include src="'/views/my-money/_money-header.html'" class="main-title"></div>
<div class="container main-wrapper">
    <div class="row">
        <div class="left-side-bar col-lg-2 visible-lg">
            <money-sidebar current-page='/my-money/capitalandcashflow'></money-sidebar>
        </div>
        <div class="right-content col-lg-10">
            <div class="section-header goals">
                <i class="icon icon-mm-capital-and-cashflow"></i>Capital & Cash flow
            </div>
            <div class="content-wrapper">




            </div>
        </div>
    </div>
</div>




