<div class="row form-group">
  <label class="control-label col-lg-12">How flexible are you on adjusting this amount to be able to fund all your goals?</label>
    <div ng-disabled="!amountEntered()" class="ratio-content col-lg-2 col-md-6 col-sm-6">
      <div class="ratio-st">
          <input ng-disabled="!amountEntered()" type="radio" id="flexible_percentage_none" name="flexible_percentage" ng-model="model" value="0">
          <label class="radio-btn green" for="flexible_percentage_none">None</label>
      </div>
    </div>
    <div ng-disabled="!amountEntered()" class="ratio-content col-lg-3 col-md-6 col-sm-6">
      <div class="ratio-st">
          <input ng-disabled="!amountEntered()" type="radio" id="flexible_percentage_10" name="flexible_percentage" ng-model="model" value="0.10" checked>
          <label class="radio-btn green" for="flexible_percentage_10">Up to 10% less
            {{ amountEntered() ? ((amount - 0.1*amount) | dollars | flexibleAmount ) : "" }}
          </label>
      </div>
    </div>
    <div ng-disabled="!amountEntered()" class="ratio-content col-lg-3 col-md-6 col-sm-6">
      <div class="ratio-st">
          <input ng-disabled="!amountEntered()" type="radio" id="flexible_percentage_20" name="flexible_percentage" ng-model="model" value="0.20">
          <label class="radio-btn green" for="flexible_percentage_20">Up to 20% less
            {{ amountEntered() ? ((amount - 0.2*amount) | dollars | flexibleAmount ) : "" }}
          </label>
      </div>
    </div>
    <div ng-disabled="!amountEntered()" class="ratio-content col-lg-3 col-md-6 col-sm-6">
      <div class="ratio-st">
          <input ng-disabled="!amountEntered()" type="radio" id="flexible_percentage_30" name="flexible_percentage" ng-model="model" value="0.30">
          <label class="radio-btn green" for="flexible_percentage_30">Up to 30% less
            {{ amountEntered() ? ((amount - 0.3*amount) | dollars | flexibleAmount ) : "" }}
          </label>
      </div>
    </div>
</div>
