<div class="row form-group" >
  <label class="control-label col-lg-12">How flexible are you on adjusting this date to be able to fund all your goals?</label>
    <div class="ratio-content col-lg-2 col-md-6 col-sm-6">
      <div class="ratio-st">
          <input type="radio" id="flexible_months_none" name="flexible_months" ng-model="model" value="0">
          <label class="radio-btn green" for="flexible_months_none">None</label>
      </div>
    </div>
    <div class="ratio-content col-lg-3 col-md-6 col-sm-6">
      <div class="ratio-st">
          <input type="radio" id="flexible_months_6months" name="flexible_months" ng-model="model" value="6" checked>
          <label class="radio-btn green" for="flexible_months_6months">Up to 6 months</label>
      </div>
    </div>
    <div class="ratio-content col-lg-3 col-md-6 col-sm-6">
      <div class="ratio-st">
          <input type="radio" id="flexible_months_12months" name="flexible_months" ng-model="model" value="12">
          <label class="radio-btn green" for="flexible_months_12months">Up to 12 months</label>
      </div>
    </div>
    <div class="ratio-content col-lg-3 col-md-6 col-sm-6">
      <div class="ratio-st">
          <input type="radio" id="flexible_months_18months" name="flexible_months" ng-model="model" value="18">
          <label class="radio-btn green" for="flexible_months_18months">Up to 18 months</label>
      </div>
    </div>
</div>
