<style>
  footer p {
    display: none;
  }

  footer.demo p {
    display: block;
    background-color: #3d5253;
    color: #bdc1c2;
    margin-top: 20px;
    text-align: center;
  }

  body {
    background-color: #3d5253;
    color: #bdc1c2;
  }

  .primary-container {
    background-color: #fff;
  }

  .dark-gray {
    color: #448f91;
  }

  .dash-container {
    color: #000;
    margin-top: 30px;
  }

  .hello {
    font-size: 125%;
  }
  .login-time {
    font-size: 80%;
  }

  .heading {
    /*margin-top: 20px;*/
    margin-bottom: 10px;
  }

  .total {
    font-size: 120%;
    font-weight:bold;
  }

  .account {
    background-color: #f0f6f6;
    color: #869394;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 140%;
  }
  .billpay {
    font-size: 120%;
  }
  small {
    font-size: 12px;
  }


  .info {
    margin-top: 10px;
    background: #f8f4ec;
    padding: 20px 20px 50px;
    font-size: 14px;
    color: #6e7c7d;
  }

  .info h2 {
    margin-top: 0;
    font-size: 20px;
  }

  .bell {
    font-size: 50px;
  }

  .exchange {
    font-size: 60px;
    margin-left: 10px;
  }

  .mobile {
    font-size: 80px;
    margin-left: 10px;
  }

  .home {
    font-size: 80px;
    margin-left: 10px;
  }

  .bottom-border {
    border-bottom: 1px solid #d2d2d2;
    height: 50px;
  }

  .iq-widget {
    margin-bottom: 40px;
  }

  .actions-needed {
    display: inline-block;
    margin: 5px 0 0 20px;
    font-size: 150%;
    position: absolute;
  }

  .actions-header {
    position: relative;
  }

  .actions-header .alert-filter-icon {
    margin-left: 32px;
  }

  .actions-content {
    position: relative;
    margin: 10px 10px 0 40px;
  }

  .actions-content ul {
    padding-left: 0;
    /*border-bottom: 1px solid #d2d2d2;*/
  }

  .actions-content li {
    list-style: none;
    min-height: 53px;
    cursor: pointer;
  }

  [class^="icon-goal-"],
  .icon-debt-sm {
    display: inline-block;
  }

  .description {
    position: absolute;
    overflow: hidden;
    margin: 5px 0 0 10px;
    max-width: 100px;
    display: inline-block;
    text-overflow: ellipsis;
    max-height: 40px;
  }

  .take-action {
    background: #8ec54b;
    color: #fff;
  }

  .done {
    border: 1px sold #8ec54b;
  }

  .icon-action-success {
    position: relative;
    left: -15px;
    top: 0px;
  }

  .icon-action-alert {
    position: relative;
    left: -15px;
    top: 0px;
  }

  .shortage {
    display: none;
  }

  .iq-button {
    padding: 10px;
    background-color: #87bf5c;
    color: #fff;
    cursor: pointer;
  }
  .comp {
    font-size: 21px;
  }

  .open-account {
    background-color: #f0f6f6;
    border: 1px dashed #73a9a9;
    min-height: 30px;
    padding: 5px;
    margin-top: 20px;
  }


</style>

<div class="container dash-container" ng-controller="DashboardCtrl">



  <div class="row dark-gray">
    <!--left col-->
    <div class="col-sm-9">

      <div class="row">
        <div class="col-sm-6 hello">
          Hello, John Smith
        </div>
        <div class="col-sm-6 login-time">
          <!--{{ today }} | Last Log In: {{ lastLogin }}-->
        </div>
      </div>
      <br>
      <br>

      <div class="row heading">
        <div class="col-sm-8"><strong>Deposits/Investments</strong></div>
        <div class="col-sm-4 text-right">Total: <span class="total">$38,762.00</span></div>
      </div>

      <div class="row account">
        <div class="col-xs-6">
          <small>Interest Checking xxx2020</small>
          <br>
          Primary Checking
        </div>
        <div class="col-xs-5">
          <small>Available Balance (as of {{ balanceDate }})</small>
          <br>
          $15,287.00
        </div>
        <div class="col-sm-1 text-center">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>

      <div class="row account">
        <div class="col-xs-6">
          <small>Regular Savings xxx1234</small>
          <br>
          John's Savings
        </div>
        <div class="col-xs-5">
          <small>Available Balance (as of {{ balanceDate }})</small>
          <br>
          $23,475.00
        </div>
        <div class="col-sm-1 text-center">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>

      <br>
      <br>
      <div class="row heading">
        <div class="col-sm-8"><strong>Cards/Loans/Mortgage</strong></div>
        <div class="col-sm-4 text-right">Total: <span class="total">$262,258.00</span></div>
      </div>

      <div class="row account">
        <div class="col-xs-6">
          <small>Credit Card xxxx7890</small>
          <br>
          Master Card Account
        </div>
        <div class="col-xs-5">
          <small>Balance</small>
          <br>
          $2374.00
        </div>
        <div class="col-sm-1 text-center">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>

      <div class="row account">
        <div class="col-xs-6">
          <small>Mortgage xxxx5432</small>
          <br>
          Mortgage Account
        </div>
        <div class="col-xs-5">
          <small>Balance</small>
          <br>
          $247,346.00
        </div>
        <div class="col-sm-1 text-center">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>

      <div class="row account">
        <div class="col-xs-6">
          <small>Loan xxxx4545</small>
          <br>
          Grace's College Loan
        </div>
        <div class="col-xs-5">
          <small>Balance</small>
          <br>
          $12,538.00
        </div>
        <div class="col-sm-1 text-center">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>

      <br>
      <br>
      <div class="row heading">
        <div class="col-sm-8"><strong>Pending Bill Payments</strong></div>
        <div class="col-sm-4 text-right">Total: <span class="total">$100.00</span></div>
      </div>

      <div class="row account billpay">
        <div class="col-xs-4 col-sm-2">
          <small>Date</small>
          <br>
          01/05/2016
        </div>
        <div class="hidden-xs col-sm-4">
          <small>From</small>
          <br>
          Primary Checking (xxx2020)
        </div>
        <div class="col-xs-4 col-sm-3">
          <small>Payee</small>
          <br>
          Electric Bill
        </div>
        <div class="col-xs-2 col-sm-2">
          <small>Amount</small>
          <br>
          $100.00
        </div>
        <div class="col-xs-2 col-sm-1 text-center">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 open-account">
          <span class="fa-stack">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x"></i>
          </span>
          Open a new account
        </div>
      </div>


    </div>

    <!--right col-->
    <div class="col-sm-3">

      <div class="iq-button" ng-click="timeline()">
        <img src="/images/demo/icon-financial-plan.png" width="90" height="90" class="pull-right">
        Click here for your
        <br>
        <span class="comp">Comprehensive Financial Plan</span>
      </div>

      <!--<div class="iq-widget">-->
        <!--<div class="actions-header mm-fixed-top ">-->
          <!--<span class="alert-filter-icon icon-action-exclamation"></span>-->
          <!--<div class="actions-needed dark-gray">Actions Needed</div>-->
        <!--</div>-->

        <!--<div class="actions-content" ng-repeat="goal in goals">-->
          <!--<ul>-->
            <!--<li ng-click="summaryPath(goal)" class="bottom-border">-->
              <!--<div class="icon-action-{{getActionStatus(goal)}}"></div>-->
              <!--<div class="icon-goal-sm-{{goal.type | hyphenate}}" ng-if="goal.category == 'goal'"></div>-->
              <!--<div class="icon-debt-sm" ng-if="goal.category == 'debt'"></div>-->
              <!--<div class="description ng-binding">{{goal.name}}</div>-->

              <!--<div class="pull-right"><i class="fa fa-chevron-right visible-xs"></i></div>-->

              <!--<div class="pull-right hidden-xs">-->
                <!--<a ng-if="goal.takeAction" class="i-did btn btn-default take-action">Take Action</a>-->
                <!--<a ng-if="!goal.takeAction" class="i-did btn btn-default done">Done</a>-->
              <!--</div>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->


      <!--</div>-->

      <div class="info">
        <h2>Set Up Alerts</h2>

        <div class="pull-right">
          <i class="fa fa-bell bell"></i>
        </div>
        READY TO SETUP <i class="fa fa-play-circle-o"></i>
      </div>

      <div class="info">
        <h2>Make transfers using email or mobile numbers</h2>

        <div class="pull-right">
          <i class="fa fa-exchange exchange"></i>
        </div>
        Securely send or receive money to/from others using an email address or mobile number - no account numbers
        needed.
        <br>
        <br>
        WATCH HOW IT WORKS <i class="fa fa-play-circle-o"></i>

      </div>

      <div class="info">
        <h2>Don't miss out</h2>

        <div class="pull-right">
          <i class="fa fa-mobile mobile"></i>
        </div>
        Are you getting the most out of your Online and Mobile Banking?
        <br>
        <br>
        SEE POPULAR FEATURES <i class="fa fa-play-circle-o"></i>

      </div>

      <div class="info">
        <h2>Looking to buy or REFI?</h2>

        <div class="pull-right">
          <i class="fa fa-home home"></i>
        </div>
        Let's see if we can help you <strong>save money</strong> on your monthly mortage payment.
        <br>
        <br>
        LEARN MORE <i class="fa fa-play-circle-o"></i>

      </div>

    </div>


  </div>

</div>

<footer class="demo">
  <p>
    &copy; {{ footerDate | date:'yyyy' }} ZBank Financial Corporation. All rights reserved. Location | Give Feedback | Online Banking Service Agreement | Contact Us | Log Out
  </p>
</footer>