<style>

  .primary-container {
    padding-top: 130px;
  }

  .navbar-inverse {
    background-color: #fff;
    border-color: transparent;
  }

  .navbar-right {
    margin-right: 0;
  }
  .nav-links{
    color: #8bb5b7;
  }
  .nav-links li {
    margin-right: 10px;
  }
  .nav-search {
    max-width: 300px;
    margin-top: 10px;
  }

  .main-nav {
    background-color: #448f91;
    height: 40px;
    margin-left: 0;
  }

  .main-nav a {
    color: #fff;
    line-height: 40px;
  }


</style>
<img src="/images/demo/Zbank-logo.png" alt="zBank">

<div class="navbar-right">
  <ul class="nav navbar-nav nav-links">
    <li>Customer Service</li>
    <li>Locations</li>
    <li>Careers</li>
  </ul>
  <br>
  <div class="nav-search">
    <div class="input-group input-group-sm">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input type="search" class="form-control" placeholder="search">
    </div>
  </div>
</div>

<div class="row main-nav hidden-xs">
  <div class="col-xs-2"><a href="#">About zBank</a> </div>
  <div class="col-xs-2"><a href="#">Personal Finance</a></div>
  <div class="col-xs-2"><a href="#">Business Finance</a></div>
  <div class="col-xs-2"><a href="#">Wealth Management</a></div>
  <div class="col-xs-2"><a href="#">Learn</a></div>
  <div class="col-xs-2"><a href="#">Contact Us</a></div>
</div>