<div class="guided-img-content step-2"></div>
<div class="guided-text-content">
  <h2>Add Goals, Debts and Protections!</h2>
  <p>
    Get started by adding new goals, debts and Protections.
    <br/>
    Let us know what policies you already have.
  </p>
  <div class="guided-icon">
    <ul>
      <li>
        <i class="icon icon-gl-custom-goal icon-80"></i>
        <span>Goals</span>
      </li>
      <li>
        <i class="icon icon-db-debt icon-80"></i>
        <span>Debt</span>
      </li>
      <li>
        <i class="icon icon-pt-protection icon-80"></i>
        <span>Proctection</span>
      </li>
    </ul>
  </div>
</div>
