<div class="guided-img-content step-4">
  <img src="/images/guide_slide_4.jpg"/>
</div>
<div class="guided-text-content">
  <h2>Your Personalized Action List!</h2>
  <p>
    Your <strong>Action List</strong> provides detailed recommendations on<br/> how to achieve all of your goals.
    <br/>
    <br/>
    Monthly actions are given to keep you ON TRACK.
    <br/>
    You can filter your actions with the tabs in the top right corner.
    <br/>
    The <span class="btn-link">Why?</span> link explains factors involved in the advice given.
    <br/>
    <br/>
    Take Action buttons allow you to get started right away.
</div>
