<div class="guided-img-content step-5">
  <img src="/images/guide_slide_5.jpg"/>
</div>
<div class="guided-text-content">
  <h2>Making your financial decisions easier!</h2>
  <p>
    Cool features like <strong>Scenario Planner</strong>, <strong>CashFinder</strong>, and <strong>Can I Buy?</strong> help you with your financial decisions.
  </p>
  <div class="guided-icon">
    <ul>
      <li>
        <i class="icon icon-ft-scenario-planer icon-80"></i>
        <span>Scenario Planner</span>
      </li>
      <li>
        <i class="icon icon-ft-cash-finder icon-80"></i>
        <span>Cashfinder</span>
      </li>
      <li>
        <i class="icon icon-ft-can-i-buy icon-80"></i>
        <span>Can I Buy?</span>
      </li>
    </ul>
  </div>
</div>
