<div class="guided-img-content step-1">
  <img src="/images/guide_slide_1.jpg"/>
</div>
<div class="guided-text-content">
  <h2>Here’s Your Timeline!</h2>
  <p>
    Your Timeline enables you to view as well as interact with your financial plan!
    <br/>
    <br/>
    You can zoom in and out by dragging the outside arrows.
    To make changes to your plan, you can simply drag-and-drop your goals on the timeline.<br /> This will change the goal date and the system will recalculate <br/>for your entire plan to see if it works.
    <br/>
    <br/>
    Double clicking a goal icon will take you to that goal’s summary.
  </p>
</div>
