<style>
body, footer { background-color: #f1f1e8; }
</style>

<div class="container dropdown-container">
  <div class="row">
    <div class="col-sm-12 header">
      <h3 class="text-center" ng-show="disabilityPolicy.guid">Edit Disability Policy</h3>
      <h3 class="text-center" ng-hide="disabilityPolicy.guid">Add New Disability Policy</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form name="disabilityPolicyForm" role="form" ng-submit="submit(disabilityPolicyForm.$valid)" novalidate>
        <div class="form-group">
          <label class="control-label" for="company">Insurance Company</label>
          <input type="text" name="company" class="form-control" ng-model="disabilityPolicy.company" required ng-pattern="/^.{2,}$/">
            <p ng-show="disabilityPolicy.errors.name" class="help-block" ng-repeat="err in disabilityPolicy.errors.name">{{err}}</p>
            <p ng-show="submitted && disabilityPolicyForm.company.$error.required" class="help-block">Company is required.</p>
            <p ng-show="submitted && disabilityPolicyForm.company.$error.pattern" class="help-block">Company is invalid.</p>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && disabilityPolicyForm.person.$invalid}">
          <label class="control-label" for="person">Owner</label>
          <select class="form-control" id="person" name="person" required ng-model="disabilityPolicy.person.guid" ng-options="person.guid as (person.first_name + ' ' + person.last_name) for person in people"></select>
          <p ng-show="submitted && disabilityPolicyForm.owner.$error.required" class="help-block">Person is required.</p>
        </div>

        <div class="form-group" ng-class="{'has-error': submitted && (disabilityPolicyForm.start_on.$invalid || disabilityPolicyForm.originationMonth.$invalid || disabilityPolicyForm.originationDay.$invalid || disabilityPolicyForm.originationYear.$invalid)}">
          <label class="control-label" for="origination">Origination Date</label>

          <div class="row" ng-if="!isPhone">
            <div class="col-sm-4">
              <select name="originationMonth" class="form-control" ng-model="disabilityPolicy.month" required data-placeholder="Month" ng-options="months.indexOf(month) as month for month in months"></select>
              <span class="help-block" ng-show="submitted && disabilityPolicyForm.originationMonth.$error.required">Month is required.</span>
            </div>
            <div class="col-sm-4">
              <select name="originationDay" class="form-control" ng-model="disabilityPolicy.day" required data-placeholder="Day" ng-options="day for day in days"></select>
              <span class="help-block" ng-show="submitted && disabilityPolicyForm.originationDay.$error.required">Day is required.</span>
            </div>
            <div class="col-sm-4">
              <select name="originationYear" class="form-control" ng-model="disabilityPolicy.year" required data-placeholder="Year" ng-options="year for year in years"></select>
              <span class="help-block" ng-show="submitted && disabilityPolicyForm.originationYear.$error.required">Year is required.</span>
            </div>
          </div>

          <input ng-if="isPhone" type="date" class="form-control" name="origination" id="origination" required ng-model="disabilityPolicy.origination">
          <span ng-show="submitted && disabilityPolicyForm.start_on.$error.required" class="help-block">Origination date is required.</span>
        </div>

        <div class="form-group" ng-class="{'has-error': submitted && disabilityPolicyForm.amount.$invalid}">
          <label class="control-label" for="amount">Monthly Payment</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" name="payment" id="payment" required ng-model="disabilityPolicy.payment" currency-input>
          </div>
          <p ng-show="submitted && disabilityPolicyForm.amount.$error.required" class="help-block">Amount is required.</p>
          <p ng-show="submitted && disabilityPolicyForm.amount.$error.pattern" class="help-block">Amount is invalid.</p>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && disabilityPolicyForm.amount.$invalid}">
          <label class="control-label" for="amount">Monthly Benefit Amount</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" name="amount" id="amount" required ng-model="disabilityPolicy.amount" currency-input>
          </div>
          <p ng-show="submitted && disabilityPolicyForm.amount.$error.required" class="help-block">Amount is required.</p>
          <p ng-show="submitted && disabilityPolicyForm.amount.$error.pattern" class="help-block">Amount is invalid.</p>
        </div>
        <div class="row dropdown-btns">
          <div class="col-sm-12 text-center">
            <button ng-show="!pending" class="iq-submit-btn btn-success btn" ng-disabled="disabilityPolicyForm.$invalid">Save</button>
            <button ng-show="pending" class="iq-submit-btn btn-success btn" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
            <a class="iq-submit-btn btn" href="/#/policies">Back</a>
            <button type="button" class="iq-submit-btn btn-danger btn" ng-click="openDeleteModal(disabilityPolicy)" ng-show="disabilityPolicy.guid">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="deletePolicyModal">
  <div class="modal-header delete-modal-header text-center">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Delete Policy</h3>
  </div>
  <div class="modal-body delete-modal-body">
    <p class="text-center">Are you <em>sure</em> you want to remove this policy?</p>
  </div>
  <div class="modal-footer text-center delete-modal-footer">
    <button class="iq-submit-btn btn btn-lg" ng-click="deletePolicy()">Delete Policy</button>
    <button class="iq-submit-btn btn btn-lg" ng-click="close()">Close</button>
  </div>
</script>
