<style>
body, footer { background-color: #ecf4f4; }
</style>

<div class="container dropdown-container">
  <div class="row header">
    <div class="col-sm-12">
      <h3 class="text-center">Life Insurance Policies</h3>
    </div>
  </div>
  <div class="row">
    <table class="iq-table table-striped table selectable">
      <thead class="dark">
        <th class="text-center">Owner</th>
        <th class="text-center">Company</th>
        <th class="text-center">Monthly Payment</th>
        <th class="text-center">Benefit Amount</th>
        <th class="visible-xs"></th>
      </thead>
      <tbody>
        <tr ng-repeat="lifePolicy in lifePolicies" ng-click="editLife(lifePolicy.guid)">
          <td class="text-center">{{lifePolicy.person.last_name}}, {{lifePolicy.person.first_name}}</td>
          <td class="text-center">{{lifePolicy.company}}</td>
          <td class="text-center">{{lifePolicy.payment | dollars}}</td>
          <td class="text-center">{{lifePolicy.amount| dollars}}</td>
          <td class="visible-xs"><i class="fa fa-chevron-right"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="/#/policies/life/new" class="iq-submit-btn btn-primary btn policy-btn" role="button">Add Life Insurance</a>
      <a href="/#/summaries/policies/life" class="iq-submit-btn btn-secondary btn policy-btn" role="button">View Summary</a>
    </div>
  </div>
</div>

<div class="container dropdown-container">
  <div class="row header">
    <div class="col-sm-12">
      <h3 class="text-center">Disability Insurance Policies</h3>
    </div>
  </div>
  <div class="row">
    <table class="iq-table table-striped table selectable">
      <thead class="dark">
        <th class="text-center">Owner</th>
        <th class="text-center">Company</th>
        <th class="text-center">Monthly Payment</th>
        <th class="text-center">Benefit Amount</th>
        <th class="visible-xs"></th>
      </thead>
      <tbody>
        <tr ng-repeat="disabilityPolicy in disabilityPolicies" ng-click="editDisability(disabilityPolicy.guid)">
          <td class="text-center">{{disabilityPolicy.person.last_name}}, {{disabilityPolicy.person.first_name}}</td>
          <td class="text-center">{{disabilityPolicy.company}}</td>
          <td class="text-center">{{disabilityPolicy.payment | dollars}}</td>
          <td class="text-center">{{disabilityPolicy.amount| dollars}}</td>
          <td class="visible-xs"><i class="fa fa-chevron-right"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="/#/policies/disability/new" class="iq-submit-btn btn-primary btn policy-btn" role="button">Add Disability Insurance</a>
      <a href="/#/summaries/policies/disability" class="iq-submit-btn btn-secondary btn policy-btn" role="button">View Summary</a>
    </div>
  </div>
</div>

<div class="container dropdown-container">
  <div class="row header">
    <div class="col-sm-12">
      <h3 class="text-center">Long Term Care Policies</h3>
    </div>
  </div>
  <div class="row">
    <table class="iq-table table-striped table selectable">
      <thead class="dark">
        <th class="text-center">Owner</th>
        <th class="text-center">Company</th>
        <th class="text-center">Monthly Payment</th>
        <th class="text-center">Benefit Amount</th>
        <th class="visible-xs"></th>
      </thead>
      <tbody>
        <tr ng-repeat="carePolicy in carePolicies" ng-click="editCare(carePolicy.guid)">
          <td class="text-center">{{carePolicy.person.last_name}}, {{carePolicy.person.first_name}}</td>
          <td class="text-center">{{carePolicy.company}}</td>
          <td class="text-center">{{carePolicy.payment | dollars}}</td>
          <td class="text-center">{{carePolicy.amount| dollars}}</td>
          <td class="visible-xs"><i class="fa fa-chevron-right"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="/#/policies/care/new" class="iq-submit-btn btn-primary btn policy-btn" role="button">Add Long Term Care</a>
      <a href="/#/summaries/policies/care" class="iq-submit-btn btn-secondary btn policy-btn" role="button">View Summary</a>
    </div>
  </div>
</div>
