<div class="debt-modal">
  <div class="row">
    <div class="form-group" ng-class="{'has-error': submitted && (errors.kind || objForm.type.$invalid)}">
      <div class="col-sm-2">
        <label class="control-label">Type</label>
      </div>
      <div class="col-sm-4">
        <select ng-model="obj.kind" name="type" id="debt-type" class="form-control" tabindex="2" required>
          <option value=""></option>
          <option value="credit_card" selected>Credit Card</option>
          <option value="mortgage">Mortgage</option>
          <option value="student_loan">Student Loan</option>
          <option value="car">Auto Loan</option>
          <option value="heloc">Home Equity Line</option>
          <option value="line_of_credit">Line of Credit</option>
        </select>
        <span ng-repeat="error in errors.kind" class="help-block">{{ error }}</span>
        <span ng-messages="submitted && objForm.type.$error" ng-messages-include="error-messages"></span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && (errors.name || objForm.name.$invalid)}">
      <div class="col-sm-3">
        <label class="control-label">Name of Debt</label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="name" id="name" class="form-control" ng-model="obj.name" required ng-minlength="2">
        <span ng-repeat="error in errors.name" class="help-block">{{ error }}</span>
        <span ng-messages="submitted && objForm.name.$error" ng-messages-include="error-messages"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group" ng-class="{'has-error': submitted && (errors.person || objForm.person.$invalid)}">
      <div class="col-sm-2">
        <label class="control-label">Owner</label>
      </div>
      <div class="col-sm-4">
        <select ng-model="obj.person.guid" id="person" name="person" class="form-control" tabindex="1" required ng-options="person.guid as (person.first_name + ' ' + person.last_name) for person in people"></select>
        <span ng-repeat="error in errors.person" class="help-block">{{ error }}</span>
        <span ng-messages="submitted && objForm.person.$error" ng-messages-include="error-messages"></span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && (errors.amount || objForm.amount.$invalid)}">
      <div class="col-sm-3">
        <label class="control-label">Current Balance</label>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" name="amount" id="amount" class="form-control" ng-model="obj.amount" min="1" required placeholder="0.00" maxlength="10" currency-input>
        </div>
        <span ng-repeat="error in errors.amount" class="help-block">{{ error }}</span>
        <span ng-messages="submitted && objForm.amount.$error" ng-messages-include="error-messages"></span>
      </div>
    </div>
  </div>

  <div class="row" ng-if="isInstallment()">
    <div class="form-group" ng-class="{'has-error': submitted && (errors.rate || objForm.rate.$invalid)}">
      <div class="col-sm-3">
        <label class="control-label">Interest Rate</label>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" name="rate" id="rate" class="form-control" ng-model="obj.rate" min="1">
          <span class="input-group-addon">%</span>
        </div>
        <span ng-repeat="error in errors.rate" class="help-block">{{ error }}</span>
        <span ng-messages="submitted && objForm.rate.$error" ng-messages-include="error-messages"></span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && (errors.originate_terms || objForm.originateTerms.$invalid)}">
      <div class="col-sm-3">
        <label class="control-label">Term (in years)</label>
      </div>
      <div class="col-sm-3">
        <input type="number" name="terms" id="terms" class="form-control" ng-model="obj.originate_terms" min="1" required>
        <span ng-repeat="error in errors.originate_terms" class="help-block">{{ error }}</span>
        <span ng-messages="submitted && objForm.terms.$error" ng-messages-include="error-messages"></span>
      </div>
    </div>
  </div>

  <div class="row form-group" ng-if="isInstallment()" ng-class="{'has-error': submitted && (errors.originate_payment || objForm.originatePayment.$invalid)}">
    <div class="col-sm-4">
      <label class="control-label" ng-show="obj.kind == 'mortgage'">Monthly Mortgage Payment</label>
      <label class="control-label" ng-hide="obj.kind == 'mortgage'">Minimum Payment</label>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" name="originatePayment" id="originatePayment" class="form-control" ng-model="obj.originate_payment" min="1" y placeholder="0.00" maxlength="10" currency-input>
      </div>
      <span ng-repeat="error in errors.originate_payment" class="help-block">{{ error }}</span>
      <span ng-messages="submitted && objForm.originatePayment.$error" ng-messages-include="error-messages"></span>
    </div>
  </div>

  <div class="row form-group" ng-show="isInstallment()" ng-class="{'has-error': submitted && (errors.transition_on || objForm.transitionMonth.$invalid || objForm.transitionYear.$invalid)}">
    <div class="col-sm-4">
      <label class="control-label">Origination Date</label>
    </div>
    <div class="col-sm-3">
      <select ng-model="obj.transition_month" name="transitionMonth" id="months-transitionOn" class="form-control" placeholder="{{ thisMonth }}" tabindex="2" required>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <span ng-repeat="error in errors.transition_on" class="help-block">{{ error }}</span>
    </div>
    <div class="col-sm-3">
      <select ng-model="obj.transition_year" name="transitionYear" id="years-transitionOn" class="form-control" placeholder="{{ thisYear }}" tabindex="2" required ng-options="year for year in years">
      </select>
    </div>
  </div>

  <div class="row form-group" ng-if="isHeloc()">
    <div class="col-sm-12 padding-rt-none">
      <label class="control-label">Will you sell this house before you pay off this loan?</label>
      <input type="radio" id="yes" value="yes" ng-model="obj.is_selling">
      <label class="radio-btn green" for="yes">Yes</label>
      <input type="radio" id="no" value="no" ng-model="obj.is_selling">
      <label class="radio-btn grey" for="no">No</label>
    </div>
  </div>
</div>
