<div>
  <div class="row form-group" ng-class="{'has-error': submitted && (errors.name || objForm.name.$invalid)}">
    <div class="col-sm-4 text-right">
      <label class="control-label">Name of Goal</label>
    </div>
    <div class="col-sm-6">
      <input type="text" name="name" id="name" class="form-control" ng-model="obj.name" required ng-minlength="2">
      <span ng-repeat="error in errors.name" class="help-block">{{ error }}</span>
      <span ng-show="submitted && objForm.name.$error.required" class="help-block">Name is required.</span>
      <span ng-show="submitted && objForm.name.$error.pattern" class="help-block">Name is invalid.</span>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-4 text-right">
      <label>{{ obj.owner.first_name + ' ' + obj.owner.last_name }}'s Retirement Age</label>
    </div>
    <div class="col-sm-6">
      <select ng-model="obj.selected_age" name="selectedAge" class="form-control" data-placeholder="Choose Age" tabindex="1" required ng-options="age for age in ages">
      </select>
      <span ng-repeat="error in errors.person" class="help-block">{{ error }}</span>
      <span ng-show="submitted && objForm.selectedAge.$error.required" class="help-block">Age is required.</span>
    </div>
    <div class="col-sm-8 col-sm-offset-4">
      <span class="hint"><span class="star">*</span> Retirement calculation is based on age of younger primary user or spouse.</span>
    </div>
  </div>

  <div class="row">
    <div class="cols-sm-12">
      &nbsp;
    </div>
  </div>

  <div class="form-group row">
    <label class="control-label col-sm-4 text-right">Do you expect to receive income from a rental property at retirement?</label>

    <div class="col-sm-6">
      <input type="radio" name="radio1" id="yes" ng-value="true" ng-model="has.rental">
      <label for="yes" class="radio-btn green">Yes</label>
      <input type="radio" name="radio1" id="no" ng-value="false" ng-model="has.rental">
      <label for="no" class="radio-btn grey">No</label>
    </div>
  </div>

  <div ng-if="has.rental">
    <div ng-repeat="prop in obj.rentals" class="row even added" ng-form="propertyProfile">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-sm-4">Name of rental property</label>
          <div class="col-sm-8">
            <input type="text" name="propertyName" class="form-control" ng-model="prop.name" required>
            <span ng-show="prop.errors.name" class="help-block" ng-repeat="err in prop.errors.name">{{err}}</span>
            <span ng-show="submitted && propertyProfile.propertyName.$error.required" class="help-block">Property name is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group" ng-class="{'has-error': submitted && (propertyProfile.amount.$invalid || prop.errors.amount)}">
          <label class="control-label col-sm-4">Estimated Monthly Income from Property</label>
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="tel" class="form-control" ng-model="prop.amount" name="amount" required>
            </div>
            <span ng-show="prop.errors.amount" class="help-block" ng-repeat="err in prop.errors.amount">{{err}}</span>
            <span ng-show="submitted && propertyProfile.amount.$error.required" class="help-block">Amount is required.</span>
          </div>
        </div>
      </div>
      <a class="delete" ng-click="deleteRental($index)"><span>delete</span></a>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-8">
        <a class="child-btn iq-submit-btn btn-primary btn-block btn" ng-click="addRental()"><i class="fa fa-plus"></i> Rental Property</a>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="cols-sm-12">
      &nbsp;
    </div>
  </div>

  <div class="form-group row">
    <label class="control-label col-sm-4 text-right">Do you have a pension?</label>

    <div class="col-sm-6">
      <input type="radio" name="radio2" id="yes2" ng-value="true" ng-model="has.primaryPension">
      <label for="yes2" class="radio-btn green">Yes</label>
      <input type="radio" name="radio2" id="no2" ng-value="false" ng-model="has.primaryPension">
      <label for="no2" class="radio-btn grey">No</label>
    </div>
  </div>

  <div ng-if="has.primaryPension">
    <div class="row added form-group" >
      <div class="col-sm-4 text-right">
        <label>At what age will you have access to your pension?</label>
      </div>
      <div class="col-sm-6">
        <select ng-model="obj.pensions.primary.eligibility_age" name="pension_primary_eligibility_age" class="form-control" required
                ng-options="age for age in pensionAges">
        </select>
        <span ng-repeat="error in errors.obj.pensions.primary.eligibility_age" class="help-block">{{ error }}</span>
        <span ng-show="submitted && objForm.pension_primary_eligibility_age.$error.required" class="help-block">Age is required.</span>
      </div>

    </div>

    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>What will your monthly benefit be at that age?</label>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="tel" name="pension_primary_amount" id="obj.pensions.primary.amount" class="form-control" ng-model="obj.pensions.primary.amount" required>
        </div>
        <span ng-repeat="error in errors.obj.pensions.primary.amount" class="help-block">{{ error }}</span>
        <span ng-show="submitted && objForm.pension_primary_amount.$error.required" class="help-block">Amount is required.</span>
      </div>
    </div>


    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>At what age must you take your pension amount by?</label>
      </div>
      <div class="col-sm-6">
        <select ng-model="obj.pensions.primary.age_must_take" name="pension_primary_age_must_take" class="form-control" required
                ng-options="age for age in pensionAges">
        </select>
        <span ng-repeat="error in errors.obj.pensions.primary.age_must_take" class="help-block">{{ error }}</span>
        <span ng-show="submitted && objForm.pension_primary_age_must_take.$error.required" class="help-block">Age is required.</span>
      </div>

    </div>

    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>What will your monthly benefit be at that age?</label>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="tel" name="pension_primary_age_must_take_amount" id="obj.pensions.primary.age_must_take_amount" class="form-control" ng-model="obj.pensions.primary.age_must_take_amount" required>
        </div>
        <span ng-repeat="error in errors.obj.pensions.primary.age_must_take_amount" class="help-block">{{ error }}</span>
        <span ng-show="submitted && objForm.pension_primary_age_must_take_amount.$error.required" class="help-block">Amount is required.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cols-sm-12">
      &nbsp;
    </div>
  </div>

  <div ng-if="person.spouse">
    <div class="form-group row">
      <label class="control-label col-sm-4 text-right">Does your spouse have a pension?</label>

      <div class="col-sm-6">
        <input type="radio" name="radio3" id="yes3" ng-value="true" ng-model="has.spousePension">
        <label for="yes3" class="radio-btn green">Yes</label>
        <input type="radio" name="radio3" id="no3" ng-value="false" ng-model="has.spousePension">
        <label for="no3" class="radio-btn grey">No</label>
      </div>
    </div>

    <div ng-if="has.spousePension">
      <div class="row added form-group">
        <div class="col-sm-4 text-right">
          <label>At what age will your spouse access to their pension?</label>
        </div>
        <div class="col-sm-6">
          <select ng-model="obj.pensions.spouse.eligibility_age" name="pension_spouse_eligibility_age" class="form-control" ng-required="has.spousePension"
                  ng-options="age for age in pensionAges">
          </select>
          <span ng-repeat="error in errors.obj.pensions.spouse.eligibility_age" class="help-block">{{ error }}</span>
          <span ng-show="submitted && objForm.pension_spouse_eligibility_age.$error.required" class="help-block">Age is required.</span>
        </div>

      </div>

      <div class="row added form-group">
        <div class="col-sm-4 text-right">
          <label>What will your spouse's monthly benefit be at that age?</label>
        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="tel" name="pension_spouse_amount" id="obj.pensions.spouse.amount" class="form-control" ng-model="obj.pensions.spouse.amount" ng-required="has.spousePension">
          </div>
          <span ng-repeat="error in errors.obj.pensions.spouse.amount" class="help-block">{{ error }}</span>
          <span ng-show="submitted && objForm.pension_spouse_amount.$error.required" class="help-block">Amount is required.</span>
        </div>
      </div>


      <div class="row added form-group">
        <div class="col-sm-4 text-right">
          <label>At what age must your spouse take their pension amount by?</label>
        </div>
        <div class="col-sm-6">
          <select ng-model="obj.pensions.spouse.age_must_take" name="pension_spouse_age_must_take" class="form-control" ng-required="has.spousePension"
                  ng-options="age for age in pensionAges">
          </select>
          <span ng-repeat="error in errors.obj.pensions.spouse.age_must_take" class="help-block">{{ error }}</span>
          <span ng-show="submitted && objForm.pension_spouse_age_must_take.$error.required" class="help-block">Age is required.</span>
        </div>

      </div>

      <div class="row added form-group">
        <div class="col-sm-4 text-right">
          <label>What will your spouse's monthly benefit be at that age?</label>
        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="tel" name="pension_spouse_age_must_take_amount" id="obj.pensions.spouse.age_must_take_amount" class="form-control" ng-model="obj.pensions.spouse.age_must_take_amount" ng-required="has.spousePension">
          </div>
          <span ng-repeat="error in errors.obj.pensions.spouse.age_must_take_amount" class="help-block">{{ error }}</span>
          <span ng-show="submitted && objForm.pension_spouse_age_must_take_amount.$error.required" class="help-block">Amount is required.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cols-sm-12">
      &nbsp;
    </div>
  </div>


  <div ng-if="showPrimarySocial">
    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>What is your monthly Social Security benefit at age 62?</label>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="tel" name="social_primary_amount_62" id="obj.social.primary.amount_62" class="form-control" ng-model="obj.social.primary.amount_62" required>
        </div>
        <span ng-repeat="error in errors.objForm.obj.social.primary.amount_62" class="help-block">{{ error }}</span>
        <span ng-show="submitted && objForm.social_primary_amount_62.$error.required" class="help-block">Amount is required.</span>
      </div>

    </div>

    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>What is your monthly Social Security benefit at full retirement age?</label>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4">
            <select ng-model="obj.social.primary.full_age" name="social_primary_full_age" class="form-control" required
                    ng-options="age for age in socialAges">
            </select>
            <span ng-repeat="error in errors.obj.social.primary.full_age" class="help-block">{{ error }}</span>
            <span ng-show="submitted && objForm.social_primary_full_age.$error.required" class="help-block">Age is required.</span>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="tel" name="social_primary_amount_full" id="obj.social.primary.amount_full"
                     class="form-control" ng-model="obj.social.primary.amount_full" required>
            </div>
            <span ng-repeat="error in errors.obj.social.primary.amount_full" class="help-block">{{ error }}</span>
            <span ng-show="submitted && objForm.social_primary_amount_full.$error.required" class="help-block">Amount is required.</span>
          </div>
        </div>

      </div>

    </div>

    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>What is your monthly Social Security benefit at age 70?</label>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="tel" name="social_primary_amount_70" id="obj.social.primary.amount_70" class="form-control" ng-model="obj.social.primary.amount_70" required>
        </div>
        <span ng-repeat="error in errors.obj.social.primary.amount_70" class="help-block">{{ error }}</span>
        <span ng-show="submitted && objForm.social_primary_amount_70.$error.required" class="help-block">Amount is required.</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        Not sure what your monthly benefit would be? You can find out by creating your account with the Social Security Administration.
        <a href="https://secure.ssa.gov/RIL/SiView.do" target="_blank" class="pointer">Click here</a>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="cols-sm-12">
      &nbsp;
    </div>
  </div>

  <div ng-if="showSpouseSocial">
    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>What is your spouses' monthly Social Security benefit at age 62?</label>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="tel" name="social_spouse_amount_62" id="obj.social.spouse.amount_62" class="form-control" ng-model="obj.social.spouse.amount_62" required>
        </div>
        <span ng-repeat="error in errors.obj.social.spouse.amount_62" class="help-block">{{ error }}</span>
        <span ng-show="submitted && objForm.social_spouse_amount_62.$error.required" class="help-block">Amount is required.</span>

      </div>

    </div>

    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>What is your spouses' monthly Social Security benefit at full retirement age?</label>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4">
            <select ng-model="obj.social.spouse.full_age" name="social_spouse_full_age" class="form-control" required
                    ng-options="age for age in socialAges">
            </select>
            <span ng-show="submitted && objForm.social_spouse_full_age.$error.required" class="help-block">Age is required.</span>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="tel" name="social_spouse_amount_full" id="obj.social.spouse.amount_full"
                     class="form-control" ng-model="obj.social.spouse.amount_full" required>
            </div>
            <span ng-repeat="error in errors.obj.social.spouse.amount_full" class="help-block">{{ error }}</span>
            <span ng-show="submitted && objForm.social_spouse_amount_full.$error.required" class="help-block">Amount is required.</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row added form-group">
      <div class="col-sm-4 text-right">
        <label>What is your spouses' monthly Social Security benefit at age 70?</label>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="tel" name="social_spouse_amount_70" id="obj.social.spouse.amount_70" class="form-control" ng-model="obj.social.spouse.amount_70" required>
        </div>
        <span ng-repeat="error in errors.obj.social.spouse.amount_70" class="help-block">{{ error }}</span>
        <span ng-show="submitted && objForm.social_spouse_amount_70.$error.required" class="help-block">Amount is required.</span>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        Not sure what your spouse's monthly benefit would be? You can find out by creating an account with the Social Security Administration.
        <a href="https://secure.ssa.gov/RIL/SiView.do" target="_blank" class="pointer">Click here</a>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="cols-sm-12">
      &nbsp;
    </div>
  </div>

</div>
