<style>
  body, footer { background-color: #f1f1e8; }
</style>

<div class="container dropdown-container">
  <div class="row">
    <div class="col-sm-12 header">
      <h3 class="text-center" ng-show="carePolicy.guid">Edit Long Term Care Policy</h3>
      <h3 class="text-center" ng-hide="carePolicy.guid">Add Long Term Care Policy</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form name="carePolicyForm" role="form" ng-submit="submit(carePolicyForm.$valid)" novalidate>

        <div class="row form-group">
          <div class="col-sm-5 text-right">
            <label class="control-label" for="company">Insurance Company</label>
          </div>
          <div class="col-sm-7">
            <input type="text" name="company" id="company" class="form-control" ng-model="carePolicy.company" required ng-pattern="/^.{2,}$/">
            <p ng-show="carePolicy.errors.name" class="help-block" ng-repeat="err in carePolicy.errors.name">{{err}}</p>
            <p ng-show="submitted && ltcPolicyForm.company.$error.required" class="help-block">Company is required.</p>
            <p ng-show="submitted && ltcPolicyForm.company.$error.pattern" class="help-block">Company is invalid.</p>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-5 text-right">
            <label class="control-label" for="person">Owner</label>
          </div>
          <div class="col-sm-7">
            <select class="form-control" id="person" name="person" required ng-model="carePolicy.person.guid" ng-options="person.guid as (person.first_name + ' ' + person.last_name) for person in people"></select>
            <p ng-show="submitted && ltcPolicyForm.owner.$error.required" class="help-block">Person is required.</p>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-5 text-right">
            <label class="control-label" for="company">Origination Date</label>
          </div>
          <div class="col-sm-7">
            <div class="row" ng-if="!isPhone">
              <div class="col-sm-4">
                <select name="originationMonth" class="form-control" ng-model="carePolicy.month" required data-placeholder="Month" ng-options="months.indexOf(month) as month for month in months"></select>
                <span class="help-block" ng-show="submitted && carePolicyForm.originationMonth.$error.required">Month is required.</span>
              </div>
              <div class="col-sm-4">
                <select name="originationDay" class="form-control" ng-model="carePolicy.day" required data-placeholder="Day" ng-options="day for day in days"></select>
                <span class="help-block" ng-show="submitted && carePolicyForm.originationDay.$error.required">Day is required.</span>
              </div>
              <div class="col-sm-4">
                <select name="originationYear" class="form-control" ng-model="carePolicy.year" required data-placeholder="Year" ng-options="year for year in years"></select>
                <span class="help-block" ng-show="submitted && carePolicyForm.originationYear.$error.required">Year is required.</span>
              </div>
            </div>

            <input ng-if="isPhone" type="date" class="form-control" name="origination" id="origination" required ng-model="carePolicy.origination">
            <span ng-show="submitted && carePolicyForm.start_on.$error.required" class="help-block">Origination date is required.</span>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-5 text-right">
            <label class="control-label" for="amount">What is the Payment Amount?</label>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-7">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="tel" class="form-control" name="payment" id="payment" required ng-model="carePolicy.payment" currency-input>
                </div>
                <p ng-show="submitted && ltcPolicyForm.payment.$error.required" class="help-block">Payment is required.</p>
                <p ng-show="submitted && ltcPolicyForm.payment.$error.pattern" class="help-block">Payment is invalid.</p>
              </div>
              <div class="col-sm-5">
                <select class="form-control" id="payment_period" name="payment_period" required ng-model="carePolicy.payment_period" ng-options="period for period in paymentPeriods"></select>
                <p ng-show="submitted && ltcPolicyForm.payment_period.$error.required" class="help-block">Payment period is required.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-5 text-right">
              <label class="control-label" for="amount">What is the Benefit Amount?</label>
            </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-7">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="tel" class="form-control" name="amount" id="amount" required ng-model="carePolicy.amount" currency-input>
                </div>
                <p ng-show="submitted && ltcPolicyForm.amount.$error.required" class="help-block">Amount is required.</p>
                <p ng-show="submitted && ltcPolicyForm.amount.$error.pattern" class="help-block">Amount is invalid.</p>
              </div>
              <div class="col-sm-5">
                <select class="form-control" id="benefit_amount_period" name="benefit_amount_period" required ng-model="carePolicy.benefit_amount_period" ng-options="period for period in benefitAmountPeriods"></select>
                <p ng-show="submitted && ltcPolicyForm.benefit_amount_period.$error.required" class="help-block">Benefit period is required.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-5 text-right">
            <label class="control-label" for="stay_at_home">What is the Home Care (Stay at Home) Benefit?</label>
          </div>
          <div class="col-sm-7">
            <div class="input-group">
              <select class="form-control" id="stay_at_home" name="stay_at_home" required ng-model="carePolicy.stay_at_home" ng-options="percent for percent in stayAtHomeBenefit"></select>
              <span class="input-group-addon">%</span>
            </div>
            <p ng-show="submitted && ltcPolicyForm.stay_at_home.$error.required" class="help-block">Home Care Benefit is required.</p>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-5 text-right">
            <label class="control-label" for="elimination_period">What is the Elimination Period?</label>
          </div>
          <div class="col-sm-7">
            <div class="input-group">
              <select class="form-control" id="elimination_period" name="elimination_period" required ng-model="carePolicy.elimination_period" ng-options="period for period in eliminationPeriod"></select>
              <span class="input-group-addon">days</span>
            </div>
            <p ng-show="submitted && ltcPolicyForm.elimination_period.$error.required" class="help-block">Elimination is required.</p>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-5 text-right">
            <label class="control-label" for="benefit_increase">What is the Benefit Increase Option of your policy?</label>
          </div>
          <div class="col-sm-7">
            <select class="form-control" id="benefit_increase" name="benefit_increase" required ng-model="carePolicy.benefit_increase" ng-options="period for period in benefitIncrease"></select>
            <p ng-show="submitted && ltcPolicyForm.benefit_increase.$error.required" class="help-block">Benefit Increase is required.</p>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-5 text-right">
            <label class="control-label" for="benefit_period">What is the Benefit Period?</label>
          </div>
          <div class="col-sm-7">
            <select class="form-control" id="benefit_period" name="benefit_period" required ng-model="carePolicy.benefit_period" ng-options="period for period in benefitPeriods"></select>
            <p ng-show="submitted && ltcPolicyForm.benefit_period.$error.required" class="help-block">Benefit Increase is required.</p>
          </div>
        </div>
        <div class="row dropdown-btns">
          <div class="col-sm-12 text-center">
            <button ng-hide="pending" class="iq-submit-btn btn-success btn" ng-disabled="carePolicyForm.$invalid">Save</button>
            <button ng-show="pending" class="iq-submit-btn btn-success btn" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
            <a class="iq-submit-btn btn" href="/#/policies">Back</a>
            <button type="button" class="iq-submit-btn btn-danger btn" ng-click="openDeleteModal(carePolicy)" ng-show="carePolicy.guid">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="deletePolicyModal">
  <div class="modal-header delete-modal-header text-center">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Delete Policy</h3>
  </div>
  <div class="modal-body delete-modal-body">
    <p class="text-center">Are you <em>sure</em> you want to remove this policy?</p>
  </div>
  <div class="modal-footer text-center delete-modal-footer">
    <button class="iq-submit-btn btn btn-lg" ng-click="deletePolicy()">Delete Policy</button>
    <button class="iq-submit-btn btn btn-lg" ng-click="close()">Close</button>
  </div>
</script>

