<style>
  footer { display: none; }
  html, body { height: 100%; }
  body { background: #e8eaee; }
  .slick-slide img { display: inline !important; }
  .slick-slider { margin: 0 !important; }
</style>

<script>
angular.element(document).ready(function() {
  var speed = 8000;

  // angular.element('.signup-wrapper, .footer-content').unwrap();

  var s1 = angular.element('.title-slider').slick({
    slidesToShow: 1,
    dots: false,
    infinite: true,
    autoplay: false,
    cssEase: 'linear',
    fade: true,
    arrows: false,
    swipe: false
  });

  var s2 = angular.element('.polaroid-slider').slick({
    slidesToShow: 1,
    dots: false,
    infinite: true,
    autoplay: false,
    cssEase: 'linear',
    fade: true,
    arrows: false,
    swipe: false
  });

  var s3 = angular.element('.questions-slider').slick({
    slidesToShow: 1,
    dots: false,
    infinite: true,
    autoplay: false,
    cssEase: 'linear',
    fade: true,
    arrows: false,
    swipe: false
  });

  var s4 = angular.element('.footer-slider .container').slick({
    slidesToShow: 1,
    dots: false,
    infinite: true,
    autoplay: false,
    cssEase: 'linear',
    fade: true,
    arrows: false,
    swipe: false
  });

  var myVar=setInterval(function(){myTimer()}, speed);

  function myTimer() {
    s2.slickNext();
    s4.slickNext();
    s1.slickNext();
    s3.slickNext();
  }
});
</script>


<div class="signup-wrapper">
  <div class="container">
    <div class="goal-slider row">
      <div class="slider-left col-sm-6 col-xs-12 clearfix">
        <div class="title-slider">
          <div><h1>Saving for College?</h1></div>
          <div><h1>Saving for that Dream Home?</h1></div>
          <div><h1>Saving for Retirement?</h1></div>
          <div><h1>Budget Planning for Travel?</h1></div>
        </div>
        <div class="polaroid-wrapper">
          <div class="polaroid top-pic">
            <div class="polaroid-slider">
              <div><img src="/images/register/college-pic.jpg" width="299" height="299" class="img-responsive"></div>
              <div><img src="/images/register/dream-house-pic.jpg" width="299" height="299" class="img-responsive"></div>
              <div><img src="/images/register/retirement-pic.jpg" width="299" height="299" class="img-responsive"></div>
              <div><img src="/images/register/travel-pic.jpg" width="299" height="299" class="img-responsive"></div>
            </div>
          </div>
          <div class="polaroid box4"><span>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td align="center"><img src="/images/register/404-icon4.png" class="img-responsive"></td>
                </tr>
              </tbody>
            </table>
            </span></div>
          <div class="polaroid box3"><span>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td align="center"><img src="/images/register/404-icon3.png" class="img-responsive"></td>
                </tr>
              </tbody>
            </table>
            </span></div>
          <div class="polaroid box5"><span>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td align="center"><img src="/images/register/404-icon5.png" class="img-responsive"></td>
                </tr>
              </tbody>
            </table>
            </span></div>
        </div>
      </div>
      <div class="slider-right col-sm-6 col-xs-12 clearfix">
        <div class="questions-slider">
          <div class="content-dynamic">
            <p>Public or private?</p>
            <p>In state or out of state?</p>
            <p>Do you have a plan?</p>
            <p><span>Get one.</span></p>
          </div>

          <div class="content-dynamic">
            <p>Or dream on?</p>
            <p>Can you afford it?</p>
            <p>When?</p>
            <p><span>Find out.</span></p>
          </div>

          <div class="content-dynamic">
            <p>Do you know how much</p>
            <p>you should be saving? </p>
            <p>Are you on track?</p>
            <p>Do you have a plan?</p>
            <p><span>Get one.</span></p>
          </div>

          <div class="content-dynamic">
            <p>Dream vacation or getaway?</p>
            <p>Weekend away or summer abroad?</p>
            <p>Can you afford it?</p>
            <p><span>Find out.</span></p>
          </div>
        </div>
        <div class="separator"></div>
        <div class="content-fixed">
          <img class="amiti-logo" src="/images/organization-logos/amiti.png">
          <div class="separator"></div>
          <h2>The Next Step</h2>
          <p>Register, answer a few questions, and get the personalized advice you need to achieve your financial goals.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--fixed signup bar-->
<div class="footer-content">
  <div class="signup-bar">
    <div class="container">
      <form name="registerForm" class="form-inline" role="form" id="signup_form" ng-submit="submit(registerForm.$valid)" ng-init="user.organization = 'Amiti'">

        <div class="form-group">
          <label class="control-label" for="user_email">Email</label>
          <input type="email" autofocus="autofocus" class="form-control input-txt" id="user_email" name="user[email]" required ng-model="user.email">
        </div>

        <div class="form-group">
          <label class="control-label" for="user_password">Password</label>
          <input type="password" class="form-control input-txt" id="user_password" name="user[password]" required pattern=".{8,}" title="8 characters minimum" ng-model="user.password">
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" id="tos" required ng-model="user.tos">
            <a href="http://www.iquantifi.com/terms-and-conditions/" target="_blank">Terms and Conditions</a>
          </label>
        </div>

        <input type="submit" class="iq-signup-btn iq-submit-btn btn-success btn" value="Register">
      </form>
    </div>
  </div>

  <div class="footer-slider quote">
    <div class="container">
      <div>
        <p>
          <img src="/images/register/logo-tennessean.jpg" class="logo">
          <span class="quote-txt"><i class="fa fa-quote-left"></i>iQuantifi's automated process helps users determine the best order and schedule for addressing their financial goals.<i class="fa fa-quote-right"></i></span>
        </p>
      </div>
      <div>
        <p>
          <img src="/images/register/logo-killer-startups.jpg" class="logo">
          <span class="quote-txt"><i class="fa fa-quote-left"></i>iQuantifi is like having a financial version of Watson at your disposal to tackle all your tough financial questions.<i class="fa fa-quote-right"></i></span>
        </p>
      </div>
      <div>
        <p>
          <img src="/images/register/logo-finovate.jpg" class="logo">
          <span class="quote-txt"><i class="fa fa-quote-left"></i>Best of Show Winner.<i class="fa fa-quote-right"></i></span>
        </p>
      </div>
      <div>
        <p>
          <img src="/images/register/logo-southern-alpha.jpg" class="logo">
          <span class="quote-txt"><i class="fa fa-quote-left"></i>A budget platform we actually like to use!<i class="fa fa-quote-right"></i></span>
        </p>
      </div>
    </div>
  </div>
</div>
