<div class="iq-popup green-theme">
  <div class="modal-header">
    <h4 class="modal-title" id="modal"><div class="goal-icon icon-goal-sm-downsize"></div><span>Downsize</span></h4>
  </div>
  <div class="modal-body">

    <form class="goal-modal-form" name="objForm">
      <section>
        <div>
          <div class="row form-group" ng-class="{'has-error': submitted && (errors.name || objForm.name.$invalid)}">
            <div class="col-sm-4 text-right">
              <label class="control-label">Name of Goal</label>
            </div>
            <div class="col-sm-6">
              <input type="text" name="name" id="name" class="form-control" ng-model="obj.name" required ng-minlength="2" ng-class="{error: objForm.name.$error.minlength}">
              <span ng-repeat="error in errors.name" class="help-block">{{ error }}</span>
              <span ng-messages="submitted && objForm.name.$error" ng-messages-include="error-messages"></span>
            </div>
          </div>

          <div class="row form-group" ng-class="{'has-error': submitted && (errors.transition_on || objForm.transitionMonth.$invalid || objForm.transitionYear.$invalid)}">
            <div class="col-sm-4 text-right">
              <label class="control-label">Date of Sale</label>
            </div>
            <div class="col-sm-3">
              <select ng-model="obj.transition_month" name="transitionMonth" id="months-transitionOn" class="form-control" name="months-transitionOn" data-placeholder="{{ thisMonth }}" tabindex="2" required ng-change="filterRelated()">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <span ng-repeat="error in errors.transition_on" class="help-block">{{ error }}</span>
            </div>
            <div class="col-sm-3">
              <select ng-model="obj.transition_year" name="transitionYear" id="years-transitionOn" class="form-control" name="years-transitionOn" data-placeholder="{{ thisYear }}" tabindex="2" required ng-options="year for year in years" ng-change="filterRelated()">
              </select>
            </div>
          </div>

          <div class="row form-group" ng-class="{'has-error': submitted && (errors.home_sale_price || objForm.home_sale_price.$invalid)}">
            <div class="col-sm-4 text-right">
              <label class="control-label">Sale Price of Home</label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" name="home_sale_price" id="home_sale_price" class="form-control" ng-model="obj.home_sale_price" min="1" required placeholder="0" ng-change="updateProceedsAmt()" maxlength="10" currency-input>
              </div>
              <p>Don't know the current value of your home? Visit <a href="http://www.zillow.com/how-much-is-my-home-worth/" target="_blank">Zillow.com</a> to get an estimate.</p>
              <span ng-repeat="error in errors.home_sale_price" class="help-block">{{ error }}</span>
              <span ng-messages="submitted && objForm.home_sale_price.$error" ng-messages-include="error-messages"></span>
            </div>
          </div>

          <div class="row form-group" ng-class="{'has-error': submitted && (errors.loan_balance || objForm.loan_balance.$invalid)}">
            <div class="col-sm-4 text-right">
              <label class="control-label">Current Loan Balance</label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" name="loan_balance" id="loan_balance" class="form-control" ng-model="obj.loan_balance" min="0" placeholder="0" ng-change="updateProceedsAmt()" maxlength="10" currency-input required>
              </div>
              <span ng-repeat="error in errors.loan_balance" class="help-block">{{ error }}</span>
              <span ng-messages="submitted && objForm.loan_balance.$error" ng-messages-include="error-messages"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 text-right" ng-class="{'has-error': submitted && (errors.downpayment || objForm.downpayment.$invalid)}">
              <label class="control-label">Proceeds from Sale</label>
            </div>
            <div class="col-sm-6">
              {{ obj.amount | dollars }}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 text-right">
              <label class="control-label">Do you plan to purchase a new home or rent?</label>
            </div>
            <div class="col-sm-6">
              <select ng-model="obj.next_step" id="next-step" class="form-control" required>
                <option value="buy">Buy</option>
                <option value="rent">Rent</option>
              </select>
              <p>*A new goal will be generated for you according to your selection. Do not exceed the sale price of this home.</p>
              <span ng-repeat="error in errors.next_step" class="help-block">{{ error }}</span>
              <span ng-messages="submitted && objForm.next_step.$error" ng-messages-include="error-messages"></span>
            </div>
          </div>


        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="iq-submit-btn btn-success btn" ng-click="next(objForm.$valid)">Next</button>
    <button type="button" class="iq-submit-btn btn" data-dismiss="modal" ng-click="cancel()">Cancel</button>
  </div>
</div>