<style>
body, footer { background-color: #ecf4f4; }
</style>

<div class="container dropdown-container">
  <div class="row hidden-xs">
    <div class="col-sm-12 header">
      <h3 class="text-center" ng-show="income.id">Edit Income</h3>
      <h3 class="text-center" ng-hide="income.id">Add New Income</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form name="incomeForm" role="form" ng-submit="submit(incomeForm.$valid)" novalidate>
        <div class="form-group" ng-class="{'has-error': submitted && incomeForm.person.$invalid}">
          <label class="control-label" for="person">Person</label>
          <select class="form-control" id="person" name="person" required ng-model="income.person.guid" ng-options="person.guid as (person.first_name + ' ' + person.last_name) for person in people"></select>
          <p ng-show="submitted && incomeForm.person.$error.required" class="help-block">Person is required.</p>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && incomeForm.type.$invalid}">
          <label class="control-label" for="type">Income Frequency</label>
          <select name="type" class="form-control" ng-model="income.period" required>
            <option value="annual" selected>Annual</option>
            <option value="weekly">Weekly</option>
            <option value="every_two_weeks">Every two weeks</option>
            <option value="twice_a_month">Twice a month</option>
            <option value="monthly">Monthly</option>
          </select>
            <p ng-show="income.errors.period" class="help-block" ng-repeat="err in income.errors.period">{{err}}</p>
            <p class="help-block" ng-show="submitted && incomeForm.type.$error.required">Income frequency is required.</p>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && incomeForm.amount.$invalid}">
          <label class="control-label" for="amount">Amount</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" name="amount" id="amount" required ng-model="income.amount" maxlength="10" currency-input>
          </div>
          <p ng-show="submitted && incomeForm.amount.$error.required" class="help-block">Amount is required.</p>
          <p ng-show="submitted && incomeForm.amount.$error.pattern" class="help-block">Amount is invalid.</p>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="iq-submit-btn btn-primary btn" ng-disabled="submitted && incomeForm.$invalid" ng-hide="processing">Save</button>
            <button type="submit" class="iq-submit-btn btn-primary btn" ng-show="processing" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
            <a class="iq-submit-btn btn" href="/#/incomes">Back</a>
            <button type="button" class="iq-submit-btn btn-danger btn" ng-click="openDeleteModal(income)" ng-show="income.id">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="deleteIncomeModal">
  <div class="modal-header delete-modal-header text-center">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Delete Income</h3>
  </div>
  <div class="modal-body delete-modal-body">
    <p class="text-center">Are you <em>sure</em> you want to remove this income?</p>
  </div>
  <div class="modal-footer text-center delete-modal-footer">
    <button class="iq-submit-btn btn btn-lg" ng-click="deleteIncome()">Delete Income</button>
    <button class="iq-submit-btn btn btn-lg" ng-click="close()">Close</button>
  </div>
</script>
