<div ng-include src="'/views/dropdown/_profile-header.html'" class="main-title"></div>
<div class="container main-wrapper">
  <div class="row">
    <div class="left-side-bar col-lg-2 visible-lg">
      <profile-sidebar current-page='/people'></profile-sidebar>
    </div>
    <div class="right-content col-lg-10">
      <div class="section-header myfeatures">
        Household
      </div>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-static">
              <table class="hovered">
                <thead class="dark">
                  <th>Name</th>
                  <th class="hidden-xs">Date of Birth</th>
                  <th>Relationship</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr ng-repeat="person in people" ng-click="goToPersonEdit(person.guid)">
                    <td>{{person.full_name | titleize}}</td>
                    <td class="hidden-xs">{{person.dob | monthYear}}</td>
                    <td>{{person.relationship | titleize}}</td>
                    <td class="text-right"><i class="fa fa-chevron-right"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-left">
            <a href="/#/people/new" class="iq-submit-btn btn-primary btn btn-add" role="button">
              <span class="icon-add"></span>
              <span class="text-add">Add New Member</span>
            </a>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-12">
            <strong>Note:</strong> Whenever you add a new household member OR remove an existing member - be sure to make the necessary updates to your Income, Expenses and Accounts information. We will notify you!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
