<div class="main-title">
  <div class="container">
    <h3 class="pull-left" ng-show="editMode">
      <span class="hidden-xs"> Edit Household Member</span>
      <span class="visible-xs"> Edit Member</span>
    </h3>
    <h3 class="pull-left" ng-hide="editMode">
      <span class="hidden-xs">
        Add New Household Member
      </span>
      <span class="visible-xs">
        Add New Member
      </span>
    </h3>
    <h3 class="pull-right">
      <a ng-click="gotoPeople()">&times;</a>
    </h3>
  </div>
</div>
<div class="container main-wrapper">
  <div class="content-wrapper">
    <form name="personForm" role="form" ng-submit="submit(personForm.$valid)" novalidate>
      <div class="row">
        <div class="col-md-4 col-sm-8">
          <div class="form-group" ng-class="{'has-error': submitted && personForm.firstName.$invalid}">
            <label class="control-label" for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" required ng-model="person.first_name">
            <span ng-show="submitted && personForm.firstName.$error.required" class="help-block">First name is required.</span>
          </div>
          <div class="form-group" ng-class="{'has-error': submitted && personForm.lastName.$invalid}">
            <label class="control-label" for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" required ng-model="person.last_name">
            <span ng-show="submitted && personForm.lastName.$error.required" class="help-block">Last name is required.</span>
          </div>
          <div class="form-group" ng-class="{'has-error': errors.relationship.length || (submitted && personForm.relationship.$invalid)}">
            <label class="control-label" for="relationship">Relationship</label>
            <select ng-hide="person.relationship == 'primary'" class="form-control" name="relationship" id="relationship" required ng-model="person.relationship">
              <option value="{{rel}}" ng-repeat="rel in relationshipOptions">{{rel | titleize}}</option>
            </select>
            <span ng-show="person.relationship == 'primary'" ng-model='person.relationship'><br/>{{person.relationship | titleize}}</span>
            <span class="help-block" ng-repeat="err in errors.relationship">{{err}}</span>
            <span ng-show="submitted && personForm.relationship.$error.required" class="help-block">Relationship is required.</span>
          </div>
          <div class="form-group" ng-class="{'has-error': submitted && (personForm.dob.$invalid || personForm.dobMonth.$invalid || personForm.dobDay.$invalid || personForm.dobYear.$invalid)}">
            <label class="control-label" for="dob">Date of Birth</label>
            <div class="row">
              <div class="col-sm-6 col-xs-6">
                <select name="dobMonth" class="form-control" ng-model="person.month" required data-placeholder="Month" ng-options="months.indexOf(month) as month for month in months"></select>
                <span class="help-block" ng-show="submitted && personForm.dobMonth.$error.required">Month is required.</span>
              </div>
              <div class="col-sm-6 col-xs-6">
                <select name="dobYear" class="form-control" ng-model="person.year" required data-placeholder="Year" ng-options="year for year in years"></select>
                <span class="help-block" ng-show="submitted && personForm.dobYear.$error.required">Year is required.</span>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': submitted && personForm.state.$invalid}" ng-show="person.relationship == 'primary'">
            <label class="control-label" for="state">State Of Residence</label>
            <select ng-model="person.state" id="state" name="state" class="form-control" placeholder="State">
              <option value="" selected disabled>State</option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AZ">AZ</option>
              <option value="AR">AR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DE">DE</option>
              <option value="DC">DC</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="IA">IA</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="ME">ME</option>
              <option value="MD">MD</option>
              <option value="MA">MA</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MS">MS</option>
              <option value="MO">MO</option>
              <option value="MT">MT</option>
              <option value="NE">NE</option>
              <option value="NV">NV</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NY">NY</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WV">WV</option>
              <option value="WI">WI</option>
              <option value="WY">WY</option>
            </select>
            <span ng-show="submitted && personForm.state.$error.required" class="help-block">State is required.</span>
          </div>
        </div>
      </div>
    </form>
    <div class="row row-gutter-20">
      <button ng-show="editMode && deleting" class="btn-delete col-margin-20 pull-left"><span class="fa fa-circle-o-notch fa-spin"></span></button>
      <button ng-show="editMode && !deleting" class="btn-delete col-margin-20 pull-left" ng-click="openDeleteModal(person)"><span class="fa fa-trash"></span></button>
      <button class="iq-submit-btn btn hidden-xs col-margin-20 pull-left" ng-click="gotoPeople()">Cancel</button>
      <button type="submit" class="iq-submit-btn btn-primary btn col-margin-20 pull-left" ng-disabled="submitted && personForm.$invalid" ng-hide="processing" ng-click="submit(personForm.$valid)">{{editMode ? 'Save Changes' : 'Add Member'}}</button>
      <button type="submit" class="iq-submit-btn btn-primary btn col-margin-20 pull-left" ng-show="processing" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
    </div>
  </div>
</div>
<script type="text/ng-template" id="deletePersonModal">
<div class="modal-header delete-modal-header text-center">
<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
<h3 class="modal-title">Delete Household Member?</h3>
</div>
<div class="modal-body delete-modal-body" ng-if="!primary">
<p>
  <h3 class="text-center">You choose to delete <strong>{{person.first_name}} {{person.last_name}}</strong></h3>
</p>
<p class="text-center">If you delete a household member, all of their associated accounts, goals and information such as income will be deleted</p>
<p class="text-center">Do you want to continue?</p>
</div>
<div class="modal-body delete-modal-body" ng-if="primary">
  <p class="text-center">
    The Primary Household Member can not be deleted.
  </p>
</div>
<div class="modal-footer text-center delete-modal-footer">
<button class="iq-submit-btn btn btn-lg" ng-click="close()">Cancel</button>
<button class="iq-submit-btn btn btn-primary" ng-if="!primary" ng-hide="processing" ng-click="deletePerson()">Yes, Delete</button>
<button type="submit" class="iq-submit-btn btn-primary btn" ng-if="!primary" ng-show="processing" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>

</div>
</script>
