<style>
    body, footer {
        background-color: #ecf4f4;
    }
</style>
<div class="dropdown-container container">
    <div class="row header hidden-xs">
        <div class="col-sm-12">
            <h3 class="text-center">Settings</h3>
        </div>
    </div>
    <form name="editAccountForm" class="form-horizontal" role="form" ng-submit="submit(editAccountForm.$valid)" novalidate>
        <div class="form-group user-email">
            <label for="inputEmail" class="col-sm-4 control-label" required>Email Address</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail" ng-model="user.email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhone" class="col-sm-4 control-label">Enable Two-Factor Authentication</label>
            <div class="col-sm-6">
                <input type="radio" name="radio1" id="yes" ng-value="true" ng-model="user.is_tfa_enabled">
                <label for="yes" class="radio-btn green">Yes</label>
                <input type="radio" name="radio1" id="no" ng-value="false" ng-model="user.is_tfa_enabled">
                <label for="no" class="radio-btn grey">No</label>
            </div>
        </div>
        <div class="form-group" ng-if="user.is_tfa_enabled">
            <label for="inputPhone" class="col-sm-4 control-label">Mobile Phone</label>
            <div class="col-sm-6">
                <input type="phone" name="phone" ui-mask="(999) 999-9999" class="form-control" id="inputPhone" ng-model="user.phone" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && (errors.password || editAccountForm.password.$invalid)}">
            <label for="inputNewPassword" class="col-sm-4 control-label">New Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="inputNewPassword" id="inputNewPassword" ng-model="user.password">
                <p ng-repeat="error in errors.password" class="help-block">{{ error }}</p>
                <p class="help-block">Leave blank if you don't want to change it.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': (submitted && (errors.password_confirmation || editAccountForm.password_confirmation.$invalid)) || editAccountForm.inputConfirmPassword.$error.match}">
            <label for="inputConfirmPassword" class="col-sm-4 control-label">Confirm New Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="inputConfirmPassword" id="inputConfirmPassword" ng-model="user.password_confirmation" match-input="user.password">
                <p ng-repeat="error in errors.password_confirmation" class="help-block">{{ error }}</p>
                <p class="help-block" ng-show="editAccountForm.inputConfirmPassword.$error.match">Passwords do not match.</p>
            </div>
        </div>
        <div class="form-group current-password" ng-class="{'has-error': submitted && (errors.current_password || editAccountForm.current_password.$invalid)}">
            <label for="inputCurrentPassword" class="col-sm-4 control-label">Current Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="inputCurrentPassword" ng-model="user.current_password" required>
                <p ng-repeat="error in errors.current_password" class="help-block">{{ error }}</p>
                <p class="help-block">We need your current password to confirm your changes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="iq-submit-btn btn-primary btn btn-lg" ng-disabled="!editAccountForm.$valid">Update</button>
            </div>
        </div>
    </form>
    <div class="row text-center">
        <div class="col-sm-12">
            <p class="unhappy">Unhappy? Click <a href ng-click="openModal()">here</a> to cancel your account.</p>
            <p class="unhappy"><a href ng-click="resetAccount()">Reset my account</a></p>
        </div>
    </div>
</div>
<script type="text/ng-template" id="cancelAccountModal">
    <div class="modal-header delete-modal-header text-center">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Cancel Account</h3>
    </div>
    <div class="modal-body delete-modal-body">
        <p class="text-center">We will miss you! Are you <em>sure</em> you want to cancel your iQuantifi account?</p>
    </div>
    <div class="modal-footer text-center delete-modal-footer">
        <button class="iq-submit-btn btn btn-lg" ng-click="deleteAccount()">Yes, I'm sure.</button>
        <button class="iq-submit-btn btn btn-lg" ng-click="close()">No, nevermind.</button>
    </div>
</script>
