<div class="row header hidden-xs">
  <div class="col-sm-12">
    <div class="pull-right shortage">
      <span>Shortage</span>
      <h3>{{shortage | dollars}}</h3>
    </div>
    <h3 class="text-center">Cashfinder</h3>
  </div>
</div>

<div class="col-xs-12">
  <p class="text-center cashfinder-info">
    To help resolve your shortage, we've highlighted areas you can quickly adjust.
  </p>
</div>

<table class="cashfinder-table tan iq-table table table-striped">
  <thead class="dark">
    <tr>
      <th>Expense</th>
      <th>Current</th>
      <th>New</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="expense in expenses" ng-click="goToEdit(expense.id)" ng-show="!getShowAllExpenses() && expense.reduce_by || getShowAllExpenses() && true">
      <td>{{expense.kind | titleize}}</td>
      <td>{{expense.amount | dollars}}</td>
      <td ng-class="{blue: overrides[expense.kind], green: expense.new_amount < expense.amount, red: expense.new_amount > expense.amount}">{{expense.new_amount | dollars}}</td>
      <td><i class="fa fa-chevron-right"></i></td>
    </tr>
  </tbody>
</table>
<p class="view-expenses text-center">
  <a href ng-click="toggleShowAllExpenses()"><i class="fa" ng-class="{'fa-angle-down': !getShowAllExpenses(), 'fa-angle-up': getShowAllExpenses()}"></i> {{!getShowAllExpenses() && 'view all expenses' || getShowAllExpenses() && 'hide non-reducible expenses'}}</a>
</p>

<div class="clearfix action-btns footer mm-fixed-bottom">
  <div class="col-xs-6">
    <button class="iq-submit-btn btn btn-default btn-block" ng-click="reset()">Reset</button>
  </div>
  <div class="col-xs-6">
    <button class="iq-submit-btn btn btn-success btn-block" ng-click="save()" ng-hide="saving">Save New</button>
    <button class="iq-submit-btn btn btn-success btn-block" disabled ng-show="saving"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</button>
  </div>
</div>


<script type="text/ng-template" id="needTaxModal">
  <div class="modal-header text-center">
    <h3 class="modal-title">Fix Your Shortage</h3>
  </div>
  <div class="tax-modal modal-body">
    <p class="text-center">So you have a shortage. It's okay, these things happen.</p>
    <p class="text-center">A shortage means you don't have enough money to cover your expenses and goals. The best way to fix that is to adjust your monthly spending.<p>
  </div>
  <div class="modal-footer text-center">
    <div class="col-xs-12 text-center">
      <p><strong>First things first, did you receive a tax refund this year?</strong></p>
    </div>

    <div class="col-xs-6">
      <button class="btn btn-default btn-lg btn-block" ng-click="openTaxRefundModal()">Yes, I did</button>
    </div>

    <div class="col-xs-6">
      <button class="btn btn-default btn-lg btn-block" ng-click="openNoRefundModal()">Nope</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="taxRefundModal">
  <div class="modal-header text-center">
    <h3 class="modal-title">Fix Your Shortage</h3>
  </div>
  <div class="tax-modal modal-body text-center">
    <p>Tax refunds aren't great! They seem awesome, but hurt your monthly cash flow.</p>

    <div class="form-group col-xs-12 align-center">
      <label class="control-label">How much was your refund for?</label>
      <div class="input-group input-group-lg">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" ng-model="taxRefundAmount" currency-input>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-xs-12 align-center">
      <button class="btn btn-default btn-lg btn-block" ng-click="submit(taxRefundAmount)" ng-hide="processing">Submit</button>
      <button class="btn btn-default btn-lg btn-block" ng-click="submit(taxRefundAmount)" disabled ng-show="processing"><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="enoughModal">
  <div class="modal-header text-center">
    <h3 class="modal-title">Fix Your Shortage</h3>
  </div>
  <div class="tax-modal modal-body text-center">
    <span class="fa-stack fa-4x text-warning">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-wrench fa-stack-1x"></i>
    </span>
    <p>Alright! Looks like adjusting your withholding will help you smooth out your cash flow and fix the shortage.</p>
    <p>We've made this an action in your action list.<p>
  </div>
  <div class="modal-footer">
    <div class="col-xs-12 align-center">
      <button class="btn btn-default btn-lg btn-block" ng-click="goToDashboard()">Back to Dashboard</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="notEnoughModal">
  <div class="modal-header text-center">
    <h3 class="modal-title">Fix Your Shortage</h3>
  </div>
  <div class="tax-modal modal-body text-center">
    <p>Hmmm. Not quite enough to cover the shortage.</p>
    <p>We've added an action for you to reduce your withholding, but it seems that more drastic measures are on the menu.<p>
    <p>Next up, let's look at your cash flow.</p>
  </div>
  <div class="modal-footer">
    <div class="col-xs-12 align-center">
      <button class="btn btn-default btn-lg btn-block" ng-click="close()">Go to Cashfinder</button>
    </div>
</script>

<script type="text/ng-template" id="noRefundModal">
  <div class="modal-header text-center">
    <h3 class="modal-title">Fix Your Shortage</h3>
  </div>
  <div class="tax-modal modal-body text-center">
    <span class="fa-stack fa-4x text-warning">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-wrench fa-stack-1x"></i>
    </span>
    <p>Next, let's take a look at your cash flow to see if we can fix it.</p>
  </div>
  <div class="modal-footer">
    <div class="col-xs-12 align-center">
      <button class="btn btn-default btn-lg btn-block" ng-click="close()">Go to Cashfinder</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="haveTaxModal">
  <div class="modal-header text-center">
    <h3 class="modal-title">Fix Your Shortage</h3>
  </div>
  <div class="tax-modal modal-body text-center">
    <span class="fa-stack fa-4x text-warning">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-wrench fa-stack-1x"></i>
    </span>
    <p class="text-center">If we remember correctly, you've adjusted your tax withholding already.</p>
    <p class="text-center">Looks like you have another shortage. Let's head to Cashfinder to sort it out.</p>
  </div>
  <div class="modal-footer">
    <div class="col-xs-12 align-center">
      <button class="btn btn-default btn-lg btn-block" ng-click="close()">Go to Cashfinder</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="doneModal">
  <div class="modal-header text-center">
    <h3 class="modal-title">Fix Your Shortage</h3>
  </div>
  <div class="modal-body text-center">
    <span class="fa-stack fa-4x text-warning">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-wrench fa-stack-1x"></i>
    </span>
    <p class="visible-xs">Now that you've adjusted your cash flow as much as possible, let's adjust some goals to help you fix your shortage situation.</p>
    <p class="hidden-xs">Now that you've adjusted your cash flow, go back to the timeline and adjust some goals to fix your shortage situation.</p>
  </div>
  <div class="modal-footer">
    <div class="col-xs-12 align-center">
      <button class="btn btn-default btn-lg btn-block visible-xs" ng-click="goToWhatIf()">Go to What If&hellip;</button>
      <button class="btn btn-default btn-lg btn-block hidden-xs" ng-click="goToDashboard()">Go to Timeline</button>
    </div>
  </div>
</script>
