<style>
  body { background: #ece8de; }
</style>

<div class="col-xs-12 adjust-cash">
  <h3 class="text-center">Modify your monthly expenses on <strong>{{selectedExpense.kind | titleize}}</strong></h3>
  <p class="text-center"><small>Amounts shown are based on data gathered from your associated accounts.</small></p>

  <div class="form-group col-xs-8 align-center">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">$</span>
      <input type="tel" class="form-control" ng-model="selectedExpense.new_amount" currency-input>
    </div>
  </div>

  <p class="text-center" ng-hide="overrides[selectedExpense.kind] || !selectedExpense.recommended_amount">Based on your income and goals, the recommended amount to spend on this category per month is <strong>{{selectedExpense.recommended_amount | dollars}}</strong>. You are over by <strong>{{selectedExpense.reduce_by | dollars}}</strong> per month.</p>

  <p ng-show="subcategories"><strong>Category includes:</strong></p>
  <ul>
    <li ng-repeat="subcategory in subcategories | limitTo:5">{{subcategory}}</li>
  </ul>

  <div class="col-xs-12 form-group">
    <button class="iq-submit-btn btn btn-warning btn-lg btn-block" ng-click="keep()">Keep at {{selectedExpense.amount | dollars}}</button>
  </div>
  <div class="col-xs-12 form-group">
    <button class="iq-submit-btn btn-primary btn btn-lg btn-block" ng-click="save()">Save New Amount</button>
  </div>
</div>
