<div class="main-title">
  <div class="container">
    <h3>
      <i class="icon icon-al-profile"></i>
      Complete My Profile
    </h3>
    <a href="#" class="btn btn-secondery pull-right">
      I’ll do it later
    </a>
  </div>
</div>

<div class="main-content-style">
  <div class="container main-wrapper">
    <div class="row">
      <div class="profile-complete-status">
        <div class="col-md-9 col-xs-12">
          <p>
            Knowing your current financial status will help us give you the best advice to achieve your financial goals.
            <span>
              Please review each of these sections to ensure that we have your complete and accurate financial profile.
            </span>
          </p>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="title-progress-content">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                <span>45% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-complete">
        <div class="col-md-3 col-xs-6">
          <div class="wrapper-detail">
            <i class="icon icon-gl-retirement icon-80"></i>
            <div class="profile-st-content">
              <h4>Protections</h4>
              <strong>Review your Protections </strong>
              <p>for accuracy and add anything that may be missing.</p>
              <a href="#" class="btn btn-primary">
                View My Protections
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="wrapper-detail">
            <i class="icon icon-gl-retirement icon-80"></i>
            <div class="profile-st-content">
              <h4>Debts</h4>
              <strong>Review your Debts </strong>
              <p>for accuracy and add anything that may be missing.</p>
              <a href="#" class="btn btn-primary">
                View My Debts
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="wrapper-detail">
            <i class="icon icon-gl-retirement icon-80"></i>
            <div class="profile-st-content">
              <h4>Accounts</h4>
              <strong>Review your Accounts </strong>
              <p>for accuracy and add anything that may be missing.</p>
              <a href="#" class="btn btn-primary">
                View My Accounts
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="wrapper-detail">
            <i class="icon icon-gl-retirement icon-80"></i>
            <div class="profile-st-content">
              <h4>Expenses</h4>
              <strong>Review your Expenses </strong>
              <p>for accuracy and add anything that may be missing.</p>
              <a href="#" class="btn btn-primary">
                View My Expenses
              </a>
            </div>
          </div>
        </div>


        <div class="col-md-3 col-xs-6">
          <div class="wrapper-detail">
            <i class="icon icon-gl-retirement icon-80"></i>
            <div class="profile-st-content">
              <h4>College</h4>
              <p>A College goal has been created for “Child’s Name” with the information you’ve already provided.</p>
              <strong>Please complete it for accuracy.</strong>
              <a href="#" class="btn btn-primary">
                View College Goal
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="wrapper-detail">
            <i class="icon icon-gl-retirement icon-80"></i>
            <div class="profile-st-content">
              <h4>Retirement</h4>
              <p>A Retirement goal has been created with the information you’ve already provided.</p>
              <strong>Please complete it for accuracy.</strong>
              <a href="#" class="btn btn-primary">
                View Retirement Goal
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

