<div class="main-title">
  <div class="container">
    <h3>
      <i class="icon icon-al-profile"></i>
      Complete My Profile
    </h3>
    <a href="javascript:void(0)" ng-click="doItLater()" class="btn btn-secondery pull-right">
      I’ll do it later
    </a>
  </div>
</div>

<div class="main-content-style">
  <div class="container main-wrapper">
    <div class="row">
      <div class="profile-complete-status">
        <div class="col-md-9 col-xs-12">
          <p>
            Knowing your current financial status will help us give you the best advice to achieve your financial goals.
            <span>
              Please review each of these sections to ensure that we have your complete and accurate financial profile.
            </span>
          </p>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="title-progress-content">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{completionPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{completionPercentage}}%">
                <span>{{completionPercentage}}% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-complete">
        <div class="col-md-3 col-xs-6" ng-repeat="item in profileItems">
          <div class="wrapper-detail" ng-class="{completed: item.isCompleted}" ng-if="item.itemName != 'College' && item.itemName != 'Retirement'">
            <i class="icon {{actionIcon(item.itemName)}} icon-80"></i>
            <div class="profile-st-content">
              <h4>{{item.itemName | titleize}}</h4>
              <strong>Review your {{item.itemName | titleize}} </strong>
              <p>for accuracy and add anything that may be missing.</p>
              <a href="javascript:void(0)" class="btn btn-primary" ng-click="reviewAction(item)">
                View My {{item.itemName | titleize}}
              </a>
            </div>
          </div>

          <div class="wrapper-detail" ng-class="{completed: item.isCompleted}" ng-if="item.itemName == 'College'">
            <i class="icon {{actionIcon(item.itemName)}} icon-80"></i>
            <div class="profile-st-content">
              <h4>College</h4>
              <p>A College goal has been created for “{{item.childName || 'the child'}}” with the information you’ve already provided.</p>
              <strong>Please complete it for accuracy.</strong>
              <a href="javascript:void(0)" class="btn btn-primary" ng-click="reviewAction(item)">
                View College Goal
              </a>
            </div>
          </div>

          <div class="wrapper-detail" ng-class="{completed: item.isCompleted}" ng-if="item.itemName == 'Retirement'">
            <i class="icon {{actionIcon(item.itemName)}} icon-80"></i>
            <div class="profile-st-content">
              <h4>Retirement</h4>
              <p>A Retirement goal has been created with the information you’ve already provided.</p>
              <strong>Please complete it for accuracy.</strong>
              <a href="javascript:void(0)" class="btn btn-primary" ng-click="reviewAction(item)">
                View Retirement Goal
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

