<div ng-include src="'/views/dropdown/_profile-header.html'" class="main-title"></div>
<div class="container main-wrapper">
  <div class="row">
    <div class="left-side-bar col-lg-2 visible-lg">
      <profile-sidebar current-page='/feedback'></profile-sidebar>
    </div>
    <div class="right-content col-lg-10">
      <div class="section-header myfeatures">
        Feedback
      </div>
      <div class="content-wrapper form-wrapper">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <form name="feedbackForm" role="form" ng-submit="submit(feedbackForm.$valid)" novalidate>

              <div class="form-group" ng-class="{'has-error': submitted && feedbackForm.subject.$invalid}">
                <label class="control-label" for="subject">Subject</label>
                <input type="text" class="form-control" name="subject" ng-model="feedback.subject" value="Subject" required ng-pattern="/^.{2,}$/">
                <span ng-show="submitted && feedbackForm.subject.$error.required" class="help-block">Subject is required.</span>
                <span ng-show="submitted && feedbackForm.subject.$error.pattern" class="help-block">Subject is invalid.</span>
              </div>
              <div class="form-group" ng-class="{'has-error': submitted && feedbackForm.message.$invalid}">
                <label class="control-label" for="message">Description</label>
                <textarea class="form-control" name="message" ng-model="feedback.message" value="Description" required rows="4"></textarea>
                <span ng-show="submitted && feedbackForm.message.$error.required" class="help-block">Description is required.</span>
                <span ng-show="submitted && feedbackForm.message.$error.pattern" class="help-block">Description is invalid.</span>
              </div>

              <div class="row row-gutter-20">
                <a class="iq-submit-btn btn col-margin-20 pull-left" ng-click="cancel()">Cancel</a>
                <button type="submit" class="iq-submit-btn btn-primary btn col-margin-20 pull-left" ng-disabled="submitted && feedbackForm.$invalid" ng-hide="processing">Submit</button>
                <button type="submit" class="iq-submit-btn btn-primary btn col-margin-20 pull-left" ng-show="processing" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
