<div ng-controller="NavCtrl">

  <div ng-if="showMenu('default')">
    <!-- Desktop and tablet nav -->
    <div class="container container-fluid hidden-xs">
      <div class="row">
        <div class="nav-content" ng-controller="AlertsCtrl">
          <div class="navbar-header col-sm-4">
            <a class="navbar-brand" href="/#/"><img class="logo" ng-src="/images/organization-logos/{{organizationSlug()}}.png"></a>
          </div>
          <div class="navbar-header-center col-sm-4">
            
            <span class="alert-shortage" ng-show="shortageAlert.id == 'shortage'">
              <i class="icon icon-ft-fix-shotage"></i>
              <span ng-click="goToCashfinder()" class="visible-lg">
                You have a shortage. Fix It
              </span>
              <span ng-click="goToCashfinder()" class="hidden-lg">
                Shortage
              </span>
              <i class="fa fa-angle-right"></i>
            </span>
            
          </div>
          <div class="navbar-right col-sm-4" >
            <ul class="nav navbar-nav">
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-bell"></i>
                  <span class="badge">{{ alerts.length }}</span>
                </a>
              </li>

              <li>
                <a ng-click="toggleMainMenu()">
                  <i class="fa fa-bars"></i>
                </a>
              </li>
            </ul>
          </div>
          <div ng-include src="'views/main_menu.html'"></div>
        </div>
      </div>
    </div>


    <!-- Phone nav -->
    <div class="nav-container container-fluid visible-xs">
      <ul class="nav navbar-nav">
        <li class="user-dropdown-container dropdown admin">
          <a href="#my-menu" class="user mobile-toggle slide-link" ng-hide="backPath"><i class="fa fa-bars fa-lg"></i></a>
          <a ng-href="{{backPath}}" class="mobile-toggle" ng-show="backPath"><i class="fa fa-chevron-left fa-lg"></i></a>
          <h1 ng-show="location.path()=='/'">Dashboard</h1>
          <h1 ng-show="location.path()=='/add-goal'">Add a Goal</h1>
          <h1 ng-show="location.path().split('/')[1]=='people'">Household</h1>
          <h1 ng-show="location.path().split('/')[1]=='accounts'">Accounts</h1>
          <h1 ng-show="location.path()=='/expenses'">Monthly Expenses</h1>
          <h1 ng-show="location.path()=='/experience'">Experience</h1>
          <h1 ng-show="location.path()=='/feedback'">Feedback</h1>
          <h1 ng-show="location.path().split('/')[1]=='incomes'">Income</h1>
          <h1 ng-show="location.path()=='/settings'">Settings</h1>
          <h1 ng-show="location.path().split('/')[1]=='actions'">Actions</h1>
          <h1 ng-show="location.path().split('/')[1]=='summaries'">{{summaryGoal.name}}</h1>
          <h1 ng-show="location.path()=='/what-if'">What If&hellip;</h1>
          <h1 ng-show="location.path()=='/can-i-buy'">Can I Buy&hellip;</h1>
          <h1 ng-show="location.path().split('/')[1]=='cashfinder'">Cashfinder</h1>
          <h1 ng-show="location.path().split('/')[1]=='policies'">Policies</h1>

          <h1 ng-show="location.path()=='/onboard/family'">Family</h1>
          <h1 ng-show="location.path()=='/onboard/experience'">Experience</h1>
          <h1 ng-show="location.path().split('/')[2]=='accounts'">Accounts</h1>
          <h1 ng-show="location.path()=='/onboard/manual-expenses'">Expenses</h1>
          <h1 ng-show="location.path()=='/onboard/manual-income'">Income</h1>
          <h1 ng-show="location.path()=='/onboard/goals'">Set Up Your Goals</h1>

          <div class="right-action col-xs-3" ng-show="location.path().split('/')[1]=='cashfinder'">
            <span>Shortage</span>
            <span>{{shortage | dollars}}</span>
          </div>

          <div class="edit right-action col-xs-3" ng-show="location.path().split('/')[1]=='summaries' && location.path().split('/')[2] != 'reserves'">
            <button class="iq-submit-btn btn btn-success" ng-click="openEditModal(summaryGoal.goal_type, 'Edit', summaryGoal.category, summaryGoal)"><i class="fa fa-pencil"></i></button>
          </div>

          <nav id="my-menu" mobile-nav>
            <ul>
              <img class="logo" src="/images/iquantifi_logo_md.png">
              <li ng-show="currentUser.is_setup_complete"><a href="/#/timeline">Dashboard</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/actions">Action List <span class="badge pull-right">{{incompleteActionsCount}}</span></a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/what-if">What If&hellip;</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/can-i-buy">Can I Buy&hellip;</a></li>
              <li ng-show="currentUser" class="nav-break"><a>Manage Your Cash Flow</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/incomes">Income</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/expenses">Expenses</a></li>
              <li ng-show="currentUser" class="nav-break"><a>Settings and Customization</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/people">Household</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/accounts">Accounts</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/experience">Experience</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/feedback">Feedback</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/settings">Settings</a></li>
              <li ng-show="currentUser.is_setup_complete"><a href="/#/faq">FAQ</a></li>
              <li ng-show="currentUser" id="dropdown-logout"><a href ng-click="logout()">Logout</a></li>
              <li ng-hide="currentUser"><a href="/#/login">Log In</a></li>
            </ul>
          </nav>
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="showMenu('demo-login')" ng-include src="'/views/demo/nav.html'"></div>

  <div ng-if="showMenu('demo-dash')" ng-include src="'/views/demo/nav-dash.html'"></div>


  <!-- save timeline drop down -->
  <div class="save-dropdown-menu" ng-class="{'ui-show': saveMenu_OLD}">
    <div>
      <span>A new plan has been created for you based on the changes you've made.</span>
      <button type="button" class="cancel btn btn-default" ng-click="cancel()">Cancel</button>
      <button type="button" class="save btn btn-success" ng-click="save()">Save</button>
    </div>
  </div>

  <style>
    .savePlanTimelineYearHeaderContainer {
      display: inline-block;
      width: 116px;
      border-left: 1px;
      height: 30px;
    }

    .savePlanTimelineYearHeaderText {
      font-size: 14px;
      margin-right: -20px;
      text-align: right;
      z-index: 2;
      color: #aaaca2;
      font-weight: bold;
      line-height: unset;
    }

    .savePlanTimelineYearLine,
    .savePlanTimelineYearHeaderLine {
      width: 114px;
      background-color: transparent;
      height: 90px;
      display: inline-block;
      border-left: 1px solid #f0efeb;
      line-height: unset;
    }

    .savePlanTimelineYearHeaderLine {
      height: 10px;
    }

    .savePlanTimelineYearLine:last-child,
    .savePlanTimelineYearHeaderLineLast {
      border-right: 1px solid #f0efeb;
    }

    .savePlanTimelineGoalHeader {
      background-color: #f9f6ef;
      height: 32px;
    }

    .savePlanTimelineGoalBar {
      background-color: #8cc34b;
      display: inline-block;
      text-align: right;
    }

    .savePlanGoalIcon {
      text-align: center;
      height: 30px;
      width: 30px;
      margin-right: 10px;
      float: left;
    }

    .savePlanGoalName {
      font-weight: bold;
      padding-top: 5px;
    }

    .savePlanValueChange {
      font-weight: bold;
      color: #5b9295;
    }


    /*tabs styles */

    /* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}


  </style>

  <!-- save timeline drop down - NEW DESIGN -->
  <div class="modal fade" role="dialog" modal-show="saveMenu" ng-cloak data-backdrop="static">
    <!--<div class="save-dropdown-menu" ng-class="{'ui-show': saveMenu}" style="width: 800px; margin-left: -400px;">-->

    <div class="modal-dialog" style="width: 800px;">
      <div class="modal-content">

        <div class="modal-header delete-modal-header text-center">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">Save New Plan</h4>
        </div>

        <div class="modal-body delete-modal-body">
          <div style="margin-bottom: 20px;">
            <b>A new plan has been generated.</b>
          </div>


          <!-- ======== DATA CHANGED =============== -->

          <div ng-repeat="dataChange in planChanges.DataChanges track by $index">
            <div class="row" style="border-top: 1px solid #f0efeb; padding-top: 10px; padding-bottom: 10px; margin-bottom: 0px;">
              <div class="col-xs-3">
                <img ng-src="../images/icon/{{ PlanGoalIcon(dataChange.DataType) }}" class="savePlanGoalIcon" />
                <div class="savePlanGoalName">{{ dataChange.DataName }}</div>
              </div>
              <div class="col-xs-9">
                <div style="margin-top: 5px;" ng-bind-html="dataChange.MessageFormatted"></div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;" ng-if="!PlanGoalHasShortage(planChanges)">
            <div style="margin-top: 10px; margin-bottom: 0px;" class="col-xs-8">
              Here's how the changes would affect your goals:
            </div>
            <!--<div class="pull-right" style="margin-right: 10px;">
          <ul class="nav nav-pills">
              <li><a data-toggle="tab" href="#tabTimeline">Timeline</a></li>
              <li class="active"><a data-toggle="tab" href="#tabList">List</a></li>
          </ul>
      </div>-->
          </div>


          <div class="tab-content" style="margin-bottom: 20px;" ng-if="!PlanGoalHasShortage(planChanges)">

            <!-- ======== TIMELINE =============== -->

            <div id="tabTimeline" class="tab-pane fade in" ng-if="false" style="margin-top: 20px;">


              <div style="position: relative;">
                <div style="position: absolute; left: 132px; top: 15px;">
                  <div class="savePlanTimelineYearHeaderLine"></div>
                  <div class="savePlanTimelineYearHeaderLine"></div>
                  <div class="savePlanTimelineYearHeaderLine"></div>
                  <div class="savePlanTimelineYearHeaderLine"></div>
                  <div class="savePlanTimelineYearHeaderLine savePlanTimelineYearHeaderLineLast"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-2">
                  <div class="savePlanTimelineYearHeaderText" style="margin-right: -52px;">
                    {{ PlanGoalYear(0) }}
                  </div>
                </div>

                <div class="col-xs-10">
                  <div class="savePlanTimelineYearHeaderContainer">
                    <div class="savePlanTimelineYearHeaderText">{{ PlanGoalYear(1) }}</div>
                  </div>
                  <div class="savePlanTimelineYearHeaderContainer">
                    <div class="savePlanTimelineYearHeaderText">{{ PlanGoalYear(2) }}</div>
                  </div>
                  <div class="savePlanTimelineYearHeaderContainer">
                    <div class="savePlanTimelineYearHeaderText">{{ PlanGoalYear(3) }}</div>
                  </div>
                  <div class="savePlanTimelineYearHeaderContainer">
                    <div class="savePlanTimelineYearHeaderText">{{ PlanGoalYear(4) }}</div>
                  </div>
                  <div class="savePlanTimelineYearHeaderContainer" style="margin-left: -10px;">
                    <div class="savePlanTimelineYearHeaderText">{{ PlanGoalYear(5) }}</div>
                  </div>
                </div>
              </div>

              <div>
                <!-- Timeline - Finance Goal Changes -->
                <div ng-repeat="goalChange in planChanges.FinanceGoalChanges track by $index">

                  <!-- Goal Header with Icon -->
                  <div class="savePlanTimelineGoalHeader">
                    <img ng-src="../images/icon/{{ PlanGoalIcon(goalChange.GoalType) }}" class="savePlanGoalIcon" />
                    <div class="savePlanGoalName">{{ goalChange.GoalName }}</div>
                  </div>

                  <!-- Year Lines -->
                  <div style="position: relative; margin-bottom: -20px;">
                    <div style="position: absolute; left: 132px;">
                      <div class="savePlanTimelineYearLine"></div>
                      <div class="savePlanTimelineYearLine"></div>
                      <div class="savePlanTimelineYearLine"></div>
                      <div class="savePlanTimelineYearLine"></div>
                      <div class="savePlanTimelineYearLine"></div>
                    </div>
                  </div>

                  <!-- Current Plan / New Plan Row -->
                  <div style="position: relative; left: 0px; margin-top: 20px; padding-bottom: 20px;">
                    <div class="row" ng-repeat="goalChangePlan in goalChange.GoalChangeItems track by $index" style="position: relative; margin-bottom: 10px;">

                      <div class="col-xs-2">
                        <div style="margin: 13px 0px 0px 10px; font-size: 14px;">
                          {{ goalChangePlan.LineName }}
                        </div>
                      </div>

                      <div style="position: absolute; left: 147px; top: 10px;">
                        <div class="savePlanTimelineGoalBar" ng-style="{ 'width': PlanGoalWidth(goalChangePlan.CompletionDate) + 'px', 'background-color': PlanGoalBackgroundColor(goalChange, goalChangePlan) }"><img ng-src="../images/plan-Timeline-endPoint-{{ PlanGoalImageColor(goalChange) }}.png" width="22" height="22" style="margin-right: -11px;" /></div>
                        <div style="display: inline-block; margin-left: 15px;" ng-class="{'savePlanValueChange': goalChangePlan.hasCompletionDateChange}">
                          {{ goalChangePlan.CompletionDateString }}
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>


              <!-- Timeline - Rent Goal Changes -->
              <div ng-repeat="goalChange in planChanges.RentGoalChanges track by $index">

                <!-- Goal Header with Icon -->
                <div class="savePlanTimelineGoalHeader">
                  <img ng-src="../images/icon/{{ PlanGoalIcon(goalChange.GoalType) }}" class="savePlanGoalIcon" />
                  <div class="savePlanGoalName">{{ goalChange.GoalName }}</div>
                </div>

                <!-- Year Lines -->
                <div style="position: relative; margin-bottom: -20px;">
                  <div style="position: absolute; left: 132px;">
                    <div class="savePlanTimelineYearLine"></div>
                    <div class="savePlanTimelineYearLine"></div>
                    <div class="savePlanTimelineYearLine"></div>
                    <div class="savePlanTimelineYearLine"></div>
                    <div class="savePlanTimelineYearLine"></div>
                  </div>
                </div>

                <!-- Current Plan / New Plan Row -->
                <div style="position: relative; left: 0px; margin-top: 20px; padding-bottom: 20px;">
                  <div class="row" ng-repeat="goalChangePlan in goalChange.GoalChangeItems track by $index" style="position: relative; margin-bottom: 10px;">

                    <div class="col-xs-2">
                      <div style="margin: 13px 0px 0px 10px; font-size: 14px;">
                        {{ goalChangePlan.LineName }}
                      </div>
                    </div>

                    <div style="position: absolute; left: 147px; top: 10px;">
                      <div class="savePlanTimelineGoalBar" ng-style="{ 'width': PlanGoalWidth(goalChangePlan.CompletionDate) + 'px', 'background-color': PlanGoalBackgroundColor(goalChange, goalChangePlan) }"><img ng-src="../images/plan-Timeline-endPoint-{{ PlanGoalImageColor(goalChange) }}.png" width="22" height="22" style="margin-right: -11px;" /></div>
                      <div style="display: inline-block; margin-left: 15px;" ng-class="{'savePlanValueChange': goalChangePlan.hasCompletionDateChange}">
                        {{ goalChangePlan.CompletionDateString }}
                      </div>
                    </div>

                  </div>
                </div>

              </div>


              <!-- Timeline - General Goal Changes -->
              <div ng-repeat="goalChange in planChanges.GeneralGoalChanges track by $index">

                <!-- Goal Header with Icon -->
                <div class="savePlanTimelineGoalHeader">
                  <img ng-src="../images/icon/{{ PlanGoalIcon(goalChange.GoalType) }}" class="savePlanGoalIcon" />
                  <div class="savePlanGoalName">{{ goalChange.GoalName }}</div>
                </div>

                <!-- Year Lines -->
                <div style="position: relative; margin-bottom: -20px;">
                  <div style="position: absolute; left: 132px;">
                    <div class="savePlanTimelineYearLine"></div>
                    <div class="savePlanTimelineYearLine"></div>
                    <div class="savePlanTimelineYearLine"></div>
                    <div class="savePlanTimelineYearLine"></div>
                    <div class="savePlanTimelineYearLine"></div>
                  </div>
                </div>

                <!-- Current Plan / New Plan Row -->
                <div style="position: relative; left: 0px; margin-top: 20px; padding-bottom: 20px;">
                  <div class="row" ng-repeat="goalChangePlan in goalChange.GoalChangeItems track by $index" style="position: relative; margin-bottom: 10px;">

                    <div class="col-xs-2">
                      <div style="margin: 13px 0px 0px 10px; font-size: 14px;">
                        {{ goalChangePlan.LineName }}
                      </div>
                    </div>

                    <div style="position: absolute; left: 147px; top: 10px;">
                      <div class="savePlanTimelineGoalBar" ng-style="{ 'width': PlanGoalWidth(goalChangePlan.CompletionDate) + 'px', 'background-color': PlanGoalBackgroundColor(goalChange, goalChangePlan) }"><img ng-src="../images/plan-Timeline-endPoint-{{ PlanGoalImageColor(goalChange) }}.png" width="22" height="22" style="margin-right: -11px;" /></div>
                      <div style="display: inline-block; margin-left: 15px;" ng-class="{'savePlanValueChange': goalChangePlan.hasCompletionDateChange}">
                        {{ goalChangePlan.CompletionDateString }}
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>



            <!-- ======== TABULAR VIEW =============== -->
            <div id="tabList" class="tab-pane fade in active">

              <style>
                .savePlanTableHeaderContainer {
                  font-size: 12px;
                  font-weight: bold;
                  color: #538380;
                  height: 40px;
                  position: relative;
                }

                .savePlanTableHeader {
                  font-size: 12px;
                  font-weight: bold;
                  color: #538380;
                  position: absolute;
                  bottom: 0px;
                }

                .savePlanTableHeaderRow {
                  border-bottom: 1px solid #f0efeb;
                  padding: 5px 0px;
                }

                .savePlanTableGoalRow {
                  padding: 5px 0px;
                }

                .savePlanTableGoalPlanRow {
                  padding: 5px 0px;
                }

                .savePlanTableBorder {
                  border-bottom: 1px solid #f0efeb;
                }
              </style>

              <div style="margin-top: 20px;">
                <div class="row" style="border-top: 1px solid #f0efeb;" />
                <div class="row savePlanTableHeaderRow" ng-hide="planChanges.FinanceGoalChanges.length == 0">
                  <!--Header-->
                  <div class="col-xs-3">
                    <div class="savePlanTableHeaderContainer">
                      <div class="savePlanTableHeader" style="font-size: 14px;">Financing Goals</div>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="row">
                      <div class="col-xs-2" style="width: 20%">
                      </div>
                      <div class="col-xs-3" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Down Payment</div>
                        </div>
                      </div>
                      <div class="col-xs-2" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Financed Amount</div>
                        </div>
                      </div>
                      <div class="col-xs-2" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Purchase Date</div>
                        </div>
                      </div>
                      <div class="col-xs-2" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Financed Payment</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div ng-repeat="goalChange in planChanges.FinanceGoalChanges track by $index">
                  <div class="row savePlanTableGoalRow savePlanTableBorder">
                    <div class="col-xs-3">
                      <div style="margin-top: 15px;">
                        <img ng-src="../images/icon/{{ PlanGoalIcon(goalChange.GoalType) }}" class="savePlanGoalIcon" />
                        <div class="savePlanGoalName">{{ goalChange.GoalName }}</div>
                      </div>
                    </div>

                    <div class="col-xs-9">
                      <div class="row savePlanTableGoalPlanRow savePlanTableBorder">
                        <div class="col-xs-2" style="width: 20%">
                          Current Plan
                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].SavingTargetAmount }}
                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].FinanceAmount }}
                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].CompletionDateString }}
                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].Payment }}
                        </div>
                      </div>

                      <div class="row savePlanTableGoalPlanRow">
                        <div class="col-xs-2" style="width: 20%">
                          New Plan
                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasSavingTargetAmountChange}">
                          {{ goalChange.GoalChangeItems[1].SavingTargetAmount }}
                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasFinanceAmountChange}">
                          {{ goalChange.GoalChangeItems[1].FinanceAmount }}
                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasCompletionDateChange}">
                          {{ goalChange.GoalChangeItems[1].CompletionDateString }}
                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasPaymentChange}">
                          {{ goalChange.GoalChangeItems[1].Payment }}
                          <img src="../images/plan-AmountIncrease.png" width="9" height="6" style="vertical-align: middle; margin-top: -4px;" ng-if="goalChange.GoalChangeItems[1].Change == 'increase'" />
                          <img src="../images/plan-AmountDecrease.png" width="9" height="6" style="vertical-align: middle; margin-top: -4px;" ng-if="goalChange.GoalChangeItems[1].Change == 'decrease'" />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12" style="font-size: 12px;">
                          {{ goalChange.Message }}
                        </div>
                      </div>

                    </div>
                  </div>


                </div>
              </div>


              <!-- == RENT GOALS == -->
              <div style="margin-top: 20px;">
                <div class="row savePlanTableHeaderRow" ng-hide="planChanges.RentGoalChanges.length == 0">
                  <!--Header-->
                  <div class="col-xs-3">
                    <div class="savePlanTableHeaderContainer">
                      <div class="savePlanTableHeader" style="font-size: 14px;">Rent Goals</div>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="row">
                      <div class="col-xs-2" style="width: 20%">
                      </div>
                      <div class="col-xs-2" style="width: 20%">

                      </div>
                      <div class="col-xs-3" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Security Deposit</div>
                        </div>
                      </div>
                      <div class="col-xs-2" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Move In Date</div>
                        </div>
                      </div>
                      <div class="col-xs-2" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Rent Payment</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div ng-repeat="goalChange in planChanges.RentGoalChanges track by $index">
                  <div class="row savePlanTableGoalRow savePlanTableBorder">
                    <div class="col-xs-3">
                      <div style="margin-top: 15px;">
                        <img ng-src="../images/icon/{{ PlanGoalIcon(goalChange.GoalType) }}" class="savePlanGoalIcon" />
                        <div class="savePlanGoalName">{{ goalChange.GoalName }}</div>
                      </div>
                    </div>

                    <div class="col-xs-9">
                      <div class="row savePlanTableGoalPlanRow savePlanTableBorder">
                        <div class="col-xs-2" style="width: 20%">
                          Current Plan
                        </div>
                        <div class="col-xs-2" style="width: 20%">

                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].GoalAmount }}
                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].CompletionDateString }}
                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].Payment }}
                        </div>
                      </div>

                      <div class="row savePlanTableGoalPlanRow">
                        <div class="col-xs-2" style="width: 20%">
                          New Plan
                        </div>
                        <div class="col-xs-2" style="width: 20%">

                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasGoalAmountChange}">
                          {{ goalChange.GoalChangeItems[1].GoalAmount }}
                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasCompletionDateChange}">
                          {{ goalChange.GoalChangeItems[1].CompletionDateString }}
                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasPaymentChange}">
                          {{ goalChange.GoalChangeItems[1].Payment }}
                          <img src="../images/plan-AmountIncrease.png" width="9" height="6" style="vertical-align: middle; margin-top: -4px;" ng-if="goalChange.GoalChangeItems[1].Change == 'increase'" />
                          <img src="../images/plan-AmountDecrease.png" width="9" height="6" style="vertical-align: middle; margin-top: -4px;" ng-if="goalChange.GoalChangeItems[1].Change == 'decrease'" />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12" style="font-size: 12px;">
                          {{ goalChange.Message }}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>



              <!-- == GENERAL GOALS == -->
              <div style="margin-top: 20px;">
                <div class="row savePlanTableHeaderRow" ng-hide="planChanges.GeneralGoalChanges.length == 0">
                  <!--Header-->
                  <div class="col-xs-3">
                    <div class="savePlanTableHeaderContainer">
                      <div class="savePlanTableHeader" style="font-size: 14px;">General Goals</div>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="row">
                      <div class="col-xs-2" style="width: 20%">
                      </div>
                      <div class="col-xs-2" style="width: 20%">

                      </div>
                      <div class="col-xs-3" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Goal Amount</div>
                        </div>
                      </div>
                      <div class="col-xs-2" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader">Completion Date</div>
                        </div>
                      </div>
                      <div class="col-xs-2" style="width: 20%">
                        <div class="savePlanTableHeaderContainer">
                          <div class="savePlanTableHeader"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div ng-repeat="goalChange in planChanges.GeneralGoalChanges track by $index">
                  <div class="row savePlanTableGoalRow savePlanTableBorder">
                    <div class="col-xs-3">
                      <div style="margin-top: 15px;">
                        <img ng-src="../images/icon/{{ PlanGoalIcon(goalChange.GoalType) }}" class="savePlanGoalIcon" />
                        <div class="savePlanGoalName">{{ goalChange.GoalName }}</div>
                      </div>
                    </div>

                    <div class="col-xs-9">
                      <div class="row savePlanTableGoalPlanRow savePlanTableBorder">
                        <div class="col-xs-2" style="width: 20%">
                          Current Plan
                        </div>
                        <div class="col-xs-2" style="width: 20%">

                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].GoalAmount }}
                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          {{ goalChange.GoalChangeItems[0].CompletionDateString }}
                        </div>
                        <div class="col-xs-2" style="width: 20%">
                          <!--{{ goalChange.GoalChangeItems[0].Payment }}-->
                        </div>
                      </div>

                      <div class="row savePlanTableGoalPlanRow">
                        <div class="col-xs-2" style="width: 20%">
                          New Plan
                        </div>
                        <div class="col-xs-2" style="width: 20%">

                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasGoalAmountChange}">
                          {{ goalChange.GoalChangeItems[1].GoalAmount }}
                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasCompletionDateChange}">
                          {{ goalChange.GoalChangeItems[1].CompletionDateString }}
                        </div>
                        <div class="col-xs-2" style="width: 20%" ng-class="{'savePlanValueChange': goalChange.GoalChangeItems[1].hasPaymentChange}">
                          <!--{{ goalChange.GoalChangeItems[1].Payment }}
                    <img src="../images/plan-AmountIncrease.png" width="9" height="6" style="vertical-align: middle; margin-top: -4px;" ng-if="goalChange.GoalChangeItems[1].Change == 'increase'" />
                    <img src="../images/plan-AmountDecrease.png" width="9" height="6" style="vertical-align: middle; margin-top: -4px;" ng-if="goalChange.GoalChangeItems[1].Change == 'decrease'" />
                    -->
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12" style="font-size: 12px;">
                          {{ goalChange.Message }}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>




            </div>

          </div>


        </div>

        <div class="modal-footer text-center delete-modal-footer">
            <button class="iq-submit-btn btn btn-lg" ng-click="cancel()">Keep Current Plan</button>
            <button class="iq-submit-btn btn btn-primary" ng-hide="pending" ng-click="save()">Save New Plan</button>
        </div>

      </div>
    </div>
  </div>


  <style>
    .rationale-graph-column-section {
      background-color: #c7e2a1;
      position: relative;
      opacity: 0.50;
      border-top: 1px solid white;
    }

    .hilight-box {
      background-color: #8ec54a;
      top: -5px;
      left: -5px;
      position: relative;
      height: 100%;
    }

    .hilight-box-bottom, .hilight-box-bottom-shadow {
      width: 100%;
      height: 5px;
      -webkit-transform: skew(45deg);
      -moz-transform: skew(45deg);
      -o-transform: skew(45deg);
      transform: skew(45deg);
      background-color: white;
      top: -5px;
      left: -2px;
      bottom: 0px;
      position: relative;
      background-color: #8ec54a;
    }

    .hilight-box-right, .hilight-box-right-shadow {
      width: 5px;
      height: 100%;
      -webkit-transform: skewY(45deg);
      -moz-transform: skewY(45deg);
      -o-transform: skewY(45deg);
      transform: skewY(45deg);
      top: -2px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      background-color: #8ec54a;
    }

    .hilight-box-bottom-shadow {
      background-color: black;
      top: -10px;
      opacity: 0.25;
    }

    .hilight-box-right-shadow {
      background-color: black;
      opacity: 0.10;
    }

    .rationale-area {
      width: 630px;
      min-height: 500px;
      position: relative;
    }

    .rationale-area-side {
      width: 49%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      position: relative;
    }

    .rationale-graph-line-area {
      width: 85%;
      height: 85%;
      position: absolute;
      margin-top: 10%;
    }

    .rationale-graph-column {
      width: 70px;
      height: 85%;
      position: relative;
      margin: 0 auto;
      margin-top: 10%;
      margin-left: 45%;
      box-sizing: border-box;
    }

    .rationale-graph-line {
      border-top: 1px solid lightgray;
      height: 100%;
      margin-left: 80px;
    }

    .rationale-graph-line-label {
      position: absolute;
      width: 70px;
      margin-top: -9px;
      text-align: right;
      color: #8c8b8b;
    }

    


    .rationale-data-row {
      box-sizing: border-box;
    }

    .rationale-data-row-selected {
      box-sizing: border-box;
      vertical-align: central;
      background-color: #eef4f4;
    }

    .rationale-data-label, .rationale-data-label-selected {
      display: inline-block;
      box-sizing: border-box;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .rationale-data-label-selected {
      font-weight: bold;
    }

    .rationale-data-circle {
	    width: 16px;
	    height: 16px;
      opacity: 0.50;
	    background: red;
	    -moz-border-radius: 8px;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
      display: inline-block;
      box-sizing: border-box;
      margin-left: 18px;
      margin-right: 10px;    }

  </style>

  <!-- Rationale Modal -->
  <div class="modal fade" id="rationaleModal" role="dialog">
    <div class="modal-dialog" style="width: 900px;">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="icon-explain"></i><span style="color:#4a8f92;">{{'Explain' | titleize}}</span>
          </h4>
        </div>
        <div class="modal-body" style="min-height: 400px;">

          <!-- tabs left -->
          <div class="row">
            <div style="background-color: #eef4f4; font-weight: bold; margin: 0px 20px; padding: 12px 20px; margin-bottom: 20px;">
              These are the factors involved in your recommendation:
            </div>
          </div>

          <div class="row">
            <div class="left-side-bar col-lg-3 col-md-3 col-sm-12 col-xs-12" style="float: none; position: absolute; height: 80%;">
              <ul>
                <li></li>
                <li ng-repeat="ratSection in $root.rationaleResults.RationaleSections track by $index" ng-click="setTabTo(ratSection.SectionKey)">
                  <a href="javascript:void(0)" ng-class="{'active': ($root.rationaleResults.SelectedSection == ratSection.SectionKey) }">
                    <span>{{ ratSection.SectionName }}</span>
                  </a>
                </li>
              </ul>
            </div>            
            <div class="right-content col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-offset-3">
              <div ng-repeat="ratSection in $root.rationaleResults.RationaleSections track by $index" 
                   class="content-wrapper" ng-show="$root.rationaleResults.SelectedSection == ratSection.SectionKey" id="{{ ratSection.SectionKey }}">
                <div ng-bind-html="ratSection.SectionHTML"></div>
                
                <div ng-if="ratSection.GraphDataInfo != null" >


                  <div class="rationale-area">
                    <div class="rationale-area-side" style="height: 500px;">

                      <div class="rationale-graph-line-area">

                        <div ng-repeat="graphDataItem in ratSection.GraphDataInfo.GraphDataYLines track by $index" ng-style="{ 'height': RationaleGraphSectionHeight(graphDataItem) }">
                          <div class="rationale-graph-line-label">{{ graphDataItem.AmountString }}</div>
                          <div class="rationale-graph-line"></div>
                        </div>

                      </div>

                      <div class="rationale-graph-column">
                        <div ng-repeat="graphDataItem in ratSection.GraphDataInfo.GraphDataPoints track by $index" ng-style="{ 'height': RationaleGraphSectionHeight(graphDataItem) }">

                          <div ng-if="graphDataItem.isSelected != true" class="rationale-graph-column-section" ng-style="{ 'background-color': RationaleGraphSectionBackgroundColor(graphDataItem) }" style="height: 100%;"></div>

                          <div ng-if="graphDataItem.isSelected == true" style="height: 100%; position: relative;">
                            <div class="hilight-box" ng-style="{ 'background-color': RationaleGraphSectionBackgroundColor(graphDataItem) }"></div>
                            <div class="hilight-box-bottom" ng-style="{ 'background-color': RationaleGraphSectionBackgroundColor(graphDataItem) }"></div>
                            <div class="hilight-box-bottom-shadow"></div>
                            <div class="hilight-box-right" ng-style="{ 'background-color': RationaleGraphSectionBackgroundColor(graphDataItem) }"></div>
                            <div class="hilight-box-right-shadow"></div>
                          </div>

                        </div>
                      </div>

                      <!--bottom label-->
                      <div style="text-align: center; margin-top: 15px; margin-left: 30px;">
                        Total Monthly Cashflow
                      </div>

                    </div>
                    <div class="rationale-area-side">
                      <div style="height: 15px;"></div>
                      <div ng-repeat="graphDataItem in ratSection.GraphDataInfo.GraphDataPoints track by $index">
                        <div class="rationale-data-row" ng-if="graphDataItem.isSelected != true">
                          <div class="rationale-data-circle" ng-style="{ 'background-color': RationaleGraphSectionBackgroundColor(graphDataItem) }">&nbsp;</div>
                          <div class="rationale-data-label" style="width: 50%;">{{ graphDataItem.Description }}</div>
                          <div class="rationale-data-label" style="width: 30%; text-align: right;">{{ graphDataItem.AmountString }}</div>
                        </div>
                        <div class="rationale-data-row-selected" ng-if="graphDataItem.isSelected == true">
                          <i class="icon {{graphDataItem.Goal | timelineGoalIcon}}" style="display:inline-block; height: 30px; width: 30px; margin-left: 10px; margin-right: 5px;"></i>
                          <div class="rationale-data-label-selected" style="width: 50%;">{{ graphDataItem.Description }}</div>
                          <div class="rationale-data-label-selected" style="width: 30%; text-align: right;">{{ graphDataItem.AmountString }}</div>
                        </div>
                      </div>
                      <div class="rationale-data-row" style="border: 1px solid #e5e0c7; border-left: none; border-right: none;">
                        <div class="rationale-data-label" style="width: 67%; font-weight: bold; margin-left: 10px;">Total Monthly Cash Flow</div>
                        <div class="rationale-data-label" style="width: 25%; text-align: right; font-weight: bold;">{{ ratSection.GraphDataInfo.TotalAmountString }}</div>
                      </div>
                      <div  ng-if="ratSection.GraphDataInfo.AssociatedAccounts != null && ratSection.GraphDataInfo.AssociatedAccounts.length > 0">
                        <div class="rationale-data-row">
                          <div class="rationale-data-label" style="width: 67%; font-weight: bold; margin-left: 10px; margin-top: 40px; margin-bottom: 5px;">Accounts Associated</div>
                        </div>
                        <div style="border: 1px solid #e5e0c7; border-left: none; border-right: none;">
                          <div class="rationale-data-row" ng-repeat="account in ratSection.GraphDataInfo.AssociatedAccounts track by $index">
                            <div class="rationale-data-label" style="width: 67%; margin-left: 10px;">{{ account.Description }}</div>
                            <div class="rationale-data-label" style="width: 25%; text-align: right;">{{ account.AmountString }}</div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>



                </div>
              </div>

            </div>
          </div>
          <!-- /tabs -->


        </div>
        <div class="modal-footer text-center delete-modal-footer">
          <button type="button" class="iq-submit-btn btn-success btn" data-dismiss="modal">Got it</button>
        </div>
      </div>
    </div>
  </div>



</div>
