<style>
body, footer { background-color: #3b5152; }
footer { background-color: transparent; }
footer p { color: #cfcfcf; }
</style>

<div class="container auth-container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Enter two-factor authentication code</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <form class="auth-form" name="tfaForm" role="form" ng-submit="submit(tfaForm.$valid)" novalidate>
        <p class="text-info">We just sent a text to your mobile phone. Please enter the verification code received below.</p>
        <p class="text-danger" ng-repeat="err in error.base">{{err}}</p>
        <div class="form-group">
          <label class="control-label" for="code">Code</label>
          <input type="code" class="form-control" name="code" required ng-model="code">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember" ng-value="true" ng-model="remember"> Remember this computer
            </label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="iq-submit-btn btn btn-success">Submit code</button>
        </div>
        <ul class="auth-links">
          <li><a href ng-click="logout()">Sign out</a></li>
          <li><a href="mailto:support@iquantifi.com">Contact the iQuantifi team for help.</a></li>
        </ul>
      </form>
    </div>
  </div>
</div>
