<div class="table-static col-lg-12">
  <table class="hovered">
    <thead class="dark">
      <th>Category</th>
      <th>Current</th>
      <th>New</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="expense in expenses" ng-click="selectExpense(expense)" ng-class="{'active': selectedExpense == expense}">
        <td>{{expense.kind | titleize}}</td>
        <td>{{expense.amount | dollars}}</td>
        <td>{{expense.new_amount | dollars}}</td>
        <td class="text-right selected-indicator-wrapper">
          <i class="fa fa-chevron-right"></i>
          <i class="visible-lg selected-indicator" ng-show="selectedExpense == expense"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
