<style>
</style>

<div class="onboarding account">
<div class="content container">
<div ng-include src="'/views/onboard/welcome-box.html'"></div>
<onboard-nav current-step='currentStep'></onboard-nav>
<div class="app-wizard-step1">
<div class="app-wizard-form container">
  <div class="row">
    <div class="col-sm-12 sub-headers">
      <h3 ng-hide="editMode">Add Manual Account</h3>
      <h3 ng-show="editMode">Edit Account</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-8">
      <form name="accountForm" role="form" ng-submit="submit(accountForm.$valid)" novalidate>
        <div class="form-group" ng-class="{'has-error': submitted && accountForm.name.$invalid}">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" required account-name-uniq ng-model="account.name">
          <span ng-show="submitted && accountForm.name.$error.required" class="help-block">Name is required.</span>
          <span ng-show="submitted && accountForm.name.$error.pattern" class="help-block">Name is invalid.</span>
          <span ng-show="submitted && accountForm.name.$error.accountNameUniq" class="help-block">Name has been taken.</span>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && accountForm.balance.$invalid}">
          <label class="control-label" for="balance">Balance</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" name="balance" id="balance" required ng-model="account.balance" maxlength="10" currency-input>
          </div>
          <span ng-show="submitted && accountForm.balance.$error.required" class="help-block">Balance is required.</span>
          <span ng-show="submitted && accountForm.balance.$error.pattern" class="help-block">Balance is invalid.</span>
        </div>

        <div class="form-group" ng-class="{'has-error': submitted && accountForm.type.$invalid}">
          <label class="control-label" for="type">Type</label>
          <select name="type" class="form-control" name="type" id="type" required ng-model="account.kind">
            <option value=""></option>
            <option value="checking">Checking</option>
            <option value="savings">Savings</option>
            <option value="market">Money Market</option>
            <option value="brokerage">Brokerage</option>
            <option value="other">Other</option>
            <option value="education">529 Plan</option>
            <option value="ira401k">401k/403b</option>
            <option value="ira_roth">Roth IRA</option>
            <option value="ira">IRA</option>
            <option value="ira_sep">Sep IRA</option>
            <option value="ira_simple">Simple IRA</option>
          </select>
          <span ng-show="submitted && accountForm.type.$error.required" class="help-block">Type is required.</span>
        </div>
        <div class="form-group" ng-if="account.kind=='ira401k'" ng-class="{'has-error': submitted && accountForm.match.$invalid}">
          <label class="control-label">Match %</label>
          <div class="input-group">
            <input name="match" type="number" placeholder="Match" class="form-control" ng-model="account.match" ng-required="submitted" ng-pattern="/^(\d{1,2})(\.(\d{1,3}))?$/">
            <span class="input-group-addon">%</span>
          </div>
          <span ng-show="submitted && acct.match.$error.required" class="help-block">Match is required.</span>
          <span ng-show="submitted && acct.match.$error.pattern" class="help-block">Match is invalid.</span>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && accountForm.owner.$invalid}">
          <label class="control-label" for="owner">Owner</label>
          <select class="form-control" id="owner" name="owner" required ng-model="account.person.guid" ng-options="person.guid as (person.first_name + ' ' + person.last_name) for person in owners"></select>
          <span ng-show="submitted && accountForm.owner.$error.required" class="help-block">Person is required.</span>
        </div>
        <div class="row">
          <div class="col-sm-12 action-buttons inline-buttons">
            <div ng-if="editMode" class="delete-btn-group">
              <a ng-show="deleting" class="btn-delete"><span class="fa fa-circle-o-notch fa-spin"></span></a>
              <a ng-hide="deleting" class="btn-delete" ng-click="remove()"><span class="fa fa-trash"></span></a>
            </div>
            <a class="iq-submit-btn btn" ng-click="goBack()">Cancel</a>
            <button type="submit" class="iq-submit-btn btn-success btn" ng-disabled="submitted && accountForm.$invalid" ng-hide="processing">{{editMode == true ? "Save Changes" : "Add Account"}}</button>
            <button type="submit" class="iq-submit-btn btn-success btn" ng-show="processing" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
