<div class="app-wizard-step4">
    <p class="step1-info"></p>
    <form name="frmExpense" ng-submit="processForm(frmExpense)" novalidate>
    <div class="app-wizard-form">

      <div class="baby-dash-top">
        <div class="col-xs-12">
          <h5 class="text-center">Based on what you've told us, we've set up some goals for you.</h5>
        </div>

        <div class="row">
          <div class="preset-goals text-center">Already set up for you:</div>
        </div>

        <div class="row baby-goals-container">
          <div class="baby-goal-button col-xs-4" ng-repeat="goal in goals">
            <img class="img-responsive" ng-src="/images/ignore/{{goal.type}}On.svg">
            <span>{{goal.name}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center get-started">Get started adding your own goals:</p>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <a ng-href="/#/add-goal" class="add-goal-button">
            <img class="baby-inner-image" ng-src="/images/svg/add-goalOn.svg">
          </a>
          <div class="add-goal">Add a Goal</div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center"><a href="/#/timeline"><i>I don't want to add a goal now, take me to the dashboard.</i></a></div>
      </div>

    </div>
  </form>
</div>
