<style>
</style>

<div class="onboarding">
<div class="content container">
<div ng-include src="'/views/onboard/welcome-box.html'"></div>
<onboard-nav current-step='currentStep'></onboard-nav>
<div class="app-wizard-step1">
<div class="app-wizard-form container">
  <div class="row">
    <div class="col-sm-12 sub-headers">
      <h3>Link Account</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-8">
      <div class="credentials-container" ng-show="credentials.length && !mfaCredentials.length">
        <form name="credForm" ng-submit="submit(credForm.$valid)" novalidate>
          <div class="form-group">
            <h4><strong>{{institution.name}}</strong></h4>
          </div>
          <div class="form-group" ng-repeat="cred in credentials | orderBy: 'display_order'" ng-class="{'has-error': submitted && credForm.{{cred.field_name}}.$invalid}">
            <label class="control-label">{{cred.label}}</label>
            <input class="form-control" type="{{cred.field_type_name}}" name="{{cred.field_name}}" ng-required="{{!cred.optional}}" ng-model="credentialValues.credentials[cred.guid]" ng-disabled="processing">
            <span ng-show="submitted && credForm.{{cred.field_name}}.$error.required" class="help-block">{{cred.label}} is required.</span>
          </div>
          <div class="inline-buttons">
            <button type="submit" class="iq-submit-btn btn-primary btn" ng-hide="processing">Submit</button>
            <button type="submit" class="iq-submit-btn btn-primary btn" disabled ng-show="processing"><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
            <a href ng-click="goBack()" class="hidden-xs iq-submit-btn btn">Cancel</a>
          </div>
        </form>
      </div>

      <div class="credentials-container" ng-show="mfaCredentials.length">
        <h4>Enter MFA credentials</h4>
        <form name="credMfaForm" ng-submit="submitMfa(credMfaForm.$valid)" novalidate>
          <div class="form-group" ng-repeat="cred in mfaCredentials | orderBy: 'display_order'" ng-class="{'has-error': submitted && credMfaForm.{{cred.field_name}}.$invalid}">
            <label class="control-label">{{cred.label}}</label>
            <input class="form-control" type="{{cred.field_type_name}}" name="{{cred.field_name}}" ng-required="{{!cred.optional}}" ng-model="mfaCredentialValues[cred.guid]" ng-disabled="processingMfa">
            <span ng-show="submitted && credMfaForm.{{cred.field_name}}.$error.required" class="help-block">{{cred.label}} is required.</span>
          </div>
          <div class="inline-buttons">
            <button type="submit" class="iq-submit-btn btn-primary btn" ng-hide="processingMfa">Submit</button>
            <button type="submit" class="iq-submit-btn btn-primary btn" disabled ng-show="processingMfa"><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
            <a href ng-click="goBack()" class="hidden-xs iq-submit-btn btn">Cancel</a>
          </div>
        </form>
      </div>

      <div class="hidden-xs" ng-hide="credentials.length || mfaCredentials.length">
        <a href ng-click="goBack()" class="iq-submit-btn cancel-btn btn">Cancel</a>
      </div>

      <br/>
      <p ng-show="showManual" class="manual-link">Having trouble? You can also
        <a href="/#/onboard/accounts/new" ng-if="onboarding" id="manual-account-link">manually enter an account.</a>
      </p>
    </div>
  </div>
</div>
</div>
</div>
</div>
