<div class="onboarding">
  <div class="content container">
    <div ng-include src="'/views/onboard/welcome-box.html'"></div>
    <onboard-nav current-step='currentStep'></onboard-nav>
    <div class="app-wizard-step1">
      <div class="fix-container">
        <form name="frmExpense" ng-submit="processForm(frmExpense)" novalidate>
          <div class="app-wizard-form has-info-icon container">
            <div class="row">
              <div class="col-sm-12 sub-headers">
                  <h4>Let us know your monthly expenses, but don’t include debt.</h4>
              </div>
            </div>

            <div class="row form-group total-expenses-container" ng-class="{'has-error': submitted && frmExpense.expensesAmount.$invalid}">
              <div class="col-md-9 col-xs-8 total-expenses">
                <label>What are your total household monthly expenses?</label>
                  <span class="hint"><span class="star">*</span>DO NOT include debts like student loans, mortgage, credit cards and car payments.  These will be collected later.</span>
              </div>
              <div class="col-md-3 col-xs-4 expense-input-container">
                <div class="input-group expense-input">
                  <span class="input-group-addon">$</span>
                  <input type="text" name="expensesAmount" placeholder="Amount" class="form-control" ng-model="$root.monthlyExpenses" required ng-disabled="isExpensesFieldDisabled()" ng-change="updateOtherExpenses()" maxlength="10">
                </div>
                <span ng-show="expenses.errors" class="help-block" ng-repeat="err in expenses.errors">{{err}}</span>
                <span ng-show="submitted && frmExpense.expensesAmount.$error.required" class="help-block">Expenses is required.</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <hr class="or-style">
              </div>
            </div>

            <div class="row worksheet-guide">
              <div class="col-sm-12">
                <label>You can fill out the detailed monthly expense sheet. <span class="hint">(Total of the amounts entered below will override the single entry field above.)
                </span></label>
              </div>
            </div>
            <div class="worksheet row col-md-6 col-xs-12" ng-repeat-start="expense in expenses" attr="{{$index}}" ng-class="{'right': $index%2==1}">
              <div class="col-md-5 col-xs-3" ng-switch on="expense.kind">
                <label ng-switch-when="other">Other Expenses</label>
                <label ng-switch-when="hobbies_travel">Hobbies/Travel</label>
                <label ng-switch-when="cable_internet">Cable/Internet</label>
                <label ng-switch-default>{{ expense.kind | titleize}}</label>
              </div>
              <div class="col-md-6 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" name="amt" placeholder="0" class="form-control" ng-model="expense.amount" ng-change="showTotal()" maxlength="10" currency-input>
                </div>
              </div>
              <div class="col-md-1 col-xs-1 info-icon-container">
                <span class="info-icon fa fa-info" aria-hidden="true" ng-click="dislaySubcategories(expense.kind)"></span>
                <div class="popover top fade in" ng-show="expenseSubcategories[expense.kind]['showed']">
                  <div class="arrow"></div>
                  <div class="popover-inner">
                    <div class="popover-content">
                        <i class="fa fa-times" aria-hidden="true" ng-click="expenseSubcategories[expense.kind]['showed'] = false"></i>
                        <p class="title-popover">Groceries</p>
                        <p class="sub-title-popover">Category includes:</p>
                        <p class="subcategories-loading" ng-show="!expenseSubcategories[expense.kind]['loadDone']">
                          <i class="fa fa-circle-o-notch fa-spin"></i>
                        </p>
                        <ul ng-show="expenseSubcategories[expense.kind]['loadDone']">
                          <li ng-repeat="subcategory in expenseSubcategories[expense.kind]['categories']">
                            {{ subcategory }}
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix hidden-xs-block" ng-if="$index%2==1" ng-repeat-end></div>
            </div>
        </form>
      </div>
      <div class="form-footer">
        <a href="{{backPath}}" ng-show="!pending" class="iq-submit-btn btn">Back to Previous Step</a>
        <button type="submit" ng-click="processForm(frmExpense)" ng-show="!pending" class="iq-submit-btn btn-success btn">Submit and Go To Dashboard</button>
        <button type="submit" ng-show="pending" class="iq-submit-btn btn-success btn" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
      </div>
    </div>
  </div>
</div>
