<div class="onboarding">
  <div class="content container">
    <div ng-include src="'/views/onboard/welcome-box.html'"></div>
    <onboard-nav current-step="currentStep"></onboard-nav>
    <form name="frmIncome" ng-submit="processForm(frmIncome)" novalidate>
      <div class="app-wizard-step1">
        <div class="fix-container">
          <div class="app-wizard-form container">
            <div class="manual-income-items">
              <div class="row">
                <div class="col-sm-12 sub-headers">
                  <strong>Note:</strong> Please use your Net Income. (Dollar amount after taking out taxes, credits and deductions from your Gross Income.)
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-static">
                    <table>
                      <thead>
                        <tr>
                          <th>Person</th>
                          <th>Amount</th>
                          <th>Type</th>
                          <th>Frequency</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="income in incomes" ng-form="frmInc" ng-class="{'has-error': submitted && (frmInc.amount.$invalid || frmInc.type.$invalid || frmInc.period.$invalid)}">
                          <td>
                            <label class="control-label">{{income.person.first_name}}'s Net Income</label>
                            <span class="hint"><span class="star">*</span>after taxes</span>
                          </td>
                          <td>
                            <div class="title-res">
                              <label class="control-label">{{income.person.first_name}}'s Net Income</label>
                              <strong>Amount</strong>
                            </div>
                            <div class="input-group">
                              <span class="input-group-addon">$</span>
                              <input type="text" name="amount" placeholder="Amount" class="form-control" ng-model="income.amount" maxlength="10" required currency-input>
                            </div>
                            <span ng-show="income.errors.amount" class="help-block" ng-repeat="err in income.errors.amount">{{err}}</span>
                            <span ng-show="submitted && frmInc.amount.$error.required" class="help-block">Amount is required.</span>
                            <span ng-show="submitted && frmInc.amount.$error.pattern" class="help-block">Amount is invalid.</span>
                          </td>
                          <td>
                            <div class="title-res">
                              <strong>Type</strong>
                            </div>
                            <select name="type" class="form-control" name="type" id="type" required ng-model="income.income_source_type">
                              <option value=""></option>
                              <option value="salary">Salary</option>
                              <option value="alimony">Alimony</option>
                              <option value="commission">Commission</option>
                              <option value="bonus">Bonus</option>
                              <option value="child"> Child Support</option>
                              <option value="rental">Rental Income</option>
                              <option value="other">Other</option>
                            </select>
                            <span ng-show="submitted && frmInc.type.$error.required" class="help-block">Type is required.</span>
                          </td>
                          <td>
                            <div class="title-res">
                              <strong>Frequency</strong>
                            </div>
                            <select name="period" class="form-control" ng-model="income.period" required placeholder="Annual">
                              <option value="annual">Annual</option>
                              <option value="weekly">Weekly</option>
                              <option value="every_two_weeks">Every two weeks</option>
                              <option value="twice_a_month">Twice a month</option>
                              <option value="monthly">Monthly</option>
                            </select>
                            <span ng-show="income.errors.period" class="help-block" ng-repeat="err in income.errors.period">{{err}}</span>
                            <span class="help-block" ng-show="submitted && frmInc.period.$error.required">Income frequency is required.</span>
                          </td>
                          <td></td>
                        </tr>
                        <tr ng-repeat="income in otherIncomes" ng-form name="frmInc" ng-class="{'has-error': submitted && (frmInc.amount.$invalid || frmInc.type.$invalid || frmInc.person_guid.$invalid || frmInc.period.$invalid)}" ng-if="isAnyOtherIncome">
                          <td>
                            <div class="form-group" ng-class="{'has-error': submitted && income.person.$invalid}">
                              <select class="form-control" id="person" name="person" required ng-model="income.person" ng-options="person as (person.first_name + ' ' + person.last_name) for person in owners">
                                <option value="" disabled>Select Person</option>
                              </select>
                              <span ng-show="submitted && frmInc.person.$error.required" class="help-block">Person is required.</span>
                            </div>
                          </td>
                          <td>
                            <div class="title-res add-income">
                              <div class="form-group" ng-class="{'has-error': submitted && income.person.$invalid}">
                                <select class="form-control" id="person" name="person" required ng-model="income.person" ng-options="person as (person.first_name + ' ' + person.last_name) for person in owners">
                                  <option value="" disabled>Select Person</option>
                                </select>
                                <span ng-show="submitted && frmInc.person.$error.required" class="help-block">Person is required.</span>
                              </div>
                              <strong>Amount</strong>
                            </div>
                            <div class="input-group other-income-input">
                              <span class="input-group-addon">$</span>
                              <input name="amount" type="text" placeholder="Income" class="form-control" ng-model="income.amount" maxlength="10" required currency-input>
                            </div>
                            <span ng-show="income.errors.amount" class="help-block" ng-repeat="err in income.errors.amount">{{err}}</span>
                            <span ng-show="submitted && frmInc.amount.$error.required" class="help-block">Amount is required.</span>
                            <span ng-show="submitted && frmInc.amount.$error.pattern" class="help-block">Amount is invalid.</span>
                          </td>
                          <td>
                            <div class="title-res add-income">
                              <strong>Type</strong>
                            </div>
                            <select name="type" class="form-control" name="type" id="type" required ng-model="income.income_source_type">
                              <option value=""></option>
                              <option value="salary">Salary</option>
                              <option value="alimony">Alimony</option>
                              <option value="commission">Commission</option>
                              <option value="bonus">Bonus</option>
                              <option value="child"> Child Support</option>
                              <option value="rental">Rental Income</option>
                              <option value="other">Other</option>
                            </select>
                            <span ng-show="submitted && frmInc.type.$error.required" class="help-block">Type is required.</span>
                          </td>
                          <td>
                            <div class="title-res add-income">
                              <strong>Frequency</strong>
                            </div>
                            <select name="period" class="form-control" ng-model="income.period" required>
                              <option value="annual">Annual</option>
                              <option value="weekly">Weekly</option>
                              <option value="every_two_weeks">Every two weeks</option>
                              <option value="twice_a_month">Twice a month</option>
                              <option value="monthly">Monthly</option>
                            </select>
                            <span ng-show="income.errors.period" class="help-block" ng-repeat="err in income.errors.period">{{err}}</span>
                            <span ng-show="submitted && frmInc.period.$error.required" class="help-block">Income frequency is required.</span>
                          </td>
                          <td>
                            <div class="corner-btn">
                              <a class="btn-delete" ng-click="deleteExtraIncome(income)">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 inline-buttons">
                    <button type="button" class="iq-submit-btn btn" ng-click="resetNewIncomes()">
                      Cancel
                    </button>
                    <button type="button" class="iq-submit-btn btn-success btn" ng-click="addNewIncome()">
                      Add Income
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-footer">
          <a href="{{backPath}}" ng-show="!pending" class="iq-submit-btn btn">Back to Previous Step</a>
          <button type="submit" ng-show="!pending" class="iq-submit-btn btn-success btn">Continue To Next Step</button>
          <button type="submit" ng-show="pending" class="iq-submit-btn btn-success btn" disabled><i class="fa fa-circle-o-notch fa-spin"></i> Processing</button>
        </div>
      </div>
    </form>
  </div>

</div>
